<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a href="#/"><span class='glyphicon glyphicon-circle-arrow-left'></span>Palaa hakemusten päänäkymään</a>
      <a href="#/l/hakemus" class="btn btn-primary">Avustushakemus {{avustushakemus.vuosi}}</a>
      <a href="#" class="btn btn-primary disabled">1. maksatushakemus</a>
      <a href="#" class="btn btn-primary disabled">2. maksatushakemus</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Joukkoliikenten valtionavustushakemus {{avustushakemus.vuosi}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>HAKIJAN TIEDOT</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h4>Kunnan nimi</h4>

      <p>{{hakija}}</p>
      <h4>Pankkitilin numero</h4>

      <p>{{pankkitilinumero}}</p>
    </div>
    <div class="col-md-3">
      <h4>Hakijat</h4>

      <p>Puuttuu</p>

      <p>Puuttuu</p>

      <p>Puuttuu</p>

      <p>Puuttuu</p>
    </div>
    <div class="col-md-3">
      <br>

      <p>Puuttuu</p>

      <p>Puuttuu</p>

      <p>Puuttuu</p>

      <p>Puuttuu</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <br>
      <h4>Päätöksentekijä</h4>

      <p>Puuttuu</p>

      <p>Puuttuu</p>

      <p>Puuttuu</p>

      <p>Puuttuu</p>
    </div>
  </div>
  <div>
    <form name="avustusHakemusForm">
      <div class="row">
        <div class="col-md-12">
          <h3>VALTIONAVUSTUKSEN KOHDE JA HAETTAVA VALTIONAVUSTUKSEN MÄÄRÄ<a href=""><span
            class='glyphicon glyphicon-question-sign'></span></a></h3>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-9">
              <h4 class="panel-title">PSA:n mukaisen liikenteen hankinta</h4>
            </div>
            <div class="col-md-3">
              <div class="pull-right">
                <h4 class="panel-title">{{(psa1haettavaavustus + psa2haettavaavustus + psamhaettavaavustus) | currency:"&euro;"}}</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <h5>Paikallisliikenne</h5>
            </div>
            <div class="col-md-6">
              <div class="form-group" show-errors="{showSuccess: true}">
                <label>Haettava valtionavustus (euroa)</label>
                <input name="psa1haettavaavustus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/"
                       class="form-control"
                       ng-model="psa1haettavaavustus"/>

                <p
                  ng-show="avustusHakemusForm.psa1haettavaavustus.$invalid && !avustusHakemusForm.psa1haettavaavustus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" show-errors="{showSuccess: true}">
                <label>Kunnan oma rahoitusosuus (euroa)</label>
                <input name="psa1omarahoitus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/" class="form-control"
                       ng-model="psa1omarahoitus"/>

                <p
                  ng-show="avustusHakemusForm.psa1omarahoitus.$invalid && !avustusHakemusForm.psa1omarahoitus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5>Integroitu palvelulinja, kaikille avointa</h5>
            </div>
            <div class="col-md-6">
              <div class="form-group" show-errors="{showSuccess: true}">
                <label>Haettava valtionavustus (euroa)</label>
                <input name="psa2haettavaavustus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/"
                       class="form-control"
                       ng-model="psa2haettavaavustus"/>

                <p
                  ng-show="avustusHakemusForm.psa2haettavaavustus.$invalid && !avustusHakemusForm.psa2haettavaavustus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" show-errors="{showSuccess: true}">
                <label>Kunnan oma rahoitusosuus (euroa)</label>
                <input name="psa2omarahoitus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/" class="form-control"
                       ng-model="psa2omarahoitus"/>

                <p
                  ng-show="avustusHakemusForm.psa2omarahoitus.$invalid && !avustusHakemusForm.psa2omarahoitus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5>Muu PSA:n mukaisen liikenteen järjestäminen</h5>
            </div>
            <div class="col-md-6">
              <div class="form-group" show-errors="{showSuccess: true}">
                <label>Haettava valtionavustus (euroa)</label>
                <input name="psamhaettavaavustus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/"
                       class="form-control"
                       ng-model="psamhaettavaavustus"/>

                <p
                  ng-show="avustusHakemusForm.psamhaettavaavustus.$invalid && !avustusHakemusForm.psamhaettavaavustus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" show-errors="{showSuccess: true}">
                <label>Kunnan oma rahoitusosuus (euroa)</label>
                <input name="psamomarahoitus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/" class="form-control"
                       ng-model="psamomarahoitus"/>

                <p
                  ng-show="avustusHakemusForm.psamomarahoitus.$invalid && !avustusHakemusForm.psamomarahoitus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-9">
              <h4 class="panel-title">Hintavelvoitteiden korvaaminen</h4>
            </div>
            <div class="col-md-3">
              <div class="pull-right">
                <h4 class="panel-title">{{(hkslhaettavaavustus + hkklhaettavaavustus + hkllhaettavaavustus +
                  hktlhaettavaavustus) | currency:"&euro;"}}</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <h5>Seutulippu</h5>
            </div>
            <div class="col-md-6">
              <div class="form-group" show-errors="{showSuccess: true}">
                <label>Haettava valtionavustus (euroa)</label>
                <input name="hkslhaettavaavustus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/"
                       class="form-control"
                       ng-model="hkslhaettavaavustus"/>

                <p
                  ng-show="avustusHakemusForm.hkslhaettavaavustus.$invalid && !avustusHakemusForm.hkslhaettavaavustus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" show-errors="{showSuccess: true}">
                <label>Kunnan oma rahoitusosuus (euroa)</label>
                <input name="hkslomarahoitus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/" class="form-control"
                       ng-model="hkslomarahoitus"/>

                <p
                  ng-show="avustusHakemusForm.hkslomarahoitus.$invalid && !avustusHakemusForm.hkslomarahoitus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5>Kaupunkilippu / kuntalippu</h5>
            </div>
            <div class="col-md-6">
              <div class="form-group" show-errors="{showSuccess: true}">
                <label>Haettava valtionavustus (euroa)</label>
                <input name="hkklhaettavaavustus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/"
                       class="form-control"
                       ng-model="hkklhaettavaavustus"/>

                <p
                  ng-show="avustusHakemusForm.hkklhaettavaavustus.$invalid && !avustusHakemusForm.hkklhaettavaavustus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" show-errors="{showSuccess: true}">
                <label>Kunnan oma rahoitusosuus (euroa)</label>
                <input name="hkklomarahoitus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/" class="form-control"
                       ng-model="hkklomarahoitus"/>

                <p
                  ng-show="avustusHakemusForm.hkklomarahoitus.$invalid && !avustusHakemusForm.hkklomarahoitus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5>Liityntälippu (esim. VR, pääkaupunkiseudun)</h5>
            </div>
            <div class="col-md-6">
              <div class="form-group" show-errors="{showSuccess: true}">
                <label>Haettava valtionavustus (euroa)</label>
                <input name="hkllhaettavaavustus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/"
                       class="form-control"
                       ng-model="hkllhaettavaavustus"/>

                <p
                  ng-show="avustusHakemusForm.hkllhaettavaavustus.$invalid && !avustusHakemusForm.hkllhaettavaavustus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" show-errors="{showSuccess: true}">
                <label>Kunnan oma rahoitusosuus (euroa)</label>
                <input name="hkllomarahoitus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/" class="form-control"
                       ng-model="hkllomarahoitus"/>

                <p
                  ng-show="avustusHakemusForm.hkllomarahoitus.$invalid && !avustusHakemusForm.hkllomarahoitus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5>Työmatkalippu</h5>
            </div>
            <div class="col-md-6">
              <div class="form-group" show-errors="{showSuccess: true}">
                <label>Haettava valtionavustus (euroa)</label>
                <input name="hktlhaettavaavustus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/"
                       class="form-control"
                       ng-model="hktlhaettavaavustus"/>

                <p
                  ng-show="avustusHakemusForm.hktlhaettavaavustus.$invalid && !avustusHakemusForm.hktlhaettavaavustus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" show-errors="{showSuccess: true}">
                <label>Kunnan oma rahoitusosuus (euroa)</label>
                <input name="hktlomarahoitus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/" class="form-control"
                       ng-model="hktlomarahoitus"/>

                <p
                  ng-show="avustusHakemusForm.hktlomarahoitus.$invalid && !avustusHakemusForm.hktlomarahoitus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-9">
              <h4 class="panel-title">Liikenteen suunnittelu- ja kehittämishankkeet</h4>
            </div>
            <div class="col-md-3">
              <div class="pull-right">
                <h4 class="panel-title">{{(kimhaettavaavustus + kmpkhaettavaavustus + kmkhaettavaavustus +
                  krthaettavaavustus + kmhaettavaavustus) | currency:"&euro;"}}</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <h5>Informaatio- ja maksujärjestelmien kehittäminen</h5>
            </div>
            <div class="col-md-6">
              <div class="form-group" show-errors="{showSuccess: true}">
                <label>Haettava valtionavustus (euroa)</label>
                <input name="kimhaettavaavustus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/" class="form-control"
                       ng-model="kimhaettavaavustus"/>

                <p
                  ng-show="avustusHakemusForm.kimhaettavaavustus.$invalid && !avustusHakemusForm.kimhaettavaavustus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" show-errors="{showSuccess: true}">
                <label>Kunnan oma rahoitusosuus (euroa)</label>
                <input name="kimomarahoitus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/" class="form-control"
                       ng-model="kimomarahoitus"/>

                <p
                  ng-show="avustusHakemusForm.kimomarahoitus.$invalid && !avustusHakemusForm.kimomarahoitus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5>Matkapalvelukeskuksen suunnittelu ja kehittäminen</h5>
            </div>
            <div class="col-md-6">
              <div class="form-group" show-errors="{showSuccess: true}">
                <label>Haettava valtionavustus (euroa)</label>
                <input name="kmpkhaettavaavustus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/"
                       class="form-control"
                       ng-model="kmpkhaettavaavustus"/>

                <p
                  ng-show="avustusHakemusForm.kmpkhaettavaavustus.$invalid && !avustusHakemusForm.kmpkhaettavaavustus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" show-errors="{showSuccess: true}">
                <label>Kunnan oma rahoitusosuus (euroa)</label>
                <input name="kmpkomarahoitus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/" class="form-control"
                       ng-model="kmpkomarahoitus"/>

                <p
                  ng-show="avustusHakemusForm.kmpkomarahoitus.$invalid && !avustusHakemusForm.kmpkomarahoitus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5>Matkakeskuksen suunnittelu ja kehittäminen</h5>
            </div>
            <div class="form-group" show-errors="{showSuccess: true}">
              <div class="col-md-6">
                <label>Haettava valtionavustus (euroa)</label>
                <input name="kmkhaettavaavustus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/" class="form-control"
                       ng-model="kmkhaettavaavustus"/>

                <p
                  ng-show="avustusHakemusForm.kmkhaettavaavustus.$invalid && !avustusHakemusForm.kmkhaettavaavustus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" show-errors="{showSuccess: true}">
                <label>Kunnan oma rahoitusosuus (euroa)</label>
                <input name="kmkomarahoitus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/" class="form-control"
                       ng-model="kmkomarahoitus"/>

                <p
                  ng-show="avustusHakemusForm.kmkomarahoitus.$invalid && !avustusHakemusForm.kmkomarahoitus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5>Raitiotien suunnittelu</h5>
            </div>
            <div class="col-md-6">
              <div class="form-group" show-errors="{showSuccess: true}">
                <label>Haettava valtionavustus (euroa)</label>
                <input name="krthaettavaavustus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/" class="form-control"
                       ng-model="krthaettavaavustus"/>

                <p
                  ng-show="avustusHakemusForm.krthaettavaavustus.$invalid && !avustusHakemusForm.krthaettavaavustus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" show-errors="{showSuccess: true}">
                <label>Kunnan oma rahoitusosuus (euroa)</label>
                <input name="krtomarahoitus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/" class="form-control"
                       ng-model="krtomarahoitus"/>

                <p
                  ng-show="avustusHakemusForm.krtomarahoitus.$invalid && !avustusHakemusForm.krtomarahoitus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5>Muu hanke, mikä?</h5>
            </div>
            <div class="col-md-6">
              <div class="form-group" show-errors="{showSuccess: true}">
                <label>Haettava valtionavustus (euroa)</label>
                <input name="kmhaettavaavustus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/" class="form-control"
                       ng-model="kmhaettavaavustus"/>

                <p
                  ng-show="avustusHakemusForm.kmhaettavaavustus.$invalid && !avustusHakemusForm.kmhaettavaavustus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" show-errors="{showSuccess: true}">
                <label>Kunnan oma rahoitusosuus (euroa)</label>
                <input name="kmomarahoitus" type="number" min="0" ng-pattern="/^[0-9]{1,12}$/" class="form-control"
                       ng-model="kmomarahoitus"/>

                <p
                  ng-show="avustusHakemusForm.kmomarahoitus.$invalid && !avustusHakemusForm.kmomarahoitus.$pristine"
                  class="help-block">Arvon tulee olla kokonaisluku.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <h4>JOUKKOLIIKENTEEN VALTIONAVUSTUSHAKEMUS YHTEENSÄ:</h4>
        </div>
        <div class="col-md-3">
          <div class="pull-right">
            <h4>{{(psa1haettavaavustus + psa2haettavaavustus + psamhaettavaavustus + hkslhaettavaavustus +
              hkklhaettavaavustus + hkllhaettavaavustus +
              hktlhaettavaavustus + kimhaettavaavustus + kmpkhaettavaavustus + kmkhaettavaavustus +
              krthaettavaavustus + kmhaettavaavustus) | currency:"&euro;"}}</h4>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <label>Lisätietoja avustusten kohteista<a href=""><span
              class='glyphicon glyphicon-question-sign'></span></a></label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <textarea class="animate msd-elastic: \n;" ng-model="avustushakemus.selite"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <fieldset>
              <legend>Liitetiedostot</legend>
              <div ng-file-drop="" ng-model="files" class="drop-box ng-isolate-scope ng-valid ng-dirty well"
                   drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" multiple="true"
                   allow-dir="true"
                   accept="image/*,*pdf" ng-file-change="upload(files)">Raahaa kuvat tai PDF:t tähän
              </div>
              <div style="display: none;" ng-no-file-drop="" class="drop-box">File Farg&amp;Drop not supported on your
                browser
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <a href="#/"><span class='glyphicon glyphicon-circle-arrow-left'></span>Palaa hakemusten päänäkymään</a>
        </div>
        <div class="col-md-2">
          <div ng-show="(avustushakemus.hakemustilatunnus == 'K')">
            <button data-ng-click="tallennaAvustushakemus()" class="pull-right btn btn-primary">Tallenna tiedot
            </button>
          </div>
          <div ng-hide="(avustushakemus.hakemustilatunnus == 'K')">
            <button data-ng-click="tallennaAvustushakemus()" class="pull-right btn btn-primary" disabled>Tallenna
              tiedot
            </button>
          </div>
        </div>
        <div class="col-md-2">
          <button data-ng-click="naytaAvustushakemus()" class="pull-right btn btn-primary">Hakemuksen esikatselu
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>HAKEMUKSEN PÄIVÄMÄÄRÄ JA PÄÄTÖKSENTEKIJÄ</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>Oikeudet hakemuksen lähettämiseen on käyttäjillä, joka toimivat organisaatiossa hakemuksen hyväksyjinä
            ja
            päätöksentekijöinä.</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h5>Päivämäärä</h5>

          <p>{{aikaleima | date:'dd.MM.yyyy'}}</p>
        </div>
        <div class="col-md-6">
          <h5>Päätöksentekijä</h5>

          <p>_kirjautuneen päätöksentekijän nimi_</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div ng-show="(avustushakemus.hakemustilatunnus == 'K')">
            <button data-ng-click="lahetaAvustushakemus()" class="pull-right btn btn-success">Lähetä hakemus</button>
          </div>
          <div ng-hide="(avustushakemus.hakemustilatunnus == 'K')">
            <button data-ng-click="lahetaAvustushakemus()" class="pull-right btn btn-success" disabled>Lähetä hakemus
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>





