<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-9">
        <h4 class="panel-title">PSA:n mukaisen liikenteen hankinta</h4>
      </div>
      <div class="col-md-3">
        <div class="pull-right">
          <h4 class="panel-title">{{(psa1haettavaavustus + psa2haettavaavustus + psamhaettavaavustus) | currency:"&euro;"}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <h5>Paikallisliikenne</h5>
      </div>
      <div class="col-md-6">
        <div class="form-group" show-errors="{showSuccess: true}">
          <label>Haettava valtionavustus</label>
          <input name="psa1haettavaavustus" type="text" min="-0.0001" ng-currency="" noenter
                 ng-readonly="isReadonly()" class="form-control"
                 ng-model="akl['1'].haettavaavustus"
                 ui-validate="{positiivinenArvo: 'positiivinenArvo($value)'}"/>

          <p
            ng-show="hakemusForm.psa1haettavaavustus.$error.positiivinenArvo && !hakemusForm.psa1haettavaavustus.$pristine"
            class="help-block">Arvon tulee olla positiivinen (0 - 999 999 999).</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" show-errors="{showSuccess: true}">
          <label>Kunnan oma rahoitusosuus</label>
          <input name="psa1omarahoitus" type="text" min="-0.0001" ng-currency="" noenter class="form-control"
                 ng-readonly="isReadonly()" ng-model="akl['1'].omarahoitus"
                 ui-validate="{omarahoitusRiittava: 'omarahoitusRiittava($value,akl[&quot;1&quot;].haettavaavustus)',positiivinenArvo: 'positiivinenArvo($value)'}"
                 ui-validate-watch=" 'akl[&quot;1&quot;].haettavaavustus' "/>

          <p
            ng-show="hakemusForm.psa1omarahoitus.$error.positiivinenArvo && !hakemusForm.psa1omarahoitus.$pristine"
            class="help-block">Arvon tulee olla positiivinen (0 - 999 999 999).</p>

          <p
            ng-show="hakemusForm.psa1omarahoitus.$error.omarahoitusRiittava && !hakemusForm.psa1omarahoitus.$pristine"
            class="help-block">Oma rahoitusosuus tulee olla vähintään haettavan avustusosuuden suuruinen.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Integroitu palvelulinja, kaikille avointa</h5>
      </div>
      <div class="col-md-6">
        <div class="form-group" show-errors="{showSuccess: true}">
          <label>Haettava valtionavustus</label>
          <input name="psa2haettavaavustus" type="text" min="-0.0001" ng-currency=""
                 ng-readonly="isReadonly()" noenter class="form-control"
                 ng-model="akl['2'].haettavaavustus" ui-validate="{positiivinenArvo: 'positiivinenArvo($value)'}"/>

          <p
            ng-show="hakemusForm.psa2haettavaavustus.$error.positiivinenArvo && !hakemusForm.psa2haettavaavustus.$pristine"
            class="help-block">Arvon tulee olla positiivinen (0 - 999 999 999).</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" show-errors="{showSuccess: true}">
          <label>Kunnan oma rahoitusosuus</label>
          <input name="psa2omarahoitus" type="text" min="-0.0001" ng-currency="" noenter class="form-control"
                 ng-readonly="isReadonly()" ng-model="akl['2'].omarahoitus"
                 ui-validate="{omarahoitusRiittava: 'omarahoitusRiittava($value,akl[&quot;2&quot;].haettavaavustus)',positiivinenArvo: 'positiivinenArvo($value)'}"
                 ui-validate-watch=" 'akl[&quot;2&quot;].haettavaavustus' "/>

          <p
            ng-show="hakemusForm.psa2omarahoitus.$error.positiivinenArvo && !hakemusForm.psa2omarahoitus.$pristine"
            class="help-block">Arvon tulee olla positiivinen (0 - 999 999 999).</p>

          <p
            ng-show="hakemusForm.psa2omarahoitus.$error.omarahoitusRiittava && !hakemusForm.psa2omarahoitus.$pristine"
            class="help-block">Oma rahoitusosuus tulee olla vähintään haettavan avustusosuuden suuruinen.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Muu PSA:n mukaisen liikenteen järjestäminen</h5>
      </div>
      <div class="col-md-6">
        <div class="form-group" show-errors="{showSuccess: true}">
          <label>Haettava valtionavustus</label>
          <input name="psamhaettavaavustus" type="text" min="-0.0001" ng-currency=""
                 ng-readonly="isReadonly()" noenter class="form-control"
                 ng-model="akl['M'].haettavaavustus" ui-validate="{positiivinenArvo: 'positiivinenArvo($value)'}"/>

          <p
            ng-show="hakemusForm.psamhaettavaavustus.$error.positiivinenArvo && !hakemusForm.psamhaettavaavustus.$pristine"
            class="help-block">Arvon tulee olla positiivinen (0 - 999 999 999).</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" show-errors="{showSuccess: true}">
          <label>Kunnan oma rahoitusosuus</label>
          <input name="psamomarahoitus" type="text" min="-0.0001" ng-currency="" noenter class="form-control"
                 ng-readonly="isReadonly()" ng-model="akl['M'].omarahoitus"
                 ui-validate="{omarahoitusRiittava: 'omarahoitusRiittava($value,akl[&quot;M&quot;].haettavaavustus)',positiivinenArvo: 'positiivinenArvo($value)'}"
                 ui-validate-watch=" 'akl[&quot;M&quot;].haettavaavustus' "/>

          <p
            ng-show="hakemusForm.psamomarahoitus.$error.positiivinenArvo && !hakemusForm.psamomarahoitus.$pristine"
            class="help-block">Arvon tulee olla positiivinen (0 - 999 999 999).</p>

          <p
            ng-show="hakemusForm.psamomarahoitus.$error.omarahoitusRiittava && !hakemusForm.psamomarahoitus.$pristine"
            class="help-block">Oma rahoitusosuus tulee olla vähintään haettavan avustusosuuden suuruinen.</p>
        </div>
      </div>
    </div>
  </div>
</div>
