.panel
  border: 0
  box-shadow: none
  .panel-heading
    border: 0
    box-shadow: none
    h4
      font-weight: 700
      i
        margin-right 0.5em
  .panel-heading+.panel-collapse > .panel-body
    border: 0

.panel-body
  h4
    font-weight: 400
    text-transform: uppercase
    border-bottom: 1px solid colors.lining
    padding-bottom: 0.5em
    margin-bottom: 1.5em
