<div class="container">
  <div ng-repeat="hakemuskausi in avoimetHakemuskaudet | orderBy: 'vuosi': true" class="well uusihakemuskausi">
    <h2 class="hakemuskausi-otsikko">Hakemuskausi {{hakemuskausi.vuosi}}
      <small uib-tooltip="Avaamaton (ei käynnistetty) hakemuskausi näkyy hakijoille vasta sen jälkeen kun se on käynnistetty.">Avaamaton</small>
    </h2>

    <div class="row">
      <div class="col-md-3" ng-repeat="tyyppitunnus in constants.hakemustyypit track by $index">
        <hakemuskausi-panel class="hakemuskausi-panel_auki"
          inactive="!utils.hakemusKaynnissa(utils.haeHakemus(hakemuskausi, tyyppitunnus))"
          title="{{tyyppitunnus | toApplicationName}}"
          ui-sref="app.yhteinen.hakemukset.list({tyyppi: tyyppitunnus})">
          <hakemus-summary
            kausi-id="$index"
            hakemuskauden-tila="hakemuskausi.tilatunnus"
            hakemus="utils.haeHakemus(hakemuskausi, tyyppitunnus)"
            on-save="tallennaHakuajat(hakemuskausi.vuosi, utils.haeHakemus(hakemuskausi, tyyppitunnus), values)">
          </hakemus-summary>
        </hakemuskausi-panel>
      </div>
    </div>

    <juku-hakuohje></juku-hakuohje>

    <div class="row">
      <div class="col-md-12">
        <button
          ng-disabled="!voiKaynnistaa(hakemuskausi)"
          ng-click="kaynnistaHakemuskausi(hakemuskausi.vuosi)"
          class="btn btn-success btn-lg pull-right">
          Käynnistä hakemuskausi
        </button>
      </div>
    </div>
  </div>

  <h3>KÄYNNISSÄ OLEVAT HAKEMUSKAUDET</h3>

  <div ng-repeat="hakemuskausi in kaynnistetytHakemuskaudet | orderBy: 'vuosi': true" class="well">

    <h2 class="hakemuskausi-otsikko">Hakemuskausi {{hakemuskausi.vuosi}}</h2>

    <div class="row">
      <div class="col-md-3" ng-repeat="tyyppitunnus in constants.hakemustyypit track by $index">
        <hakemuskausi-panel class="hakemuskausi-panel_auki"
          inactive="!utils.hakemusKaynnissa(utils.haeHakemus(hakemuskausi, tyyppitunnus))"
          title="{{tyyppitunnus | toApplicationName}}"
          ui-sref="app.yhteinen.hakemukset.list({tyyppi: tyyppitunnus})">
          <hakemus-summary
            kausi-id="$index"
            hakemuskauden-tila="hakemuskausi.tilatunnus"
            hakemus="utils.haeHakemus(hakemuskausi, tyyppitunnus)"
            on-save="tallennaHakuajat(hakemuskausi.vuosi, utils.haeHakemus(hakemuskausi, tyyppitunnus))">
          </hakemus-summary>
        </hakemuskausi-panel>
      </div>
    </div>

    <juku-hakuohje></juku-hakuohje>

    <div class="row">
      <div class="col-md-12">
      <button
        class="btn btn-primary btn-lg pull-right"
        juku-varmistusdialogi varmistusotsake="Hakemuskauden päättäminen"
        varmistusteksti="Oletko varma, että haluat päättää käynnissäolevan hakemuskauden? Hakemuksiin ja hakemuskauden tietoihin ei ole mahdollista tehdä mitään muutoksia kauden päättämisen jälkeen."
        operaatio="suljeHakemuskausi(hakemuskausi.vuosi)">
        Päätä hakemuskausi
      </button>
      </div>
    </div>
  </div>

  <h3>SULJETUT HAKEMUSKAUDET</h3>

  <div ng-repeat="hakemuskausi in suljetutHakemuskaudet | orderBy: 'vuosi': true" class="well">
    <h2 class="hakemuskausi-otsikko">Hakemuskausi {{hakemuskausi.vuosi}} <small>Suljettu</small></h2>

    <div class="row">
      <div class="col-md-3" ng-repeat="tyyppitunnus in constants.hakemustyypit track by $index">
        <hakemuskausi-panel class="hakemuskausi-panel_suljettu"
          inactive="!utils.hakemusKaynnissa(utils.haeHakemus(hakemuskausi, tyyppitunnus))"
          title="{{tyyppitunnus | toApplicationName}}"
          ui-sref="app.yhteinen.hakemukset.list({tyyppi: tyyppitunnus})">
          <hakemus-summary
            kausi-id="$index"
            hakemuskauden-tila="hakemuskausi.tilatunnus"
            hakemus="utils.haeHakemus(hakemuskausi, tyyppitunnus)"
            on-save="tallennaHakuajat(hakemuskausi.vuosi, utils.haeHakemus(hakemuskausi, tyyppitunnus), values)">
          </hakemus-summary>
        </hakemuskausi-panel>
      </div>
    </div>

    <p>
      <a href="{{getHakuohjePdf(hakemuskausi.vuosi)}}" target="_blank">
        Hakuohje suurille ja keskisuurille kaupunkiseuduille
      </a>
    </p>
  </div>
</div>
