<button class="btn btn-primary"
        ng-show="sallittu('modify-hakemuskausi')"
        ngf-select ngf-change="uploadHakuohje($files, hakemuskausi)" accept="application/pdf" ngf-pattern=".pdf" name="hakuohje"
        data-toggle="tooltip"
        data-tooltip-trigger="mouseenter"
        data-tooltip-placement="bottom"
        uib-tooltip="Voimassaoleva hakuohje (PDF) joukkoliikenteen valtionavustuksista">
  <span>
    {{ hakuohjeLadattu(hakemuskausi) ? 'Korvaa ladattu hakuohje':' Lataa hakuohje' }}
  </span>
</button>
