<div class="container">
  <div ng-hide="sallittu('kasittely-hakemus')">
    <p>Ei hakemuksen käsittelyoikeutta.</p>
  </div>
  <div ng-show="sallittu('kasittely-hakemus')">
    <div class="row">
      <div class="col-md-12">
        <juku-link-prev href="#/k/suunnittelu/{{vuosi}}/{{tyyppi}}/{{lajitunnus}}">
          Palaa suunnittelunäkymään
        </juku-link-prev>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Valtionavustuspäätös vuodelle {{avustushakemus.vuosi}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>HAKEMUSTIEDOT</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label>Hakija</label>

        <p>{{hakija}}</p>

        <p>{{avustushakemus.lahettaja}}</p>
      </div>
      <div class="col-md-4">
        <label>Päivämäärä</label>

        <p>{{avustushakemus.lahetysaika | date:'dd.MM.yyyy'}}</p>
      </div>
      <div class="col-md-4">
        <label>Diaarinumero</label>

        <p><a href="api/hakemus/{{avustushakemus.id}}/pdf" target="_blank"><span
          class="glyphicon glyphicon-file"></span>{{avustushakemus.diaarinumero}}</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label>Haettu avustus</label>

        <p>{{haettuavustus| currency:"&euro;"}}</p>
      </div>
      <div class="col-md-4">
        <label>Hakemuksen tila</label>

        <p>
          <hakemus-label tila="{{avustushakemus.hakemustilatunnus}}"/>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>PÄÄTÖS</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>Myönnetty avustus</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>{{avustus| currency:"&euro;"}}</p>
      </div>
    </div>
    <form name="paatosForm" juku-poistumisvaroitus="">
      <div class="form-group">
        <label>Päätösteksti</label>
        <div ng-show="hakemusTarkastettu()">
          <textarea id="paatosteksti" name="paatosteksti" class="animate msd-elastic: \n;"
                    ng-model="paatos.selite"></textarea>
        </div>
        <div ng-hide="hakemusTarkastettu()">
          <p>{{paatos.selite}}</p>
        </div>
      </div>
    </form>
    <br>

    <div class="row">
      <div class="col-md-6">
        <juku-link-prev href="#/k/suunnittelu/{{vuosi}}/{{tyyppi}}/{{lajitunnus}}">
          Palaa suunnittelunäkymään
        </juku-link-prev>
      </div>
      <div class="col-md-3">
        <div ng-show="hakemusTarkastettu()">
          <button data-ng-click="tallennaPaatos(0)" class="pull-right btn btn-primary">Tallenna tiedot
          </button>
        </div>
        <div ng-hide="hakemusTarkastettu()">
          <button data-ng-click="tallennaPaatos(0)" class="pull-right btn btn-primary" disabled>Tallenna
            tiedot
          </button>
        </div>
      </div>
      <div class="col-md-3">
        <div ng-show="hakemusTarkastettu()">
          <button data-ng-click="naytaPaatos()" class="pull-right btn btn-primary">
            Tallenna ja esikatsele päätös
          </button>
        </div>
        <div ng-hide="hakemusTarkastettu()">
          <button data-ng-click="naytaPaatos()" class="pull-right btn btn-primary">
            Esikatsele päätös
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h5>Päivämäärä</h5>

        <p>{{aikaleima | date:'dd.MM.yyyy'}}</p>
      </div>
      <div class="col-md-4">
        <h5>Esittelijä</h5>

        <p>{{avustushakemus.kasittelijanimi}}</p>
      </div>
      <div class="col-md-4">
        <h5>Päätöksentekijä</h5>

        <p>{{paatos.paattajanimi}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-3">
        <div ng-show="(hakemusTarkastettu() && sallittu('hyvaksy-paatos'))">
          <button juku-varmistusdialogi varmistusotsake="Päätöksen hyväksyminen"
                  varmistusteksti="Oletko varma, että haluat hyväksyä päätöksen? Päätöksen hyväksymistä ei ole mahdollista peruuttaa ja päätöstä ei ole mahdollista muuttaa hyväksymisen jälkeen."
                  operaatio="tallennaPaatos(2)" class="pull-right btn btn-success">Tallenna ja hyväksy päätös
          </button>
        </div>
        <div ng-hide="(hakemusTarkastettu() && sallittu('hyvaksy-paatos'))">
          <button data-ng-click="tallennaPaatos(2)" class="pull-right btn btn-success disabled-button-tooltip" disabled>
            Tallenna ja hyväksy
            päätös
          </button>
          <div tooltip="Päätöksenteko vaatii Päätöksentekijä-tason käyttöoikeudet JUKUun"
               class="disabled-button-tooltip-text"></div>
        </div>
      </div>
    </div>
  </div>
</div>
