<div class="container">
  <div ng-hide="sallittu('kasittely-hakemus')">
    <p>Ei hakemuksen käsittelyoikeutta.</p>
  </div>
  <div ng-show="sallittu('kasittely-hakemus')">
    <div class="row">
      <div ng-show="onAvustushakemus()" class="col-md-12">
        <h2><b>Suunnittelunäkymä - avustushakemukset {{vuosi}}</b></h2>
      </div>
      <div ng-show="onMaksatushakemus1()" class="col-md-12">
        <h2><b>Suunnittelunäkymä - maksatushakemukset 1.1-30.6.{{vuosi}}</b></h2>
      </div>
      <div ng-show="onMaksatushakemus2()" class="col-md-12">
        <h2><b>Suunnittelunäkymä - maksatushakemukset 1.7-31.12.{{vuosi}}</b></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div ng-show="hakijaSuuriKaupunkiseutu()">
          <div class="suunnitteluheader">Suuret kaupunkiseudut</div>
        </div>
        <div ng-show="hakijaKeskisuuriKaupunkiseutu()">
          <div class="suunnitteluheader">Keskisuuret kaupunkiseudut</div>
        </div>
        <div ng-show="hakijaElyKeskus()">
          <div class="suunnitteluheader">Ely-keskukset</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label>Määräraha vuosi {{vuosi}}</label>
        <input type="text" min="-0.0001" ng-currency="" class="form-control"
               ng-focus="asetaVanhaArvo(maararaha)"
               ng-model="maararaha"
               ng-blur="paivitaKokonaismaararaha('maararaha')"/>
      </div>
      <div class="col-md-4">
        <label>Siirtomääräraha vuodelta {{vuosi-1}}</label>
        <input type="text" min="-0.0001" ng-currency="" class="form-control"
               ng-focus="asetaVanhaArvo(ylijaama)"
               ng-model="ylijaama"
               ng-blur="paivitaKokonaismaararaha('ylijaama')"/>
      </div>
      <div class="col-md-4">
        <label>YHTEENSÄ</label>
        <input type="text" min="-0.0001" ng-currency="" class="form-control"
               ng-model="jaettavaraha" disabled/>
      </div>
    </div>
    <table st-table="hakemuksetSuunnittelu" class="table table-hover table-condensed table-striped">
      <thead>
      <tr>
        <th>Hakija</th>
        <th>Haettu avustus</th>
        <th>Muutos</th>
        <th>Myönnettävä avustus</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="hakemus in hakemuksetSuunnittelu">
        <td>{{hakemus.hakija}}</td>
        <td>
          <div ng-show="(hakemusTarkastettu(hakemus) || hakemusPaatetty(hakemus))">
            {{hakemus.haettuAvustus|currency:"&euro;"}}
          </div>
          <div ng-hide="(hakemusTarkastettu(hakemus) || hakemusPaatetty(hakemus))">
            <hakemus-label tila="{{hakemus.hakemuksenTila}}"></hakemus-label>
          </div>
        </td>
        <td>{{hakemus.muutos|currency:"&euro;"}}</td>
        <td>
          <div ng-show="hakemusPaatetty(hakemus)">
            <p>{{hakemus.myonnettavaAvustus|currency:"&euro;"}}</p>
          </div>
          <div ng-hide="hakemusPaatetty(hakemus)">
            <input id="avustus_{{hakemus.hakemusId}}" type="text" min="-0.0001" ng-currency="" class="form-control"
                   ng-model="hakemus.myonnettavaAvustus"
                   ng-focus="asetaVanhaArvo(hakemus.myonnettavaAvustus)"
                   ng-blur="paivitaAvustus(hakemus.myonnettavaAvustus,hakemus.hakemusId)"/>
          </div>
        </td>
        <td>
          <div ng-show="hakemusPaatetty(hakemus)">
            <button class="btn btn-success"
                    ng-click="siirryPaatokseen(hakemus.hakemusId,hakemus.haettuAvustus, hakemus.myonnettavaAvustus)">
              Päätetty<span
              class='glyphicon glyphicon-play'/>
            </button>
          </div>
          <div ng-hide="hakemusPaatetty(hakemus)">
            <juku-link-next
                ng-click="siirryPaatokseen(hakemus.hakemusId,hakemus.haettuAvustus, hakemus.myonnettavaAvustus)">
              Päätöksentekoon
            </juku-link-next>
          </div>
        </td>
      </tr>
      <tr>
        <td>Yhteensä</td>
        <td>{{haettuAvustusSum|currency:"&euro;"}}</td>
        <td>{{muutosSum|currency:"&euro;"}}</td>
        <td>{{myonnettavaAvustusSum|currency:"&euro;"}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-12">
        <juku-link-prev href="#/k/hakemukset/{{tyyppi}}">
          Palaa avustushakemusten suunnittelunäkymään
        </juku-link-prev>
      </div>
    </div>
  </div>
</div>
