<div id="suunnittelu" class="container">
  <div ng-hide="sallittu('kasittely-hakemus')">
    <p>Ei hakemuksen käsittelyoikeutta.</p>
  </div>
  <div ng-show="sallittu('kasittely-hakemus')">

    <juku-form-row>
      <h2 ng-show="isAvustushakemus()">
        Suunnittelunäkymä - avustushakemukset {{vuosi}} <br/>
        <small> {{ lajitunnus | toApplicantName }}</small>
      </h2>

      <h2 ng-show="isMaksatushakemus1()">
        Suunnittelunäkymä - maksatushakemukset 1.1-30.6.{{vuosi}}
      </h2>

      <h2 ng-show="isMaksatushakemus2()">
        Suunnittelunäkymä - maksatushakemukset 1.7-31.12.{{vuosi}}
      </h2>

      <h2 ng-show="isElyhakemus()">
        Suunnittelu- ja päätöksenteko - Ely-hakemukset {{vuosi}}
      </h2>
    </juku-form-row>

    <h3>Määrärahat</h3>

    <ng-form name="maararahaForm">
      <juku-form-row>
        <div class="col-md-4">
          <div class="form-group" show-errors="{showSuccess: true}">
            <label>Määräraha vuosi {{vuosi}}</label>

            <input id="maararaha" name="maararaha" type="text" numeric-only unit="€"
                   class="form-control"
                   ng-focus="asetaVanhaArvo(maararaha)"
                   ng-model-options="{ allowInvalid: true }"
                   ng-model="maararaha"
                   ng-blur="paivitaKokonaismaararaha('maararaha')"
                   ui-validate="{sallittuArvo: 'sallittuArvo($value)'}"
                   ng-readonly="isMaksatushakemus1() || isMaksatushakemus2()"
                   select-on-click/>
            <span ng-hide="sallittuArvo(maararaha)"
                  class="help-block ng-invalid-sallittu-arvo">
              Arvon tulee olla välillä 0 - 999 999 999,99 € (sis. ALV).
            </span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group" show-errors="{showSuccess: true}">
            <label>Siirtomääräraha vuodelta {{vuosi-1}}</label>
            <input id="ylijaama" name="ylijaama" type="text" numeric-only unit="€"
                   class="form-control"
                   ng-focus="asetaVanhaArvo(ylijaama)"
                   ng-model-options="{ allowInvalid: true }"
                   ng-model="ylijaama"
                   ui-validate="{sallittuArvo: 'sallittuArvo($value)'}"
                   ng-readonly="isMaksatushakemus1() || isMaksatushakemus2()"
                   ng-blur="paivitaKokonaismaararaha('ylijaama')" select-on-click/>
            <span ng-hide="sallittuArvo(ylijaama)"
                  class="help-block ng-invalid-sallittu-arvo">
              Arvon tulee olla välillä 0 - 999 999 999,99 € (sis. ALV).
            </span>
          </div>
        </div>
        <div class="col-md-4">
          <label>YHTEENSÄ</label>
          <input type="text" numeric-only unit="€" class="form-control"
                 ng-model="jaettavaraha" ng-class="{'varoitusvari':myonnettyLiikaa()}" disabled/>
        </div>
      </juku-form-row>
      <div ng-show="myonnettyLiikaa()" class="row alert alert-warning">
        <p>
          Myönnettävien avustusten yhteenlaskettu summa on suurempi kuin vuodelle myönnetty määräraha.
        </p>
      </div>
      <h3>Hakemukset</h3>
    </ng-form>
    <ng-form name="suunnitteluForm"
    <juku-form-row>
      <table st-table="hakemuksetSuunnittelu" class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>Hakija</th>
            <th>Tila</th>
            <th>Haettu avustus</th>
            <th>Muutos</th>
            <th>Myönnettävä avustus</th>
            <th><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="hakemus in hakemuksetSuunnittelu">
            <td ng-click="siirryHakemukseen(hakemus)">{{hakemus.hakija}}</td>
            <td ng-click="siirryHakemukseen(hakemus)">
              <hakemus-label tila="{{hakemus.hakemuksenTila}}"></hakemus-label>
            </td>
            <td ng-click="siirryHakemukseen(hakemus)">
              <div ng-hide="hakemusKeskenerainen(hakemus)">{{hakemus.haettuAvustus|currency:"&euro;"}}</div>
              <div ng-show="hakemusKeskenerainen(hakemus)">Ei tiedossa</div>
            </td>
            <td ng-click="siirryHakemukseen(hakemus)">
              <div ng-hide="hakemusKeskenerainen(hakemus)">{{muutos(hakemus)|currency:"&euro;"}}</div>
            </td>
            <td>
              <div ng-show="hakemusPaatetty(hakemus)">
                {{hakemus.myonnettavaAvustus|currency:"&euro;"}}
              </div>
              <div ng-hide="hakemusPaatetty(hakemus) || hakemusKeskenerainen(hakemus) || hakemusVireilla(hakemus)"
                   class="form-group"
                   show-errors="{showSuccess: true}">
                <input id="avustus_{{hakemus.hakemusId}}" name="avustus_{{hakemus.hakemusId}}" type="text"
                       numeric-only unit="€" class="form-control"
                       ng-model="hakemus.myonnettavaAvustus"
                       ng-model-options="{ allowInvalid: true }"
                       ui-validate="{sallittuAvustus: 'sallittuAvustus(hakemus.myonnettavaAvustus,hakemus.haettuAvustus, hakemus.hakemuksenTila)'}"
                       ng-focus="asetaVanhaArvo(hakemus.myonnettavaAvustus)"
                       ng-blur="paivitaAvustus(hakemus.myonnettavaAvustus,hakemus.hakemusId)" select-on-click/>
                <span
                  ng-hide="sallittuAvustus(hakemus.myonnettavaAvustus,hakemus.haettuAvustus, hakemus.hakemuksenTila)"
                  class="help-block ng-invalid-sallittu-avustus">Myönnettävän avustuksen<br>tulee olla
                  positiivinen<br>arvo ja suurimmillaan <br>haetun avustuksen suuruinen</span>
              </div>
            </td>
            <td>
              <juku-link-next
                ng-if="!isElyhakemus() && hakemusTarkastettu(hakemus) && sallittuAvustus(hakemus.myonnettavaAvustus,hakemus.haettuAvustus, hakemus.hakemuksenTila)"
                ui-sref="app.kasittelija.paatos({
                  hakemusid: hakemus.hakemusId,
                  haettuavustus: hakemus.haettuAvustus,
                  avustus: hakemus.myonnettavaAvustus,
                  vuosi: vuosi,
                  tyyppi: tyyppi,
                  lajitunnus: lajitunnus
                })">
                <span ng-show="hakemusPaatetty(hakemus)">
                  Päätökseen
                </span>
                <span ng-hide="hakemusPaatetty(hakemus)">
                  Päätöksentekoon
                </span>
              </juku-link-next>
              <a
                ng-if="!isElyhakemus() && hakemusTarkastettu(hakemus) && !sallittuAvustus(hakemus.myonnettavaAvustus,hakemus.haettuAvustus, hakemus.hakemuksenTila)"
                class="icon-link a-disabled">
                Päätöksentekoon
                <span class="glyphicon glyphicon-arrow-right"></span>
              </a>

              <a ng-if="isElyhakemus() && !(hakemusKeskenerainen(hakemus) || hakemusVireilla(hakemus))"
                 data-ng-click="naytaPaatos(hakemus)">{{naytaPaatosTitle()}}
                <span class="glyphicon glyphicon-arrow-right"></span>
              </a>

            </td>
          </tr>
          <tr>
            <td>Yhteensä</td>
            <td></td>
            <td id="haettuavustussumma">{{haettuAvustusSum|currency:"&euro;"}}</td>
            <td id="haettumuutossumma">{{muutosSum|currency:"&euro;"}}</td>
            <td ng-class="{'varoitusvari':myonnettyLiikaa()}">{{myonnettavaAvustusSum|currency:"&euro;"}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </juku-form-row>
    </ng-form>
    <juku-form-section ng-if="isElyhakemus()">
      <h3>PÄÄTÖS</h3>

      <div class="row">

        <div class="col-md-6">
          <label>Päätöksentekijä</label>

          <p>{{paatos.paattajanimi ? paatos.paattajanimi : "Ei tiedossa"}}</p>
        </div>
        <div class="col-md-6">
          <label>Päivämäärä</label>

          <p>{{paatos.voimaantuloaika ? paatos.voimaantuloaika : "Päätöstä ei ole annettu" | date:'dd.MM.yyyy'}}</p>
        </div>
      </div>

    </juku-form-section>
    <juku-form-section ng-if="isElyhakemus()">
      <div class="row">
        <div class="col-md-8">
          <label>Lisätietoa päätöskappaleeseen</label>
          <div ng-if="isTallennaPaatosEnabled()">
          <textarea id="paatosteksti" name="paatosteksti" class="animate msd-elastic: \n;"
                    ng-model="paatos.selite"
                    placeholder="Kirjoita tähän kohtaan tarvittaessa päätöstä tarkentavia perusteita."></textarea>

          </div>
          <div ng-show="!isTallennaPaatosEnabled()">
            <p>{{paatos.selite ? paatos.selite : ""}}</p>
          </div>
        </div>
      </div>
    </juku-form-section>
    <juku-form-section ng-if="isElyhakemus()">
      <juku-controls>
        <juku-controls-buttons>
          <button juku-varmistusdialogi varmistusotsake="Päätöksen hyväksyminen"
                  varmistusteksti="Oletko varma, että haluat hyväksyä kaikkien ELY-hakemusten päätökset? Päätöksen hyväksymistä ei ole mahdollista peruuttaa ja päätöstä ei ole mahdollista muuttaa hyväksymisen jälkeen."
                  operaatio="hyvaksyElyPaatokset(true)"
                  class="pull-right btn btn-success disabled-button-tooltip"
                  ng-disabled="!isHyvaksyPaatosEnabled()">Tallenna ja hyväksy päätökset

            <div uib-tooltip="{{hyvaksyPaatosDisabledTooltip()}}"
                 class="disabled-button-tooltip-text"
                 ng-if="!isHyvaksyPaatosEnabled()"></div>
          </button>

          <button data-ng-click="tallennaElyPaatokset()"
                  ng-disabled="!isTallennaPaatosEnabled()"
                  class="pull-right btn btn-primary disabled-button-tooltip">Tallenna
            päätösten tiedot
            <div uib-tooltip="{{tallennaPaatosDisabledTooltip()}}"
                 class="disabled-button-tooltip-text"
                 ng-if="!isPaatosTallentaminenEnabled()"></div>
          </button>
        </juku-controls-buttons>
      </juku-controls>
    </juku-form-section>
    <juku-form-section ng-if="isElyhakemus()">
      <h3>Päätösten tekeminen ilman asianhallintaa</h3>

      <p>
        Käytä toiminnallisuutta, mikäli et halua viedä päätöksiä automaattisesti asianhallintaan.
        Tällöin päätökset tulee viedä manuaalisesti asianhallintaan. Toiminnallisuutta tulee käyttää
        vain asianhallinnan virhetilanteissa, joissa päätöksiä ei voi viedä JUKUn kautta.
        Kaikki ELY-hakemusasiat pitää olla asiahallinnassa tarkastettu-tilassa ennen kuin
        toiminnallisuutta voi käyttää.
      </p>

      <juku-controls>
        <juku-controls-buttons>
          <button juku-varmistusdialogi varmistusotsake="Päätöksen hyväksyminen ilman asiahallintaa"
                  varmistusteksti="Oletko varma, että haluat hyväksyä kaikkien ELY-hakemusten päätökset ilman asiahallintaintegraatiota? Päätöksen hyväksymistä ei ole mahdollista peruuttaa ja päätöstä ei ole mahdollista muuttaa hyväksymisen jälkeen."
                  operaatio="hyvaksyElyPaatokset(false)"
                  class="pull-right btn btn-success disabled-button-tooltip"
                  ng-disabled="!isHyvaksyPaatosEnabled()">Tallenna ja hyväksy päätökset (Ei asiahallintaa)

            <div uib-tooltip="{{hyvaksyPaatosDisabledTooltip()}}"
                 class="disabled-button-tooltip-text"
                 ng-if="!isHyvaksyPaatosEnabled()"></div>
          </button>
        </juku-controls-buttons>
      </juku-controls>

    </juku-form-section>
  </div>
  <juku-navigation-links>
    <juku-link-prev ui-sref="app.yhteinen.hakemukset.list({tyyppi: tyyppi})">
      Palaa kaikkiin hakemuksiin
    </juku-link-prev>
  </juku-navigation-links>
</div>
