<div class="modal-header">Haluatko poistua tallentamatta?</div>
<div class="modal-body">Lomakkeella on tallentamattomia tietoja. Mikäli haluat poistua lomakkeelta tallentamatta
  tietoja, paina <b>Poistu tallentamatta</b> -painiketta. Mikäli haluat tallentaa lomakkeen tiedot, paina <b>Palaa
    lomakkeeseen</b> -painiketta ja sen jälkeen paina <b>Tallenna tiedot</b> -painiketta lomakkeella</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="poistu()">Poistu tallentamatta</button>
  <button class="btn btn-warning" ng-click="palaa()">Palaa lomakkeeseen</button>
</div>
