<div class="avustusluokka panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">{{name}}</h4>
  </div>
  <div class="panel-body">
    <div ng-transclude></div>
    <div class="avustusluokka__summa">
      <h4>Yhteensä (ALV {{kohde.avustuskohteet[0].alv}}%):</h4>
      <div class="row">
        <div class="col-md-4">
          Haettava valtionavustus: {{ kokonaisHaettavaAvustus(kohde.avustuskohteet) | currency }}
        </div>
        <div class="col-md-4">
          Kunnan oma rahoitusosuus: {{ kokonaisOmarahoitus(kohde.avustuskohteet) | currency }}
        </div>
        <div class="col-md-4">
          {{ kokonaisOmarahoitus(kohde.avustuskohteet) + kokonaisHaettavaAvustus(kohde.avustuskohteet) | currency }}
        </div>
      </div>
    </div>
  </div>
</div>
