<div class="container">
  <ng-form id="taustatiedot-form" name="taustatiedotForm" class="kysynta">
    <juku-form-row>
      <h2>Alueen taustatiedot ja yleiset tunnusluvut</h2>
    </juku-form-row>
    <juku-form-row>
      <h3>Alueen taustatiedot</h3>
      <div class="row">
        <div class="col-md-6">
          <h5>Organisaatio</h5>
          {{$root.userOrganisaatio}}
        </div>
        <div class="col-md-6">
          <h5>TVV</h5>
          {{$root.userLajitunnus | toApplicantName}}
        </div>
      </div>
    </juku-form-row>
    <juku-form-row>
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th class="col-md-10">Joukkoliikenteen suunnittelun ja organisaation henkilöstö</th>
              <th class="col-md-2">
                <form-group-compact label="Henkilöstö">
                  <input id="taustatiedot-henkilosto" name="henkilosto"
                         ng-model="taustatiedot.henkilosto"
                         class="form-control notbold"
                         placeholder="henkilötyövuotta" noenter
                         numeric-km-only="" ng-currency=""
                         ng-readonly="isReadonly()" required
                         currency-symbol="" noenter
                         select-on-click>
                </form-group-compact>
              </th>
            </tr>
          </thead>
        </table>
      </div>
    </juku-form-row>
    <juku-form-row>
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th colspan="2">Joukkoliikenteen ulkoistetut kustannukset (€ / vuosi, alv 0)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-md-8">Asiakaspalvelu</td>
              <td class="col-md-4">
                <form-group-compact label="Asiakaspalvelu">
                  <input id="taustatiedot-asiakaspalvelu" name="asiakaspalvelu" type="text"
                         class="form-control"
                         ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="taustatiedot.asiakaspalvelu" ng-disabled="isReadonly()"
                         required>
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Konsulttipalvelu</td>
              <td class="col-md-4">
                <form-group-compact label="Konsulttipalvelu">
                  <input id="taustatiedot-konsulttipalvelu" name="konsulttipalvelu" type="text"
                         class="form-control"
                         ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="taustatiedot.konsulttipalvelu" ng-disabled="isReadonly()"
                         required>
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Lipunmyyntipalkkiot</td>
              <td class="col-md-4">
                <form-group-compact label="Lipunmyyntipalkkiot">
                  <input id="taustatiedot-lipunmyyntipalkkiot" name="lipunmyyntipalkkiot" type="text"
                         class="form-control"
                         ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="taustatiedot.lipunmyyntipalkkiot" ng-disabled="isReadonly()"
                         required>
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Tieto-/maksujärjestelmät</td>
              <td class="col-md-4">
                <form-group-compact label="Tietomaksujärjestelmät">
                  <input id="taustatiedot-tietomaksujarjestelmat" name="tietomaksujarjestelmat" type="text"
                         class="form-control"
                         ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="taustatiedot.tietomaksujarjestelmat" ng-disabled="isReadonly()"
                         required>
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Muut palvelut</td>
              <td class="col-md-4">
                <form-group-compact label="Muutpalvelut">
                  <input id="taustatiedot-muutpalvelut" name="muutpalvelut" type="text"
                         class="form-control"
                         ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="taustatiedot.muutpalvelut" ng-disabled="isReadonly()"
                         required>
                </form-group-compact>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </juku-form-row>
    <juku-form-row>
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th colspan="2">Alueen perustiedot</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-md-8">Alueen kuntien lukumäärä</td>
              <td class="col-md-4">
                <form-group-compact label="Kuntien lukumääärä" errormessage="kokonaislukuErrorMessage">
                  <input id="taustatiedot-kuntienlkm" name="kuntienlkm"
                         placeholder="kuntien lkm" noenter
                         type="number" numeric-integer-only="" select-on-click
                         ng-readonly="isReadonly()"
                         ng-model="taustatiedot.kuntienlkm" required>
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Joukkoliikenteen lippujärjestelmän vyöhykkeiden määrä</td>
              <td class="col-md-4">
                <form-group-compact label="Vyöhykkeiden lukumääärä" errormessage="kokonaislukuErrorMessage">
                  <input id="taustatiedot-vyohykkeidenlkm" name="vyohykkeidenlkm"
                         placeholder="vyöhykkeiden lkm" noenter
                         type="number" numeric-integer-only="" select-on-click
                         ng-readonly="isReadonly()"
                         ng-model="taustatiedot.vyohykkeidenlkm" required>
                </form-group-compact>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </juku-form-row>
    <juku-form-row>
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th colspan="2">Toimivalta-alueen lisätiedot</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-md-8">Maapinta-ala, km2</td>
              <td class="col-md-4">
                <form-group-compact label="Maapinta-ala">
                  <input id="taustatiedot-maapinta-ala" name="maapinta-ala"
                         ng-model="taustatiedot.maapintaala"
                         placeholder="km2" noenter
                         numeric-km-only="" ng-currency=""
                         ng-readonly="isReadonly()" required
                         currency-symbol="" noenter
                         select-on-click>
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Asukasmäärä</td>
              <td class="col-md-4">
                <form-group-compact label="Asukasmäärä" errormessage="kokonaislukuErrorMessage">
                  <input id="taustatiedot-asukasmaara" name="asukasmaara"
                         placeholder="lkm" noenter
                         type="number" numeric-integer-only="" select-on-click
                         ng-readonly="isReadonly()"
                         ng-model="taustatiedot.asukasmaara" required>
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Työpaikkamäärä</td>
              <td class="col-md-4">
                <form-group-compact label="Työpaikkamäärä" errormessage="kokonaislukuErrorMessage">
                  <input id="taustatiedot-tyopaikkamaara" name="tyopaikkamaara"
                         placeholder="lkm" noenter
                         type="number" numeric-integer-only="" select-on-click
                         ng-readonly="isReadonly()"
                         ng-model="taustatiedot.tyopaikkamaara" required>
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Pendelöivien osuus alueella (oman kunnan ulkopuolella työssäkäynti)</td>
              <td class="col-md-4">
                <form-group-compact label="Pendelöivien osuus">
                  <input id="taustatiedot-pendeloivienosuus" name="pendeloivienosuus"
                         placeholder="%-osuus työssäkäyvistä" noenter
                         type="number" min="0" max="100" numeric-integer-only="" select-on-click
                         ng-readonly="isReadonly()"
                         ng-model="taustatiedot.pendeloivienosuus" required>
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Henkilöautoliikenteen suorite (jos tiedossa)</td>
              <td class="col-md-4">
                <form-group-compact label="Henkilöautoliikenne">
                  <input id="taustatiedot-henkiloautoliikenne" name="henkiloautoliikenne" type="text"
                         numeric-km-only="" ng-currency=""
                         currency-symbol="" noenter
                         select-on-click
                         placeholder="km / vuosi"
                         ng-model="taustatiedot.henkiloautoliikenne">
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Autoistumisaste</td>
              <td class="col-md-4">
                <form-group-compact label="Autoistumisaste">
                  <input id="taustatiedot-autoistumisaste" name="autoistumisaste" type="text"
                         numeric-km-only="" ng-currency=""
                         currency-symbol="" noenter
                         select-on-click
                         placeholder="autoa / 1000 asukasta"
                         ng-model="taustatiedot.autoistumisaste" required>
                </form-group-compact>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </juku-form-row>
    <juku-form-row>
      <h3>Yleiset joukkoliikenteen tunnusluvut</h3>
    </juku-form-row>
    <juku-form-row>
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <th class="col-md-10">Toimivalta-alueen pysäkkien lukumäärä tie- ja katuverkolla (pysäkkitietoa tarjoaa mm.
              <a href="http://www.digiroad.fi/Uusi_DR/pysakki/fi_FI/pysakki/" target="_blank">digiroad</a>)
            </th>
            <th class="col-md-2">
              <form-group-compact label="Pysäkkien lukumääärä" errormessage="kokonaislukuErrorMessage">
                <input id="taustatiedot-pysakkienlkm" name="pysakkienlkm"
                       class="form-control notbold"
                       placeholder="lkm" noenter
                       type="number" numeric-integer-only="" select-on-click
                       ng-readonly="isReadonly()"
                       ng-model="taustatiedot.pysakkienlkm" required>
              </form-group-compact>
            </th>
          </thead>
        </table>
      </div>
    </juku-form-row>
    <juku-form-row>
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th class="col-md-6">Lippuen asiakashinnat</th>
              <th class="col-md-1">1 vyöhyke</th>
              <th class="col-md-1">2 vyöhykettä</th>
              <th class="col-md-1">3 vyöhykettä</th>
              <th class="col-md-1">4 vyöhykettä</th>
              <th class="col-md-1">5 vyöhykettä</th>
              <th class="col-md-1">6 vyöhykettä</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Kertalipun hinta vyöhykkeittäin (aikuinen)(€)</td>
              <td>
                <form-group-compact label="Kertalippu vyöhyke 1">
                  <input id="taustatiedot-kertalippuvyohyke-1" name="kertalippuvyohyke1" type="text"
                         class="form-control"
                         ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="taustatiedot.kertalippuvyohyke1" ng-disabled="isReadonly()">
                </form-group-compact>
              </td>
              <td>
                <form-group-compact label="Kertalippu vyöhyke 2">
                  <input id="taustatiedot-kertalippuvyohyke-2" name="kertalippuvyohyke2" type="text"
                         class="form-control"
                         ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="taustatiedot.kertalippuvyohyke2" ng-disabled="isReadonly()">
                </form-group-compact>
              </td>
              <td>
                <form-group-compact label="Kertalippu vyöhyke 3">
                  <input id="taustatiedot-kertalippuvyohyke-3" name="kertalippuvyohyke3" type="text"
                         class="form-control"
                         ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="taustatiedot.kertalippuvyohyke3" ng-disabled="isReadonly()">
                </form-group-compact>
              </td>
              <td>
                <form-group-compact label="Kertalippu vyöhyke 4">
                  <input id="taustatiedot-kertalippuvyohyke-4" name="kertalippuvyohyke4" type="text"
                         class="form-control"
                         ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="taustatiedot.kertalippuvyohyke4" ng-disabled="isReadonly()">
                </form-group-compact>
              </td>
              <td>
                <form-group-compact label="Kertalippu vyöhyke 5">
                  <input id="taustatiedot-kertalippuvyohyke-5" name="kertalippuvyohyke5" type="text"
                         class="form-control"
                         ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="taustatiedot.kertalippuvyohyke5" ng-disabled="isReadonly()">
                </form-group-compact>
              </td>
              <td>
                <form-group-compact label="Kertalippu vyöhyke 6">
                  <input id="taustatiedot-kertalippuvyohyke-6" name="kertalippuvyohyke6" type="text"
                         class="form-control"
                         ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="taustatiedot.kertalippuvyohyke6" ng-disabled="isReadonly()">
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td>Kausilipun hinta vyöhykkeittäin (30 päivää, aikuinen)(€)</td>
              <td>
                <form-group-compact label="Kausilippu vyöhyke 1">
                  <input id="taustatiedot-kausilippuvyohyke-1" name="kausilippuvyohyke1" type="text"
                         class="form-control"
                         ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="taustatiedot.kausilippuvyohyke1" ng-disabled="isReadonly()">
                </form-group-compact>
              </td>
              <td>
                <form-group-compact label="Kausilippu vyöhyke 2">
                  <input id="taustatiedot-kausilippuvyohyke-2" name="kausilippuvyohyke2" type="text"
                         class="form-control"
                         ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="taustatiedot.kausilippuvyohyke2" ng-disabled="isReadonly()">
                </form-group-compact>
              </td>
              <td>
                <form-group-compact label="Kausilippu vyöhyke 3">
                  <input id="taustatiedot-kausilippuvyohyke-3" name="kausilippuvyohyke3" type="text"
                         class="form-control"
                         ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="taustatiedot.kausilippuvyohyke3" ng-disabled="isReadonly()">
                </form-group-compact>
              </td>
              <td>
                <form-group-compact label="Kausilippu vyöhyke 4">
                  <input id="taustatiedot-kausilippuvyohyke-4" name="kausilippuvyohyke4" type="text"
                         class="form-control"
                         ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="taustatiedot.kausilippuvyohyke4" ng-disabled="isReadonly()">
                </form-group-compact>
              </td>
              <td>
                <form-group-compact label="Kausilippu vyöhyke 5">
                  <input id="taustatiedot-kausilippuvyohyke-5" name="kausilippuvyohyke5" type="text"
                         class="form-control"
                         ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="taustatiedot.kausilippuvyohyke5" ng-disabled="isReadonly()">
                </form-group-compact>
              </td>
              <td>
                <form-group-compact label="Kausilippu vyöhyke 6">
                  <input id="taustatiedot-kausilippuvyohyke-6" name="kausilippuvyohyke6" type="text"
                         class="form-control"
                         ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="taustatiedot.kausilippuvyohyke6" ng-disabled="isReadonly()">
                </form-group-compact>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </juku-form-row>
    <juku-form-row>
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th colspan="2">Viranomaisen saama valtion avustus / rahoitus
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-md-8">Liikenteen ostot, € (siirtymäkaudella)</td>
              <td class="col-md-4">
                <form-group-compact label="Liikenteen ostot">
                  <input id="taustatiedot-liikenteenostot" name="liikenteenostot" type="text"
                         class="form-control"
                         ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="taustatiedot.liikenteenostot" ng-disabled="isReadonly()"
                         placeholder="€ / vuosi, alv 0" required>
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Hintojen alentaminen, € (siirtymäkaudella, valtion lippusubventio on poistumassa)
              </td>
              <td class="col-md-4">
                <form-group-compact label="Hintojen alentaminen">
                  <input id="taustatiedot-hintojenalentaminen" name="hintojenalentaminen" type="text"
                         class="form-control"
                         ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="taustatiedot.hintojenalentaminen" ng-disabled="isReadonly()"
                         placeholder="€ / vuosi, alv 0" required>
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Valtion avustus sopimuskorvauksiin, €</td>
              <td class="col-md-4">
                <form-group-compact label="Sopimuskorvaukset">
                  <input id="taustatiedot-sopimiskorvaukset" name="sopimiskorvaukset" type="text"
                         class="form-control"
                         ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="taustatiedot.sopimiskorvaukset" ng-disabled="isReadonly()"
                         placeholder="€ / vuosi, alv 0" required>
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Informaatio ja maksujärjestelmien kehittäminen, €</td>
              <td class="col-md-4">
                <form-group-compact label="Informaatio ja maksujärjestelmien kehittäminen">
                  <input id="taustatiedot-infomaksukeh" name="infomaksukeh" type="text"
                         class="form-control"
                         ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="taustatiedot.infomaksukeh" ng-disabled="isReadonly()"
                         placeholder="€ / vuosi, alv 0" required>
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Matkakeskusten tai matkapalvelukeskusten kehittäminen, €</td>
              <td class="col-md-4">
                <form-group-compact label="Matkakeskusten tai matkapalvelukeskusten kehittäminen">
                  <input id="taustatiedot-matkakeskeh" name="matkakeskeh" type="text"
                         class="form-control"
                         ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="taustatiedot.matkakeskeh" ng-disabled="isReadonly()"
                         placeholder="€ / vuosi, alv 0" required>
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Muu kehittäminen, €</td>
              <td class="col-md-4">
                <form-group-compact label="Muu kehittäminen">
                  <input id="taustatiedot-muukeh" name="muukeh" type="text"
                         class="form-control"
                         ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="taustatiedot.muukeh" ng-disabled="isReadonly()"
                         placeholder="€ / vuosi, alv 0" required>
                </form-group-compact>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </juku-form-row>
    <juku-form-row>
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th colspan="2">Asiakastyytyväisyyys</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-md-8">Tyytyväisten joukkoliikenteen käyttäjien prosenttiosuus</td>
              <td class="col-md-4">
                <form-group-compact label="Asiakastyytyväisyys">
                  <input id="taustatiedot-asiakastyytyvaisyys" name="asiakastyytyvaisyys"
                         placeholder="Asiakastyytyväisyys (%)" noenter
                         type="number" min="0" max="100" numeric-integer-only="" select-on-click
                         ng-readonly="isReadonly()"
                         ng-model="taustatiedot.asiakastyytyvaisyys" required>
                </form-group-compact>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </juku-form-row>
    <juku-tunnusluvut-lisatiedot lisatiedot="taustatiedot.lisatiedot"></juku-tunnusluvut-lisatiedot>
  </ng-form>
</div>
