<div class="container">
  <juku-form-row>
    <h2>PSA käyttöoikeussopimusliikenteen tunnusluvut (KOS)</h2>
  </juku-form-row>
  <juku-form-row>
    <h3>Liikenteen kysynnän tunnusluvut</h3>
  </juku-form-row>
  <juku-form-row>
    <juku-tunnusluvut-kysynta tyyppi="PSAK"></juku-tunnusluvut-kysynta>
  </juku-form-row>
  <juku-form-row>
    <h3>Tarjotun liikenteen tunnusluvut</h3>
  </juku-form-row>
  <juku-form-row>
    <juku-tunnusluvut-tarjonta tyyppi="PSAK"></juku-tunnusluvut-tarjonta>
  </juku-form-row>
</div>
