<div class="container">
  <juku-form-row>
    <h2>PSA bruttosopimusliikenteen tunnusluvut</h2>
  </juku-form-row>
  <juku-form-row>
    <juku-tunnusluvut-liikenteen-kysynta-tarjonta tyyppi="PSAB"></juku-tunnusluvut-liikenteen-kysynta-tarjonta>
  </juku-form-row>
  <juku-form-row>
    <juku-tunnusluvut-tarjonta tyyppi="PSAB"></juku-tunnusluvut-tarjonta>
  </juku-form-row>
  <juku-form-row>
    <juku-tunnusluvut-lisatiedot lisatiedot="taustatiedot.lisatiedot"></juku-tunnusluvut-lisatiedot>
  </juku-form-row>
</div>
