<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Tunnuslukuraportit</h1>
      <p>Tämä on tunnuslukuraporttinäkymä, jossa ei vielä toistaiseksi ole mitään toiminnallisuutta.</p>
      <nvd3 options='nvd3options1' data='nvd3data1'></nvd3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>ELY-KESKUKSIEN MÄÄRÄRAHATARVE</h1>
      <h2>Haetut valtionavustukset yhteensä</h2>
      <nvd3 options="nvd3options2" data="nvd3data2"></nvd3>
        </div>
  </div>
</div>
