<div class="container">
  <juku-tabs>
    <juku-tab
      ng-repeat="tyyppi in tunnuslukutyypit"
      selected="isTabSelected(tyyppi)"
      ng-click="toApplication(tyyppi)">
      {{ tyyppi }}
    </juku-tab>
  </juku-tabs>
  <juku-form-row>
    <h2>PSA bruttosopimusliikenteen tunnusluvut</h2>
  </juku-form-row>
  <juku-form-row>
    <h3>Liikenteen kysynnän tunnusluvut</h3>
  </juku-form-row>
  <juku-form-row>
    <juku-tunnusluvut-kysynta></juku-tunnusluvut-kysynta>
  </juku-form-row>
  <juku-form-row>
    <h3>Tarjotun liikenteen tunnusluvut</h3>
  </juku-form-row>
  <juku-form-row>
    <juku-tunnusluvut-tarjonta></juku-tunnusluvut-tarjonta>
  </juku-form-row>
</div>
