<div class="container">
  <div ng-repeat="hakemuskausi in hakemuskaudet">
    <div ng-if="hakemuskausi.uusi" class="uusihakemuskausi">
      <div class="row">
        <div class="col-md-3 text-center">
          <h1>{{hakemuskausi.vuosi}}</h1>

          <div ng-show="hakemuskausi.tilatunnus=='A'">
            <a href="api/hakemuskausi/{{hakemuskausi.vuosi}}/hakuohje" class="btn btn-primary">Hakuohjeet
              {{hakemuskausi.vuosi}}</a>
          </div>
          <div ng-hide="hakemuskausi.tilatunnus=='A'">
            <button class="btn btn-primary" disabled>Hakuohjeet
              {{hakemuskausi.vuosi}}
            </button>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <button class="btn btn-primary btn-lg" ng-file-select ng-file-change="upload($files, hakemuskausi.vuosi)"
                    multiple="false" ng-accept="'application/pdf'">Lataa hakuohje
            </button>
          </div>
          <div class="row"><p></p></div>
          <div class="row">
            <div ng-show="hakemuskausi.tilatunnus=='A'">
              <button data-ng-click="luoUusiHakemuskausi(hakemuskausi.vuosi)" class="btn btn-success btn-lg">Käynnistä
                hakemuskausi oletusarvoilla
              </button>
            </div>
            <div ng-hide="hakemuskausi.tilatunnus=='A'">
              <button data-ng-click="luoUusiHakemuskausi(hakemuskausi.vuosi)" class="btn btn-success btn-lg" disabled>
                Käynnistä
                hakemuskausi oletusarvoilla
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
          <a href=""><span class="glyphicon glyphicon-envelope"></span> Lähetä viesti hakijoille</a>
        </div>
      </div>
    </div>
    <div ng-if="!hakemuskausi.uusi" class="well">
      <div class="row">
        <div class="col-md-3 text-center">
          <h1>{{hakemuskausi.vuosi}}</h1>
          <a href="api/hakemuskausi/{{hakemuskausi.vuosi}}/hakuohje" class="btn btn-primary">Hakuohjeet
            {{hakemuskausi.vuosi}}</a>
          <br>
          <br>
        </div>
        <div class="col-md-3 text-center">
          <div class="panel panel-primary hakemuskausi-panel">
            <div class="panel-heading">
              <p class="panel-title">Avustushakemus</p>
            </div>
            <div class="panel-body">
              <div class="row">
                <p>

                <div class="col-md-3 text-center">24/24</div>
                <div class="col-md-9 text-left"><span class="label label-default">Keskeneräinen</span></div>
                </p>
              </div>
              <div class="row">
                <p>

                <div class="col-md-3 text-center"> 0/24</div>
                <div class="col-md-9 text-left"><span class="label label-danger">Vireillä</span></div>
                </p>
              </div>
              <div class="row">
                <p>

                <div class="col-md-3 text-center">0/24</div>
                <div class="col-md-9 text-left"><span class="label label-default">Täydennettävänä</span></div>
                </p>
              </div>
              <div class="row">
                <p>

                <div class="col-md-3 text-center">0/24</div>
                <div class="col-md-9 text-left"><span class="label label-danger">Täydennetty</span></div>
                </p>
              </div>
              <div class="row">
                <p>

                <div class="col-md-3 text-center">0/24</div>
                <div class="col-md-9 text-left"><span class="label label-success">Tarkastettu</span></div>
                </p>
              </div>
              <div class="row">
                <p>

                <div class="col-md-3 text-center">0/24</div>
                <div class="col-md-9 text-left"><span class="label label-primary">Päätetty</span></div>
                </p>
              </div>
              <div class="row">
                <div class="hakemuskausi-panel-hakuaika">
                  <p>Hakuaika:</p>

                  <p>{{hakemuskausi.avustushakemusAlkupvm | date:'dd.MM yyyy'}}-{{hakemuskausi.avustushakemusLoppupvm |
                    date:'dd.MM yyyy'}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="panel panel-info hakemuskausi-panel">
            <div class="panel-heading">
              <p class="panel-title">1. maksatushakemus</p>
            </div>
            <div class="panel-body">
              <div class="row">
                <p>

                <div class="col-md-3 text-center"></div>
                <div class="col-md-9 text-left"></div>
                </p>
              </div>
              <div class="row">
                <p>

                <div class="col-md-3 text-center"></div>
                <div class="col-md-9 text-left"></div>
                </p>
              </div>
              <div class="row">
                <p>

                <div class="col-md-3 text-center"></div>
                <div class="col-md-9 text-left"></div>
                </p>
              </div>
              <div class="row">
                <p>

                <div class="col-md-3 text-center"></div>
                <div class="col-md-9 text-left"></div>
                </p>
              </div>
              <div class="row">
                <p>

                <div class="col-md-12 text-center">Ei Käynnissä</div>
                </p>
              </div>
              <div class="row">
                <p>

                <div class="col-md-3 text-center"></div>
                <div class="col-md-9 text-left"></div>
                </p>
              </div>
              <div class="row">
                <div class="hakemuskausi-panel-hakuaika">

                  <p>Hakuaika:</p>

                  <p>{{hakemuskausi.maksatushakemus1Alkupvm | date:'dd.MM yyyy'}}-{{hakemuskausi.maksatushakemus1Loppupvm
                    |
                    date:'dd.MM yyyy'}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="panel panel-info hakemuskausi-panel">
            <div class="panel-heading">
              <p class="panel-title">2. maksatushakemus</p>
            </div>
            <div class="panel-body">
              <div class="row">
                <p>

                <div class="col-md-3 text-center"></div>
                <div class="col-md-9 text-left"></div>
                </p>
              </div>
              <div class="row">
                <p>

                <div class="col-md-3 text-center"></div>
                <div class="col-md-9 text-left"></div>
                </p>
              </div>
              <div class="row">
                <p>

                <div class="col-md-3 text-center"></div>
                <div class="col-md-9 text-left"></div>
                </p>
              </div>
              <div class="row">
                <p>

                <div class="col-md-3 text-center"></div>
                <div class="col-md-9 text-left"></div>
                </p>
              </div>
              <div class="row">
                <p>

                <div class="col-md-12 text-center">Ei Käynnissä</div>
                </p>
              </div>
              <div class="row">
                <p>

                <div class="col-md-3 text-center"></div>
                <div class="col-md-9 text-left"></div>
                </p>
              </div>
              <div class="row">
                <div class="hakemuskausi-panel-hakuaika">

                  <p>Hakuaika:</p>

                  <p>{{hakemuskausi.maksatushakemus2Alkupvm | date:'dd.MM yyyy'}}-{{hakemuskausi.maksatushakemus2Loppupvm
                    |
                    date:'dd.MM yyyy'}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <a href=""><span class="glyphicon glyphicon-remove"></span> Sulje hakuprosessi</a>
        </div>
        <div class="col-md-3">
          <a href=""><span class="glyphicon glyphicon-envelope"></span> Lähetä viesti hakijoille</a>
        </div>
        <div class="col-md-6">
          <a href=""><span class="glyphicon glyphicon-pencil"></span> Muokkaa hakuaikoja</a>
        </div>
      </div>
    </div>
  </div>
</div>
