<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a href="#/k/hakemukset"><span class='glyphicon glyphicon-circle-arrow-left'></span>Palaa hakemusten
        suunnittelunäkymään</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Joukkoliikenten valtionavustushakemus {{avustushakemus.vuosi}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>HAKIJAN TIEDOT</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h4>Kunnan nimi</h4>

      <p>{{hakija}}</p>
      <h4>Pankkitilin numero</h4>

      <p>{{pankkitilinumero}}</p>
    </div>
    <div class="col-md-3">
      <h4>Hakijat</h4>

      <p>Puuttuu</p>

      <p>Puuttuu</p>

      <p>Puuttuu</p>

      <p>Puuttuu</p>
    </div>
    <div class="col-md-3">
      <br>

      <p>Puuttuu</p>

      <p>Puuttuu</p>

      <p>Puuttuu</p>

      <p>Puuttuu</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <br>
      <h4>Päätöksentekijä</h4>

      <p>Puuttuu</p>

      <p>Puuttuu</p>

      <p>Puuttuu</p>

      <p>Puuttuu</p>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-12">
        <h3>VALTIONAVUSTUKSEN KOHDE JA HAETTAVA VALTIONAVUSTUKSEN MÄÄRÄ<a href=""><span
          class='jukutooltip glyphicon glyphicon-question-sign'></span></a></h3>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-9">
            <h4 class="panel-title">PSA:n mukaisen liikenteen hankinta</h4>
          </div>
          <div class="col-md-3">
            <div class="pull-right">
              <h4 class="panel-title">{{(psa1haettavaavustus + psa2haettavaavustus + psamhaettavaavustus) | currency:"&euro;"}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <h5>Paikallisliikenne</h5>
          </div>
          <div ng-show="(psa1haettavaavustus>0)">
            <div class="col-md-6">
              <h5>Haettava valtionavustus (euroa)</h5>

              <p>{{psa1haettavaavustus}}</p>
            </div>
            <div class="col-md-6">
              <h5>Kunnan oma rahoitusosuus (euroa)</h5>

              <p>{{psa1omarahoitus}}</p>
            </div>
          </div>
          <div ng-show="(psa1haettavaavustus==0)">
            <div class="col-md-12">
              <p>Ei haettu avustusta.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5>Integroitu palvelulinja, kaikille avointa</h5>
          </div>
          <div ng-show="(psa2haettavaavustus>0)">
            <div class="col-md-6">
              <h5>Haettava valtionavustus (euroa)</h5>

              <p>{{psa2haettavaavustus}}</p>
            </div>
            <div class="col-md-6">
              <h5>Kunnan oma rahoitusosuus (euroa)</h5>

              <p>{{psa2omarahoitus}}</p>
            </div>
          </div>
          <div ng-show="(psa2haettavaavustus==0)">
            <div class="col-md-12">
              <p>Ei haettu avustusta.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5>Muu PSA:n mukaisen liikenteen järjestäminen</h5>
          </div>
          <div ng-show="(psamhaettavaavustus>0)">
            <div class="col-md-6">
              <h5>Haettava valtionavustus (euroa)</h5>

              <p>{{psamhaettavaavustus}}</p>
            </div>
            <div class="col-md-6">
              <h5>Kunnan oma rahoitusosuus (euroa)</h5>

              <p>{{psamomarahoitus}}</p>
            </div>
          </div>
          <div ng-show="(psamhaettavaavustus==0)">
            <div class="col-md-12">
              <p>Ei haettu avustusta.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-9">
            <h4 class="panel-title">Hintavelvoitteiden korvaaminen</h4>
          </div>
          <div class="col-md-3">
            <div class="pull-right">
              <h4 class="panel-title">{{(hkslhaettavaavustus + hkklhaettavaavustus + hkllhaettavaavustus +
                hktlhaettavaavustus) | currency:"&euro;"}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <h5>Seutulippu</h5>
          </div>
          <div ng-show="(hkslhaettavaavustus>0)">
            <div class="col-md-6">
              <h5>Haettava valtionavustus (euroa)</h5>

              <p>{{hkslhaettavaavustus}}</p>
            </div>
            <div class="col-md-6">
              <h5>Kunnan oma rahoitusosuus (euroa)</h5>

              <p>{{hkslomarahoitus}}</p>
            </div>
          </div>
          <div ng-show="(hkslhaettavaavustus==0)">
            <div class="col-md-12">
              <p>Ei haettu avustusta.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5>Kaupunkilippu / kuntalippu</h5>
          </div>
          <div ng-show="(hkklhaettavaavustus>0)">
            <div class="col-md-6">
              <h5>Haettava valtionavustus (euroa)</h5>

              <p>{{hkklhaettavaavustus}}</p>
            </div>
            <div class="col-md-6">
              <h5>Kunnan oma rahoitusosuus (euroa)</h5>

              <p>{{hkklomarahoitus}}</p>
            </div>
          </div>
          <div ng-show="(hkklhaettavaavustus==0)">
            <div class="col-md-12">
              <p>Ei haettu avustusta.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5>Liityntälippu (esim. VR, pääkaupunkiseudun)</h5>
          </div>
          <div ng-show="(hkllhaettavaavustus>0)">
            <div class="col-md-6">
              <h5>Haettava valtionavustus (euroa)</h5>

              <p>{{hkllhaettavaavustus}}</p>
            </div>
            <div class="col-md-6">
              <h5>Kunnan oma rahoitusosuus (euroa)</h5>

              <p>{{hkllomarahoitus}}</p>
            </div>
          </div>
          <div ng-show="(hkllhaettavaavustus==0)">
            <div class="col-md-12">
              <p>Ei haettu avustusta.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5>Työmatkalippu</h5>
          </div>
          <div ng-show="(hktlhaettavaavustus>0)">
            <div class="col-md-6">
              <h5>Haettava valtionavustus (euroa)</h5>

              <p>{{hktlhaettavaavustus}}</p>
            </div>
            <div class="col-md-6">
              <h5>Kunnan oma rahoitusosuus (euroa)</h5>

              <p>{{hktlomarahoitus}}</p>
            </div>
          </div>
          <div ng-show="(hktlhaettavaavustus==0)">
            <div class="col-md-12">
              <p>Ei haettu avustusta.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-9">
            <h4 class="panel-title">Liikenteen suunnittelu- ja kehittämishankkeet</h4>
          </div>
          <div class="col-md-3">
            <div class="pull-right">
              <h4 class="panel-title">{{(kimhaettavaavustus + kmpkhaettavaavustus + kmkhaettavaavustus +
                krthaettavaavustus + kmhaettavaavustus) | currency:"&euro;"}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <h5>Informaatio- ja maksujärjestelmien kehittäminen</h5>
          </div>
          <div ng-show="(kimhaettavaavustus>0)">
            <div class="col-md-6">
              <h5>Haettava valtionavustus (euroa)</h5>

              <p>{{kimhaettavaavustus}}</p>
            </div>
            <div class="col-md-6">
              <h5>Kunnan oma rahoitusosuus (euroa)</h5>

              <p>{{kimomarahoitus}}</p>
            </div>
          </div>
          <div ng-show="(kimhaettavaavustus==0)">
            <div class="col-md-12">
              <p>Ei haettu avustusta.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5>Matkapalvelukeskuksen suunnittelu ja kehittäminen</h5>
          </div>
          <div ng-show="(kmpkhaettavaavustus>0)">
            <div class="col-md-6">
              <h5>Haettava valtionavustus (euroa)</h5>

              <p>{{kmpkhaettavaavustus}}</p>
            </div>
            <div class="col-md-6">
              <h5>Kunnan oma rahoitusosuus (euroa)</h5>

              <p>{{kmpkomarahoitus}}</p>
            </div>
          </div>
          <div ng-show="(kmpkhaettavaavustus==0)">
            <div class="col-md-12">
              <p>Ei haettu avustusta.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5>Matkakeskuksen suunnittelu ja kehittäminen</h5>
          </div>
          <div ng-show="(kmkhaettavaavustus>0)">
            <div class="col-md-6">
              <h5>Haettava valtionavustus (euroa)</h5>

              <p>{{kmkhaettavaavustus}}</p>
            </div>
            <div class="col-md-6">
              <h5>Kunnan oma rahoitusosuus (euroa)</h5>

              <p>{{kmkomarahoitus}}</p>
            </div>
          </div>
          <div ng-show="(kmkhaettavaavustus==0)">
            <div class="col-md-12">
              <p>Ei haettu avustusta.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5>Raitiotien suunnittelu</h5>
          </div>
          <div ng-show="(krthaettavaavustus>0)">
            <div class="col-md-6">
              <h5>Haettava valtionavustus (euroa)</h5>

              <p>{{krthaettavaavustus}}</p>
            </div>
            <div class="col-md-6">
              <h5>Kunnan oma rahoitusosuus (euroa)</h5>

              <p>{{krtomarahoitus}}</p>
            </div>
          </div>
          <div ng-show="(krthaettavaavustus==0)">
            <div class="col-md-12">
              <p>Ei haettu avustusta.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5>Muu hanke, mikä?</h5>
          </div>
          <div ng-show="(kmhaettavaavustus>0)">
            <div class="col-md-6">
              <h5>Haettava valtionavustus (euroa)</h5>

              <p>{{kmhaettavaavustus}}</p>
            </div>
            <div class="col-md-6">
              <h5>Kunnan oma rahoitusosuus (euroa)</h5>

              <p>{{kmomarahoitus}}</p>
            </div>
          </div>
          <div ng-show="(kmhaettavaavustus==0)">
            <div class="col-md-12">
              <p>Ei haettu avustusta.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <h4>JOUKKOLIIKENTEEN VALTIONAVUSTUSHAKEMUS YHTEENSÄ:</h4>
      </div>
      <div class="col-md-3">
        <div class="pull-right">
          <h4>{{(psa1haettavaavustus + psa2haettavaavustus + psamhaettavaavustus + hkslhaettavaavustus +
            hkklhaettavaavustus + hkllhaettavaavustus +
            hktlhaettavaavustus + kimhaettavaavustus + kmpkhaettavaavustus + kmkhaettavaavustus +
            krthaettavaavustus + kmhaettavaavustus) | currency:"&euro;"}}</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h5>Lisätietoja avustusten kohteista<a href=""><span
          class='jukutooltip glyphicon glyphicon-question-sign'></span></a></h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div ng-show="(avustushakemus.selite!=null)">
          <p>{{avustushakemus.selite}}</p>
        </div>
        <div ng-show="(avustushakemus.selite==null)">
          <p>Ei selitettä.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>HAKEMUKSEN PÄIVÄMÄÄRÄ JA PÄÄTÖKSENTEKIJÄ</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h5>Päivämäärä</h5>

        <p>{{aikaleima | date:'dd.MM.yyyy'}}</p>
      </div>
      <div class="col-md-6">
        <h5>Päätöksentekijä</h5>

        <p>_kirjautuneen päätöksentekijän nimi_</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a href="#/k/hakemukset"><span class='glyphicon glyphicon-circle-arrow-left'></span>Palaa hakemusten
          suunnittelunäkymään</a>
      </div>
      <div class="col-md-6">
        <button data-ng-click="tarkastaAvustushakemus()" class="pull-right btn btn-success">Merkitse tarkastetuksi</button>
      </div>
    </div>
  </div>
</div>

