<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2><b>Suunnittelunäkymä - avustushakemukset {{vuosi}}</b></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>KAUPUNKISEUDUT</h3>
    </div>
  </div>
  <form name="suunnitteluForm">
    <table st-table="hakemuksetSuunnittelu" class="table table-hover table-condensed table-striped">
      <thead>
      <tr>
        <th>Hakija</th>
        <th>Haettu avustus</th>
        <th>Muutos</th>
        <th>Myönnettävä avustus</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="hakemus in hakemuksetSuunnittelu">
        <div class="form-group">
          <td>{{hakemus.hakija}}</td>
          <td>
            <div ng-show="hakemus.hakemuksenTila!='T'">
              <hakemus-label tila="{{hakemus.hakemuksenTila}}"></hakemus-label>
            </div>
            <div ng-show="hakemus.hakemuksenTila=='T'">
              {{hakemus.haettuAvustus}}
            </div>
          </td>
          <td>{{hakemus.muutos}}</td>
          <td><input type="number" min="0" class="form-control"
                     ng-model="hakemus.myonnettavaAvustus"
                     ng-blur="paivitaAvustus(hakemus.myonnettavaAvustus,hakemus.hakemusId)"/></td>
          <td>
            <button class="btn btn-primary"
                    ng-click="siirryPaatokseen(hakemus.hakemusId,hakemus.haettuAvustus, hakemus.myonnettavaAvustus)">
              Päätöksentekoon
            </button>
          </td>
        </div>
      </tr>
      <tr>
        <td>Yhteensä</td>
        <td>{{haettuAvustusSum}}</td>
        <td>{{muutosSum}}</td>
        <td>{{myonnettavaAvustusSum}}</td>
      </tr>
      </tbody>
    </table>
  </form>
  <div class="row">
    <div class="col-md-12">
      <a href="#/k/hakemukset"><span class='glyphicon glyphicon-circle-arrow-left'></span>Palaa avustushakemusten
        suunnittelunäkymään</a>
    </div>
  </div>
</div>
