<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2><b>Suunnittelunäkymä - avustushakemukset {{vuosi}}</b></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>KAUPUNKISEUDUT</h3>
    </div>
  </div>
  <form name="suunnitteluForm">
    <table st-table="hakemuksetSuunnittelu" class="table table-hover table-condensed table-striped">
      <thead>
      <tr>
        <th>Hakija</th>
        <th>Haettu avustus</th>
        <th>Muutos</th>
        <th>Myönnettävä avustus</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="hakemus in hakemuksetSuunnittelu">
        <div class="form-group">
          <td>{{hakemus.hakija}}</td>
          <td>
            <div ng-show="hakemus.hakemuksenTila!='T'">
              <hakemus-label tila="{{hakemus.hakemuksenTila}}"></hakemus-label>
            </div>
            <div ng-show="hakemus.hakemuksenTila=='T'">
              {{hakemus.haettuAvustus|currency:"&euro;"}}
            </div>
          </td>
          <td>{{hakemus.muutos|currency:"&euro;"}}</td>
          <td><input type="text" min="-0.0001" ng-currency="" class="form-control"
                     ng-model="hakemus.myonnettavaAvustus"
                     ng-focus="asetaVanhaArvo(hakemus.myonnettavaAvustus)"
                     ng-blur="paivitaAvustus(hakemus.myonnettavaAvustus,hakemus.hakemusId)"/>
          <td>
            <button class="btn btn-primary"
                    ng-click="siirryPaatokseen(hakemus.hakemusId,hakemus.haettuAvustus, hakemus.myonnettavaAvustus)">
              Päätöksentekoon
            </button>
          </td>
        </div>
      </tr>
      <tr>
        <td>Yhteensä</td>
        <td>{{haettuAvustusSum|currency:"&euro;"}}</td>
        <td>{{muutosSum|currency:"&euro;"}}</td>
        <td>{{myonnettavaAvustusSum|currency:"&euro;"}}</td>
      </tr>
      </tbody>
    </table>
  </form>
  <div class="row">
    <div class="col-md-12">
      <a href="#/k/hakemukset"><span class='glyphicon glyphicon-circle-arrow-left'></span>Palaa avustushakemusten
        suunnittelunäkymään</a>
    </div>
  </div>
</div>
