.footer
  color: #fff
  margin-bottom: 0
  position: absolute
  bottom: 0
  width: 100%
  line-height: height.navbar
  border-radius: 0px

  .container, .col-md-2, .col-md-4
    height: 100%

.footer__domain
  text-align: right
