.footer
  color: #fff
  margin-bottom: 0
  position: absolute
  bottom: 0
  width: 100%
  border-radius: 0px
  line-height: height.navbar
  overflow: hidden
  .container
    height: 100%
    position: relative
    padding-right: 9em
    padding-left: 9em

.footer__logo
  position: absolute
  left: 1em
.footer__domain
  position: absolute
  right: 1em
  top: 0
