.alaviiva {
  border-bottom: solid;
  margin-bottom: 20px;
}

.uusihakemuskausi{
  border-style: dashed;
  border-width: 4px;
  border-radius: 4px;
  color: #0067ce;
  margin-bottom: 30px;
  padding: 20px;
}

textarea{
  width: 100%;
}

.badge.badge-notify{
  background:red;
  color:white;
  position:relative;
  top: -20px;
  left: 20px;
}

.panel-body.clickable {
  transition: background 200ms;
}

.panel-body.clickable:hover {
  background: #eeeeee;
  cursor: pointer;
}
