@import '../../node_modules/ng-tags-input/build/ng-tags-input.css'
@import '../../node_modules/ng-tags-input/build/ng-tags-input.bootstrap.css'

/*
 * Jukun tyylimuutokset ng-tags-input komponenttiin.
 * ks. https://issues.solita.fi/browse/LIVIJUKU-844
 */

tags-input .tags .tag-item
  background: #0db9f0
  border: 1px solid #0db9f0

tags-input .tags .tag-item .remove-button
  color: #fff
