@import url('//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400');

@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css'
@import '../../node_modules/angular-toastr/dist/angular-toastr.css'
@import '_variables'
@import '_components'

h1
  font-size: 32px

h3
  font-size: 18px
  margin-bottom: 20px
  padding-top: 20px
  border-bottom: 1px solid #dddddd
  padding-bottom: 5px
  font-weight: 600

.inline-block
  display: inline-block;

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control
  cursor: not-allowed
  background-color: #fff
  opacity: 1
  border-color: #fff
  box-shadow: none

  & ~ .input-group-btn
    button
      margin-left: 2px
      border-radius: 3px

.form-control[readonly]
  padding-left 0

html
  position: relative
  height: 100%

body
  height: 100%
  padding-top: 70px
  z-index: 2
  font-family: 'Open Sans', sans-serif
  font-weight: 400

.app
  left: 0
  transition: left 0.3s
  position: relative
  min-height: 100%
  padding-bottom: 90px

body.is-collapsed .app
  left: -250px

/* Fixed navbar styles */

.alaviiva
  margin-bottom: 20px
  border-bottom: 1px solid #dddddd
  padding-top: 25px

textarea
  width: 100%

.r-align
  text-align: right

.drop-box
  background: none repeat scroll 0% 0% #EEF
  border: 3px dashed colors.primary
  width: 100%
  height: 150px
  text-align: center
  padding-top: 40px
  float: left
  margin-bottom: 1em
  margin-top: 0.5em

.hakija
  background-color: #EEEEEE
  line-height: 1
  font-size: 14px
  margin-bottom: 15px
  padding: 15px
.hakemus-lisatietoa-otsake
  margin-top: 8px
  font-weight: bold
  font-size: 14px
  margin-bottom: 0px
.hakijaotsake
  font-weight: bold
  background-color: #EEEEEE
  font-size: 14px
  margin-bottom: 10px

.hakemuskausi-vuosi
  color: #0067ce
  padding-top: 40px
  font-size: 60px
  font-weight: bolder

.hidden-file-input
  display: none !important

.hakemus-tila-eikaynnissa
  background-color: #969696

.hakemus-tila-keskenerainen
  background-color: #ffaa00

.hakemus-tila-vireilla
  background-color: #0088cc

.hakemus-tila-taydennettavana
  background-color: #ffaa00

.hakemus-tila-taydennetty
  background-color: #0088cc

.hakemus-tila-tarkastettu
  background-color: #0088cc

.hakemus-tila-paatetty
  background-color: #00bb00

.hakemus-tila-maksettu
  background-color: #5cb85c

.hakemuskausi-file-upload
  color: #fff
  background-color: #337ab7
  border-color: #2e6da4
  display: inline-block
  padding: 6px 12px
  margin-bottom: 0
  font-size: 14px
  font-weight: normal
  line-height: 1.42857143
  text-align: center
  white-space: nowrap
  vertical-align: middle
  touch-action: manipulation
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  background-image: none
  border: 1px solid transparent
  border-radius: 4px

.hakemuskausi-file-upload:hover,
.hakemuskausi-file-upload:focus,
.hakemuskausi-file-upload.focus,
.hakemuskausi-file-upload:active,
.hakemuskausi-file-upload.active,
.open > .dropdown-toggle.hakemuskausi-file-upload
  color: #fff
  background-color: #286090
  border-color: #204d74

.hakemuskausi-file-upload:active,
.hakemuskausi-file-upload.active,
.open > .dropdown-toggle.hakemuskausi-file-upload
  background-image: none

.hakemuskausi-otsikko
  margin-top: 0px
  margin-bottom: 20px
  font-weight: medium

.hakuaika-input
  font-size: 10px
  line-height: 1.5
  border-radius: 3px
  margin-left: 30%
  margin-right: 30%

.uusihakemuskausi
  border-radius: 6px
  border-style: dashed
  border-width: 2px
  background-color: white
  margin-top: 20px

.kaynnistetty-hakemuskausi
  background: linear-gradient(to bottom, white 0%,rgba(0,0,0,0.05) 100%)

.panel-body.clickable
  transition: background 200ms

.panel-body.clickable:hover
  background: #eeeeee
  cursor: pointer

.disabled-button-tooltip
  display:inline-block
  position:relative

.disabled-button-tooltip-text
  position:absolute
  left: 0
  right: 0
  top: 0
  bottom 0

.jukutooltip
  margin-left: 10px

.vcenter
  display: inline-block
  vertical-align: middle
  float: none

[ng-cloak]
  display: none !important

.avustuskohde .help-block
  display: none

.avustuskohde .ng-invalid-omarahoitus-riittava.ng-dirty .help-block.ng-invalid-omarahoitus-riittava
  display: block

.avustuskohde .ng-invalid-sallittu-arvo-haettavaavustus.ng-dirty .help-block.ng-invalid-sallittu-arvo-haettavaavustus
  display: block

.avustuskohde .ng-invalid-sallittu-arvo-haettavamaksatus.ng-dirty .help-block.ng-invalid-sallittu-arvo-haettavamaksatus
  display: block

.avustuskohde .ng-invalid-sallittu-arvo-omarahoitus.ng-dirty .help-block.ng-invalid-sallittu-arvo-omarahoitus
  display: block

.varoitusvari
  color:#ff0000

[ui-sref]
  cursor: pointer

.st-sort-ascent:after
  margin-left: 5px
  content: '\25B2'

.st-sort-descent:after
  margin-left: 5px
  content: '\25BC'
.table-hover
  border-bottom: 1px solid #ddd

.table-hover tr {
  cursor: pointer;
}

.ui-grid-header-cell .ui-grid-cell-contents
  height: 48px
  white-space: normal
  -ms-text-overflow: clip
  -o-text-overflow: clip
  text-overflow: clip
  overflow: visible

// View specific styles
#suunnittelu
  table
    margin-top 1em

#hakemus-paatoslinkit
  a
    margin-right 1em

// Kaikki hakemukset näyttö
#kaikki-hakemukset
  .panel-group
    margin-top: 4px;
  .panel-heading
    background-color: white
    padding: 30px 0px 0px 0px
    //background-color: #0086CA
    //background-color: #337AB7
    .panel-title
      //font-weight: 600
      font-size: 18px
      //color: white;
      padding-top: 4px;
      padding-bottom: 4px;

.a-disabled
  pointer-events: none
  cursor: default
  pointer:none
  opacity:.5

.lataacsv
  margin-bottom: 30px;
  cursor: pointer;
  margin-top: -12px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 600;
  text-align: right

.prewrap
  white-space: pre-wrap;

.notbold
  font-weight:normal

.korostus
  border: 1px solid #ccc
  padding: 10px

.accordionnopadding
  .panel-heading
    padding: 10px 5px;
  .panel-body
    padding: 0px
    padding-top: 5px

.tunnusluku-valinta-form
  margin-bottom: 30px
  label
    margin-right: 20px

.tunnusluku-filter-form
  margin-bottom: 20px
  label
    margin-right: 10px
  select
    margin-right: 20px

.tunnusluku-vuosi-label
  font-size: 18px
  padding-top: 15px
  font-weight: 400

.Ps-19
  padding-left: 19px !important; /* !important is here because of the bootstrap */