@import '../../bower_components/bootstrap/dist/css/bootstrap.min.css'
@import '../../bower_components/angular-toastr/dist/angular-toastr.css'
@import './loading-bar.css'
@import './juku.css'

h3
  font-size: 18px
  margin-bottom: 20px
  border-bottom: 1px solid #dddddd
  padding-top: 20px

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control
  cursor: not-allowed
  background-color: #fff
  opacity: 1
  border-color: #fff
