<ng-form id="lisatiedot-form" name="lisatiedot-Form" class="lisatiedot">
  <juku-form-row>
    <h3>Lisätiedot</h3>
  </juku-form-row>
  <juku-form-row>
    <form-group label="Kirjoita tähän tarvittaessa tarkennuksia ja vapaita kommentteja liittyen yllä oleviin tietoihin." class="col-md-8">
      <textarea id="lisatiedot" name="lisatiedot" rows="4" class="animate msd-elastic: \n;"
                            ng-model="lisatiedot" ng-readonly="isReadonly()"></textarea>
    </form-group>
  </juku-form-row>
</ng-form>
