<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Liitetiedostot</h2>
      </div>
      <div class="panel-body">
        <div class="col-md-12">
          <div ng-show="liitteetOlemassa()">
            <juku-file-details ng-repeat="l in liitteet">
              <juku-icon-link ng-show="isPdf(l.nimipaate)"
                              href="{{getLiitePdf(hakemusid,l.liitenumero)}}"
                              target="_blank"
                              icon="file">
                {{l.nimiteksti}}.{{l.nimipaate}}
              </juku-icon-link>
              <juku-icon-link ng-hide="isPdf(l.nimipaate)"
                              href="api/hakemus/{{hakemusid}}/liite/{{l.liitenumero}}"
                              target="_blank"
                              icon="file">
                {{l.nimiteksti}}.{{l.nimipaate}}
              </juku-icon-link>
              <span>{{formatFileSize(l.bytesize)}}</span>
            </juku-file-details>
          </div>
          <div ng-hide="liitteetOlemassa()">
            <p>Ei liitteitä.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
