*.out
.idea
.idea
.sass-cache
.tmp
app/_pgbackup
app/buildversion.html
app/pinegrow.json
resources/JUKU_allekirjoitusoikeus.doc
bower_components
build-job-target
dist
node_modules
target
upstream

*.log
