*.out
.idea
.idea
.sass-cache
.tmp
app/_pgbackup
app/buildversion.html
app/pinegrow.json
app/resources/JUKU_allekirjoitusoikeus.doc
bower_components
build-job-target
dist
node_modules
target
upstream
rev-manifest.json
*.log
