*.out
.idea
.idea
.sass-cache
.tmp
*.iml
app/_pgbackup
app/buildversion.html
app/pinegrow.json
app/resources/JUKU_allekirjoitusoikeus.doc
app/resources/OIKAISUVAATIMUSOSOITUS.docx
bower_components
build-job-target
dist
node_modules
target
upstream
rev-manifest.json
*.log
livijuku-front-e2e-tests/target

livijuku-front-e2e-tests/LivijukuE2e.iml

generic.zip

mint-test-e2e.sh
