<juku-form-section>
      <h3>MÄÄRÄRAHATARPEET</h3>
  <juku-ely-maararahatarpeet vuosi="hakemus.vuosi"></juku-ely-maararahatarpeet>

      <div id="ely_maaratarpeet" ui-grid="ely_maaratarpeet" ui-grid-resize-columns ui-grid-edit ui-grid-cellnav
           class="grid"></div>
      <h3>KEHITTÄMISHANKKEIDEN ERITTELY HANKKEITTAIN</h3>

      <div id="ely_kehittamishankkeet" ui-grid="ely_kehittamishankkeet" ui-grid-resize-columns ui-grid-edit
           ui-grid-cellnav class="grid"></div>
</juku-form-section>
