<ng-form id="kehittamishankkeet-form" name="kehittamishankkeetForm" class="kehittamishankkeet">
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th class="col-md-4">Kehittämishankkeen (jatkuvat/uudet) nimi</th>
              <th class="col-md-2">ELY:n osuus</th>
              <th class="col-md-5">Kuvaus hankkeesta, hankkeen kesto ja muut rahoittajat</th>
              <th class="col-md-1" ng-hide="isReadonly() || kehittamishankkeet.length === 0">Toiminnot</th>
            </tr>
          </thead>
          <tfoot ng-if="kehittamishankkeet.length > 0">
            <tr>
              <td colspan="4">Kehittämishankkeet yhteensä: <span id="kehittamishankkeetyhteensa">{{yhteensa() |
                currency}}</span>
              </td>
            </tr>
          </tfoot>
          <tbody>
            <tr ng-if="kehittamishankkeet.length === 0">
              <td colspan="4" class="text-info">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Tämä taulukko on tyhjä, koska yhtään kehittämishanketta ei ole lisätty.
              </td>
            </tr>
            <tr ng-repeat="kehittamishanke in kehittamishankkeet track by $index" ng-form>
              <td>
                <form-group-compact label="Nimi" errormessage="nimiErrorMessage">
                  <input id="{{'nimi-'+$index}}" name="nimi" type="text"
                         noenter ng-minlength="2" ng-maxlength="200"
                         select-on-click
                         ng-model="kehittamishanke.nimi"
                         ng-readonly="isReadonly()"
                         placeholder="Nimi" required>
                </form-group-compact>
              </td>
              <td>
                <form-group-compact label="ELYn osuus" errormessage="arvoalueErrorMessage">
                  <input id="{{'arvo-'+$index}}" name="arvo" type="text"
                         class="form-control" ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="kehittamishanke.arvo" ng-readonly="isReadonly()"
                         ui-validate="{sallittuArvo: 'sallittuArvo($value)'}"
                         placeholder="Arvo" uib-tooltip="{{maararahatarve.sidotuttooltip}}" tooltip-placement="top"
                         tooltip-append-to-body="true">
                </form-group-compact>
              </td>
              <td>
                <form-group-compact label="Kuvaus" errormessage="kuvausErrorMessage">
                  <input id="{{'kuvaus-'+$index}}" name="kuvaus" type="text"
                         noenter
                         select-on-click
                         ng-maxlength="200"
                         ng-readonly="isReadonly()"
                         ng-model="kehittamishanke.kuvaus"
                         placeholder="Kuvaus">
                </form-group-compact>
              </td>
              <td ng-hide="isReadonly()"><a id="{{'poistakehittamishanke-'+$index}}" href=""
                                            ng-click="poistaKehittamishanke($index)"><span
                class="glyphicon glyphicon-remove-sign"></span> Poista</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="kehittamishankkeet-controls">
        <button id="lisaakehittamishanke" ng-hide="isReadonly()" class="btn btn-primary"
                ng-click="lisaaKehittamishanke()">Lisää uusi rivi
        </button>
      </div>
</ng-form>
