<ng-form id="lipputulotForm" name="lipputulotForm" class="lipputulot">
  <juku-form-row>
    <h3>Lipputulot</h3>
    <div class="table-responsive">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th class="col-md-3">Kuukausi</th>
            <th ng-if="tyyppi==='BR' || tyyppi==='KOS'" class="col-md-3">Kertalippu<br>(€/kk ilman ALV)</th>
            <th ng-if="tyyppi==='BR' || tyyppi==='KOS'" class="col-md-3">Arvolippu<br>(€/kk ilman ALV)</th>
            <th ng-if="tyyppi==='BR' || tyyppi==='KOS'" class="col-md-3">Kausilippu<br>(€/kk ilman ALV)</th>
            <th ng-if="tyyppi==='SA'" class="col-md-3">Lipputulo<br>(€/kk ilman ALV)</th>
          </tr>
        </thead>
        <tfoot ng-if="lipputulo.length > 0">
          <tr class="total">
            <td>
              <span class="yhteensa">Yhteensä:</span>
            </td>
            <td ng-if="tyyppi==='BR' || tyyppi==='KOS'">{{kertalipputuloSumma() | currency : '€/vuosi' : 2}}</td>
            <td ng-if="tyyppi==='BR' || tyyppi==='KOS'">{{arvolipputuloSumma() | currency : '€/vuosi' : 2}}</td>
            <td ng-if="tyyppi==='BR' || tyyppi==='KOS'">{{kausilipputuloSumma() | currency : '€/vuosi' : 2}}</td>
            <td ng-if="tyyppi==='SA'">{{lipputuloSumma() | currency : '€/vuosi' : 2}}</td>
          </tr>
          <tr ng-if="tyyppi==='BR' || tyyppi==='KOS'" class="total">
            <td colspan="">
              <span class="yhteensa">Kaikki lipputulot yhteensä:</span>
            </td>
            <td colspan="3">{{kaikkilipputulotSumma() | currency: '€/vuosi' : 2}}</td>
          </tr>
        </tfoot>
        <tbody>
          <tr ng-repeat="rivi in lipputulo track by $index" ng-form>
            <td>{{kuukausiNimi(rivi.kuukausi)}}</td>
            <td ng-if="tyyppi==='BR' || tyyppi==='KOS'">
              <form-group-compact label="Kertalippu" errormessage="lipputuloErrorMessage">
                <input id="{{tyyppi + '-kertalippu-'+$index}}" name="kertalippu" type="text"
                       numeric-only unit="€" max="9999999999.99"
                       noenter placeholder="Kertalippu (€)"
                       select-on-click
                       ng-model="rivi.kertalipputulo">
              </form-group-compact>
            </td>
            <td ng-if="tyyppi==='BR' || tyyppi==='KOS'">
              <form-group-compact label="Arvolippu" errormessage="lipputuloErrorMessage">
                <input id="{{tyyppi + '-arvolippu-'+$index}}" name="arvolippu" type="text"
                       numeric-only unit="€" max="9999999999.99"
                       noenter placeholder="Arvolippu (€)"
                       select-on-click
                       ng-model="rivi.arvolipputulo">
              </form-group-compact>
            </td>
            <td ng-if="tyyppi==='BR' || tyyppi==='KOS'">
              <form-group-compact label="Kausilippu" errormessage="lipputuloErrorMessage">
                <input id="{{tyyppi + '-kausilippu-'+$index}}" name="kausilippu" type="text"
                       numeric-only unit="€" max="9999999999.99"
                       noenter placeholder="Kausilippu (€)"
                       select-on-click
                       ng-model="rivi.kausilipputulo">
              </form-group-compact>
            </td>
            <td ng-if="tyyppi==='SA'">
              <form-group-compact label="Lipputulo" errormessage="lipputuloErrorMessage">
                <input id="{{tyyppi + '-lipputulo-sl'+$index}}" name="lipputulo" type="text"
                       numeric-only unit="€" max="9999999999.99"
                       noenter placeholder="Lipputulo (€)"
                       select-on-click
                       ng-model="rivi.lipputulo">
              </form-group-compact>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </juku-form-row>
</ng-form>
