<div class="container">
  <juku-form-row>
    <h2>Markkinaehtoinen liikenne</h2>
  </juku-form-row>
  <juku-form-row>
    <small><em>Tämän välilehden tietojen täyttöaste:</em></small>
    <uib-progressbar animate="false" value="vuositayttoaste" type="success"><b>{{vuositayttoaste}}%</b>
    </uib-progressbar>
  </juku-form-row>
  <juku-form-row>
    <juku-tunnusluvut-liikenteen-kysynta-tarjonta tyyppi="ME"></juku-tunnusluvut-liikenteen-kysynta-tarjonta>
  </juku-form-row>
  <juku-form-row>
    <juku-tunnusluvut-liikennointikorvaukset tyyppi="ME"></juku-tunnusluvut-liikennointikorvaukset>
  </juku-form-row>
  <juku-form-row>
    <juku-tunnusluvut-lisatiedot lisatiedot="taustatiedot.lisatiedot"></juku-tunnusluvut-lisatiedot>
  </juku-form-row>
</div>
