<div class="container">
  <div class="page-header">
    <h1>Tunnuslukujen syöttäminen</h1>
  </div>
  <form id="tunnusluvutValintaForm" name="tunnusluvutValintaForm">
    <juku-form-row>
      <div class="col-md-4 form-group">
        <label for="organisaatio" class="sr-only">Organisaatio</label>
        <select id="organisaatio" ng-model="selectedOrganisaatio" ng-disabled="isReadonly()"
                placeholder="Valitse toimivaltainen viranomainen" class="form-control" required>
          <option value="" selected disabled>Valitse toimivaltainen viranomainen</option>
          <option ng-repeat="kunta in kunnat()" value="{{kunta.id}}">{{kunta.nimi}}</option>
        </select>
      </div>
      <div class="col-md-2 form-group">
        <label for="vuosi" class="sr-only">Vuosi</label>
        <select id="vuosi" name="vuosi"
                ng-model="selectedVuosi" ng-disabled="isReadonly()"
                placeholder="Valitse vuosi" class="form-control" required>
          <option value="" selected disabled>Valitse vuosi</option>
          <option value="2012">2012</option>
          <option value="2013">2013</option>
          <option value="2014">2014</option>
          <option value="2015">2015</option>
        </select>
      </div>
      <div class="col-md-6">
        <small><em>Koko vuoden tallennettujen tunnuslukujen täyttöaste tietokannassa:</em></small>
        <uib-progressbar animate="false" value="vuositayttoaste" type="success"><b>{{vuositayttoaste}}%</b></uib-progressbar>
      </div>
    </juku-form-row>
  </form>
  <juku-navigation>
    <juku-tabs>
      <juku-tab
        ng-repeat="tyyppi in constants.tunnuslukuTyypit"
        selected="isTabSelected(tyyppi)"
        ng-click="toTab(tyyppi)">
        {{ tyyppi | toStatisticName }}
      </juku-tab>
    </juku-tabs>
  </juku-navigation>
  <form name="tunnusluvut" novalidate><div ui-view></div></form>
  <juku-controls >
    <juku-controls-buttons>
      <button class="btn btn-success">Tallenna näytöllä olevat tiedot</button>
    </juku-controls-buttons>
  </juku-controls>
</div>
