<div class="container">
  <juku-form-row>
    <h2>PSA käyttöoikeussopimusliikenteen tunnusluvut (KOS)</h2>
  </juku-form-row>
  <juku-form-row>
    <small><em>Tämän välilehden tietojen täyttöaste:</em></small>
    <uib-progressbar animate="false" value="vuositayttoaste" type="success"><b>{{vuositayttoaste}}%</b>
    </uib-progressbar>
  </juku-form-row>
  <juku-form-row>
    <juku-tunnusluvut-liikenteen-kysynta-tarjonta tyyppi="PSAK" tunnusluvut="tunnusluvut.liikennevuosi"></juku-tunnusluvut-liikenteen-kysynta-tarjonta>
  </juku-form-row>
  <juku-form-row>
    <juku-tunnusluvut-kalusto></juku-tunnusluvut-kalusto>
  </juku-form-row>
  <juku-form-row>
    <juku-tunnusluvut-liikennointikorvaukset tyyppi="PSAK"></juku-tunnusluvut-liikennointikorvaukset>
  </juku-form-row>
  <juku-form-row>
    <juku-tunnusluvut-lipputulot tyyppi="PSAK"></juku-tunnusluvut-lipputulot>
  </juku-form-row>
  <juku-form-row>
    <juku-tunnusluvut-tarjouskilpailut tyyppi="PSAK"></juku-tunnusluvut-tarjouskilpailut>
  </juku-form-row>
  <juku-form-row>
    <juku-tunnusluvut-lisatiedot lisatiedot="taustatiedot.lisatiedot"></juku-tunnusluvut-lisatiedot>
  </juku-form-row>
</div>
