<div class="container">
  <div class="page-header">
    <h1>Tunnuslukujen syöttäminen</h1>
  </div>
  <form id="tunnusluvutValintaForm" name="tunnusluvutValintaForm">
    <juku-form-row>
      <div class="col-md-4 form-group input-lg" ng-show="hasOrganisaatioSelectPermission">
        <label for="organisaatio" class="sr-only">Organisaatio</label>
        <select id="organisaatio" ng-model="organisaatioId" ng-disabled="isReadonly()"
                placeholder="Valitse toimivaltainen viranomainen" class="form-control" required>
          <option value="" selected disabled>Valitse toimivaltainen viranomainen</option>
          <option ng-repeat="organisaatio in organisaatiot" value="{{organisaatio.id}}">{{organisaatio.nimi}}</option>
        </select>
      </div>
      <div class="col-md-2 form-group input-lg">
        <label for="vuosi" class="sr-only">Vuosi</label>
        <select id="vuosi" name="vuosi"
                ng-model="vuosi" ng-disabled="isReadonly()"
                placeholder="Valitse vuosi" class="form-control" required>
          <option value="" selected disabled>Valitse vuosi</option>
          <option value="2012">2012</option>
          <option value="2013">2013</option>
          <option value="2014">2014</option>
          <option value="2015">2015</option>
        </select>
      </div>
      <div class="col-md-6">

        <div class="alert alert-info" ng-hide="vuosi && organisaatioId">
          <p>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            Valitse alue ja vuosiluku
          </p>
        </div>
        <div ng-if="tunnusluvut">
          <small><em>Koko vuoden tallennettujen tunnuslukujen täyttöaste tietokannassa:</em></small>
          <uib-progressbar animate="false" value="vuositayttoaste" type="success"><b>{{vuositayttoaste}}%</b></uib-progressbar>
        </div>
      </div>
    </juku-form-row>
  </form>
  <juku-navigation>
    <juku-tabs>
      <juku-tab
        ng-repeat="tyyppi in constants.tunnuslukuTyypit"
        selected="isTabSelected(tyyppi)"
        ng-click="toTab(tyyppi)">
        {{ tunnuslukuTyyppiNimi(tyyppi) }}
      </juku-tab>
    </juku-tabs>
  </juku-navigation>
  <form name="tunnusluvutForm" novalidate ng-if="tunnusluvut">
    <div ui-view></div>
    <juku-controls >
      <juku-controls-buttons>
        <button class="btn btn-success" data-ng-click="tallennaHakemus()">Tallenna näytöllä olevat tiedot</button>
      </juku-controls-buttons>
    </juku-controls>
  </form>
  <br/>
</div>
