<div class="container">
  <ng-form id="taustatiedot-form" name="taustatiedotForm" class="kysynta">
    <juku-form-row>
      <h2>Alueen taustatiedot ja yleiset tunnusluvut {{vuosi}}</h2>
    </juku-form-row>
    <juku-form-row>
      <small><em>Tämän välilehden tietojen täyttöaste:</em></small>
      <uib-progressbar animate="false" value="tayttoaste(tunnusluvut, 'TTYT')" type="success"><b>{{tayttoaste(tunnusluvut,'TTYT')}}%</b>
      </uib-progressbar>
    </juku-form-row>
    <juku-form-row>
      <h3>Alueen taustatiedot</h3>
      <div class="row">
        <div class="col-md-6">
          <h5>Organisaatio</h5>
          {{$root.userOrganisaatio}}
        </div>
        <div class="col-md-6">
          <h5>TVV</h5>
          {{$root.userLajitunnus | toApplicantName}}
        </div>
      </div>
    </juku-form-row>
    <juku-form-row>
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th class="col-md-10">Joukkoliikenteen suunnittelun ja organisaation henkilöstö</th>
              <th class="col-md-2">
                <form-group-compact label="Henkilöstö" errormessage="kokonaislukuErrorMessage">
                  <input id="taustatiedot-henkilosto" name="henkilosto"
                         ng-model="tunnusluvut.alue.henkilosto"
                         class="form-control notbold"
                         placeholder="henkilötyövuotta" noenter
                         integer-only maxlength="9"
                         ng-readonly="isReadonly()"
                         noenter
                         select-on-click>
                </form-group-compact>
              </th>
            </tr>
          </thead>
        </table>
      </div>
    </juku-form-row>
    <juku-form-row>
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th colspan="2">Joukkoliikenteen ulkoistetut kustannukset (€ / vuosi, alv 0)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-md-8">Asiakaspalvelu</td>
              <td class="col-md-4">
                <form-group-compact label="Asiakaspalvelu" errormessage="desimaaliErrorMessage">
                  <input id="taustatiedot-asiakaspalvelu" name="asiakaspalvelu" type="text"
                         class="form-control" placeholder="Asiakaspalvelu (€)"
                         ng-currency="" numeric-only="" max="9999999999.99"
                         noenter
                         select-on-click
                         ng-model="tunnusluvut.alue.kustannus.asiakaspalvelu" ng-disabled="isReadonly()">
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Konsulttipalvelu</td>
              <td class="col-md-4">
                <form-group-compact label="Konsulttipalvelu" errormessage="desimaaliErrorMessage">
                  <input id="taustatiedot-konsulttipalvelu" name="konsulttipalvelu" type="text"
                         class="form-control" placeholder="Konsulttipalvelu (€)"
                         ng-currency="" numeric-only="" max="9999999999.99"
                         noenter
                         select-on-click
                         ng-model="tunnusluvut.alue.kustannus.konsulttipalvelu" ng-disabled="isReadonly()">
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Lipunmyyntipalkkiot</td>
              <td class="col-md-4">
                <form-group-compact label="Lipunmyyntipalkkiot" errormessage="desimaaliErrorMessage">
                  <input id="taustatiedot-lipunmyyntipalkkiot" name="lipunmyyntipalkkiot" type="text"
                         class="form-control" placeholder="Lipunmyyntipalkkiot (€)"
                         ng-currency="" numeric-only="" max="9999999999.99"
                         noenter
                         select-on-click
                         ng-model="tunnusluvut.alue.kustannus.lipunmyyntipalkkio" ng-disabled="isReadonly()">
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Tieto-/maksujärjestelmät</td>
              <td class="col-md-4">
                <form-group-compact label="Tietomaksujärjestelmät" errormessage="desimaaliErrorMessage">
                  <input id="taustatiedot-tietomaksujarjestelmat" name="tietomaksujarjestelmat" type="text"
                         class="form-control" placeholder="Tieto-/maksujärjestelmät (€)"
                         ng-currency="" numeric-only="" max="9999999999.99"
                         noenter
                         select-on-click
                         ng-model="tunnusluvut.alue.kustannus.jarjestelmat" ng-disabled="isReadonly()">
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Muut palvelut</td>
              <td class="col-md-4">
                <form-group-compact label="Muutpalvelut" errormessage="desimaaliErrorMessage">
                  <input id="taustatiedot-muutpalvelut" name="muutpalvelut" type="text"
                         class="form-control" placeholder="Muut palvelut (€)"
                         ng-currency="" numeric-only="" max="9999999999.99"
                         noenter
                         select-on-click
                         ng-model="tunnusluvut.alue.kustannus.muutpalvelut" ng-disabled="isReadonly()">
                </form-group-compact>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </juku-form-row>
    <juku-form-row>
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th colspan="2">Alueen perustiedot</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-md-8">Alueen kuntien lukumäärä</td>
              <td class="col-md-4">
                <form-group-compact label="Kuntien lukumääärä" errormessage="kokonaislukuErrorMessage">
                  <input id="taustatiedot-kuntienlkm" name="kuntienlkm"
                         placeholder="kuntien lkm" noenter
                         integer-only maxlength="9" select-on-click
                         ng-readonly="isReadonly()"
                         ng-model="tunnusluvut.alue.kuntamaara">
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Joukkoliikenteen lippujärjestelmän vyöhykkeiden määrä</td>
              <td class="col-md-4">
                <form-group-compact label="Vyöhykkeiden lukumääärä" errormessage="kokonaislukuErrorMessage">
                  <input id="taustatiedot-vyohykkeidenlkm" name="vyohykkeidenlkm"
                         placeholder="vyöhykkeiden lkm" noenter
                         integer-only maxlength="9" select-on-click
                         ng-readonly="isReadonly()"
                         ng-model="tunnusluvut.alue.vyohykemaara">
                </form-group-compact>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </juku-form-row>
    <juku-form-row>
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th colspan="2">Toimivalta-alueen lisätiedot</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-md-8">Maapinta-ala, km2</td>
              <td class="col-md-4">
                <form-group-compact label="Maapinta-ala" errormessage="desimaaliErrorMessage">
                  <input id="taustatiedot-maapinta-ala" name="maapinta-ala"
                         ng-model="tunnusluvut.alue.maapintaala"
                         placeholder="km2" noenter
                         numeric-only="" ng-currency="" max="9999999999.99"
                         ng-readonly="isReadonly()"
                         currency-symbol="" noenter
                         select-on-click>
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Asukasmäärä</td>
              <td class="col-md-4">
                <form-group-compact label="Asukasmäärä" errormessage="kokonaislukuErrorMessage">
                  <input id="taustatiedot-asukasmaara" name="asukasmaara"
                         placeholder="lkm" noenter
                         integer-only maxlength="9" select-on-click
                         ng-readonly="isReadonly()"
                         ng-model="tunnusluvut.alue.asukasmaara">
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Työpaikkamäärä</td>
              <td class="col-md-4">
                <form-group-compact label="Työpaikkamäärä" errormessage="kokonaislukuErrorMessage">
                  <input id="taustatiedot-tyopaikkamaara" name="tyopaikkamaara"
                         placeholder="lkm" noenter
                         integer-only maxlength="9" select-on-click
                         ng-readonly="isReadonly()"
                         ng-model="tunnusluvut.alue.tyopaikkamaara">
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Pendelöivien osuus alueella (oman kunnan ulkopuolella työssäkäynti)</td>
              <td class="col-md-4">
                <form-group-compact label="Pendelöivien osuus" errormessage="prosenttiErrorMessage">
                  <input id="taustatiedot-pendeloivienosuus" name="pendeloivienosuus"
                         placeholder="%-osuus työssäkäyvistä" noenter
                         max="100" ng-currency currency-symbol="" select-on-click
                         ng-readonly="isReadonly()"
                         ng-model="tunnusluvut.alue.pendeloivienosuus">
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Henkilöautoliikenteen suorite (jos tiedossa)</td>
              <td class="col-md-4">
                <form-group-compact label="Henkilöautoliikenne" errormessage="desimaaliErrorMessage">
                  <input id="taustatiedot-henkiloautoliikenne" name="henkiloautoliikenne" type="text"
                         numeric-only="" ng-currency="" max="9999999999.99"
                         currency-symbol="" noenter
                         select-on-click
                         placeholder="km / vuosi"
                         ng-model="tunnusluvut.alue.henkiloautoliikennesuorite">
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Autoistumisaste</td>
              <td class="col-md-4">
                <form-group-compact label="Autoistumisaste" errormessage="desimaaliErrorMessage">
                  <input id="taustatiedot-autoistumisaste" name="autoistumisaste" type="text"
                         numeric-only="" ng-currency="" max="9999999999.99"
                         currency-symbol="" noenter
                         select-on-click
                         placeholder="autoa / 1000 asukasta"
                         ng-model="tunnusluvut.alue.autoistumisaste">
                </form-group-compact>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </juku-form-row>
    <juku-form-row>
      <h3>Yleiset joukkoliikenteen tunnusluvut</h3>
    </juku-form-row>
    <juku-form-row>
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <th class="col-md-10">Toimivalta-alueen pysäkkien lukumäärä tie- ja katuverkolla (pysäkkitietoa tarjoaa mm.
              <a href="http://www.digiroad.fi/Uusi_DR/pysakki/fi_FI/pysakki/" target="_blank">digiroad</a>)
            </th>
            <th class="col-md-2">
              <form-group-compact label="Pysäkkien lukumääärä" errormessage="kokonaislukuErrorMessage">
                <input id="taustatiedot-pysakkienlkm" name="pysakkienlkm"
                       class="form-control notbold"
                       placeholder="lkm" noenter
                       integer-only maxlength="9" select-on-click
                       ng-readonly="isReadonly()"
                       ng-model="tunnusluvut.alue.pysakkimaara">
              </form-group-compact>
            </th>
          </thead>
        </table>
      </div>
    </juku-form-row>
    <juku-form-row>
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th class="col-md-6">Lippuen asiakashinnat</th>
              <th ng-repeat="vyohyke in tunnusluvut.lippuhinta" class="col-md-1">{{vyohyke.vyohykemaara}} vyöhyke</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Kertalipun hinta vyöhykkeittäin - aikuinen (€)</td>
              <td ng-repeat="vyohyke in tunnusluvut.lippuhinta" ng-form>
                <form-group-compact label="Kertalippu vyöhyke {{vyohyke.vyohykemaara}}" errormessage="desimaaliErrorMessage">
                  <input id="taustatiedot-kertalippuvyohyke-{{vyohyke.vyohykemaara}}"
                         name="kertalippuvyohyke" type="text" placeholder="€ / kpl"
                         ng-currency="" numeric-only="" max="9999999999.99"
                         noenter
                         select-on-click
                         ng-model="vyohyke.kertalippuhinta" ng-disabled="isReadonly()">
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td>Kausilipun hinta vyöhykkeittäin - 30 päivää, aikuinen (€)</td>
              <td ng-repeat="vyohyke in tunnusluvut.lippuhinta" ng-form>
                <form-group-compact label="Kausilippu vyöhyke {{vyohyke.vyohykemaara}}" errormessage="desimaaliErrorMessage">
                  <input id="taustatiedot-kausilippuvyohyke-{{vyohyke.vyohykemaara}}"
                         name="kausilippuvyohyke" type="text" placeholder="€ / kpl"
                         ng-currency="" numeric-only="" max="9999999999.99"
                         noenter
                         select-on-click
                         ng-model="vyohyke.kausilippuhinta" ng-disabled="isReadonly()">
                </form-group-compact>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </juku-form-row>
    <juku-form-row>
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th colspan="2">Viranomaisen saama valtion avustus / rahoitus
              </th>
            </tr>
          </thead>
          <tbody><tr><td><i>Tiedot selviävät myöhemmin</i></td></tr></tbody>
          <tbody ng-if="false">
            <tr>
              <td class="col-md-8">Liikenteen ostot, € (siirtymäkaudella)</td>
              <td class="col-md-4">
                <form-group-compact label="Liikenteen ostot" errormessage="desimaaliErrorMessage">
                  <input id="taustatiedot-liikenteenostot" name="liikenteenostot" type="text"
                         class="form-control"
                         ng-currency="" numeric-only="" max="9999999999.99"
                         noenter
                         select-on-click
                         ng-model="taustatiedot.liikenteenostot" ng-disabled="isReadonly()"
                         placeholder="€ / vuosi, alv 0">
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Hintojen alentaminen, € (siirtymäkaudella, valtion lippusubventio on poistumassa)
              </td>
              <td class="col-md-4">
                <form-group-compact label="Hintojen alentaminen" errormessage="desimaaliErrorMessage">
                  <input id="taustatiedot-hintojenalentaminen" name="hintojenalentaminen" type="text"
                         class="form-control"
                         ng-currency="" numeric-only="" max="9999999999.99"
                         noenter
                         select-on-click
                         ng-model="taustatiedot.hintojenalentaminen" ng-disabled="isReadonly()"
                         placeholder="€ / vuosi, alv 0">
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Valtion avustus sopimuskorvauksiin, €</td>
              <td class="col-md-4">
                <form-group-compact label="Sopimuskorvaukset" errormessage="desimaaliErrorMessage">
                  <input id="taustatiedot-sopimiskorvaukset" name="sopimiskorvaukset" type="text"
                         class="form-control"
                         ng-currency="" numeric-only="" max="9999999999.99"
                         noenter
                         select-on-click
                         ng-model="taustatiedot.sopimiskorvaukset" ng-disabled="isReadonly()"
                         placeholder="€ / vuosi, alv 0">
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Informaatio ja maksujärjestelmien kehittäminen, €</td>
              <td class="col-md-4">
                <form-group-compact label="Informaatio ja maksujärjestelmien kehittäminen" errormessage="desimaaliErrorMessage">
                  <input id="taustatiedot-infomaksukeh" name="infomaksukeh" type="text"
                         class="form-control"
                         ng-currency="" numeric-only="" max="9999999999.99"
                         noenter
                         select-on-click
                         ng-model="taustatiedot.infomaksukeh" ng-disabled="isReadonly()"
                         placeholder="€ / vuosi, alv 0">
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Matkakeskusten tai matkapalvelukeskusten kehittäminen, €</td>
              <td class="col-md-4">
                <form-group-compact label="Matkakeskusten tai matkapalvelukeskusten kehittäminen" errormessage="desimaaliErrorMessage">
                  <input id="taustatiedot-matkakeskeh" name="matkakeskeh" type="text"
                         class="form-control"
                         ng-currency="" numeric-only="" max="9999999999.99"
                         noenter
                         select-on-click
                         ng-model="taustatiedot.matkakeskeh" ng-disabled="isReadonly()"
                         placeholder="€ / vuosi, alv 0">
                </form-group-compact>
              </td>
            </tr>
            <tr>
              <td class="col-md-8">Muu kehittäminen, €</td>
              <td class="col-md-4">
                <form-group-compact label="Muu kehittäminen" errormessage="desimaaliErrorMessage">
                  <input id="taustatiedot-muukeh" name="muukeh" type="text"
                         class="form-control"
                         ng-currency="" numeric-only="" max="9999999999.99"
                         noenter
                         select-on-click
                         ng-model="taustatiedot.muukeh" ng-disabled="isReadonly()"
                         placeholder="€ / vuosi, alv 0">
                </form-group-compact>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </juku-form-row>
    <juku-form-row>
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th colspan="2">Asiakastyytyväisyyys</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-md-8">Tyytyväisten joukkoliikenteen käyttäjien prosenttiosuus</td>
              <td class="col-md-4">
                <form-group-compact label="Asiakastyytyväisyys" errormessage="prosenttiErrorMessage">
                  <input id="taustatiedot-asiakastyytyvaisyys" name="asiakastyytyvaisyys"
                         placeholder="Asiakastyytyväisyys (%)" noenter
                         max="100" select-on-click numeric-only="" ng-currency currency-symbol=""
                         ng-readonly="isReadonly()"
                         ng-model="tunnusluvut.alue.asiakastyytyvaisyys">
                </form-group-compact>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </juku-form-row>
    <juku-tunnusluvut-lisatiedot lisatiedot="tunnusluvut.alue.kommentti"></juku-tunnusluvut-lisatiedot>
  </ng-form>
</div>
