<div class="container">

  <h1>Valtionavustuskuvaajat</h1>


  <juku-navigation>
    <juku-tabs>
      <juku-tab
        ng-repeat="tyyppi in tyypit"
        selected="isTabSelected(tyyppi)"
        ely="isEly(tyyppi)"
        ng-click="toTab(tyyppi)">
        {{ tyyppi | toApplicantName }}
      </juku-tab>
    </juku-tabs>
  </juku-navigation>
  <br>

  <div class="row">
    <nvd3 options='haettuMyonnettyYhteensaOptions' data='haettuMyonnettyYhteensaData'
          api="haettuMyonnettyYhteensaApi"></nvd3>
    <a ng-csv="exportCsvMultibar(haettuMyonnettyYhteensaData())" class="pull-right view-link"
       filename="Joukkoliikenteen_valtionavustushakemukset_ja_päätökset.csv"
       csv-label="true" field-separator=";" add-bom="true" decimal-separator=","><span class="glyphicon glyphicon-save"></span> Lataa CSV
    </a>
  </div>

  <div class="row">
    <nvd3 options='haettuMyonnettyOptions' data='haettuMyonnettyData' api="haettuMyonnettyApi"></nvd3>
    <a ng-show="isMyonnettyAktiivinen()" ng-csv="exportCsvMultibar(haettuMyonnettyData())" class="pull-right view-link"
       filename="Myönnetyt_jaoteltuna.csv"
       csv-label="true" field-separator=";" add-bom="true" decimal-separator=","><span class="glyphicon glyphicon-save"></span> Lataa CSV
    </a>
    <a ng-hide="isMyonnettyAktiivinen()" ng-csv="exportCsvMultibar(haettuMyonnettyData())" class="pull-right view-link"
       filename="Haetut_jaoteltuna.csv"
       csv-label="true" field-separator=";" add-bom="true" decimal-separator=","><span class="glyphicon glyphicon-save"></span> Lataa CSV
    </a>
  </div>

  <div class="row">
    <nvd3 options='myonnettyPerAsukasOptions' data='myonnettyPerAsukasData' api="myonnettyPerAsukasApi"></nvd3>
    <a ng-csv="exportCsvMultibar(myonnettyPerAsukasData())" class="pull-right view-link"
       filename="Myönnetty_asukas.csv"
       csv-label="true" field-separator=";" add-bom="true" decimal-separator=","><span class="glyphicon glyphicon-save"></span> Lataa CSV
    </a>
  </div>

</div>
