<div class="seurantalomakekaupunkiliput">
  <div class="panel panel-default">
    <accordion close-others="false">
      <accordion-group is-open="accordionOpen">
        <accordion-heading>
          <div class="panel-heading">
            <div class="panel-title"><i class="pull-left glyphicon"
                                        ng-class="{
                  'glyphicon-triangle-bottom':accordionOpen,
                  'glyphicon-triangle-right': !accordionOpen
                  }"></i><span>Kaupunkiliput</span></div>
          </div>
        </accordion-heading>
        <div class="panel-body">
          <form name="seurantaSeutulippu">
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-condensed">
                <tr>
                  <th>Suoritetyyppi</th>
                  <th>Myynti (kpl)</th>
                  <th>Matkat (kpl)</th>
                  <th>Asiakashinta</th>
                  <th>Lipuilla tehtyjen matkojen keskipituus</th>
                  <th>Lipputulot yhteensä</th>
                  <th>Valtion ja kuntien rahoitus yhteensä</th>
                  <th></th>
                </tr>
                </thead>
                <tfoot>
                  <tr>
                    <td>
                      <button class="btn btn-primary" ng-click="lisaaKaupunkilippuRivi()">Lisää rivi</button>
                      <span class="yhteensa">Yhteensä:</span>
                    </td>
                    <td>{{myyntiSumma() | currency : '' : 0}}</td>
                    <td>{{matkatSumma() | currency : '' : 0}}</td>
                    <td>{{asiakashintaSumma() | currency}}</td>
                    <td>{{keskipituusSumma() | currency : 'km'}}</td>
                    <td>{{lipputuloSumma() | currency}}</td>
                    <td>{{rahoitusSumma() | currency}}</td>
                    <td></td>
                  </tr>
                </tfoot>
                <tbody>
                  <tr ng-repeat="rivi in kaupunkilippudata track by $index">
                    <td><select name="suoritetyyppi" ng-model="rivi.suoritetyyppi">
                      <option value="0">30 päivän kausikortti</option>
                      <option value="1">Vuosilippu</option>
                      <option value="2">Sarjalippu (max. 3kk)</option>
                      <option value="3">Kaupunkilippu</option>
                      <option value="4">Nuorisolippu</option>
                      <option value="5">Muut (kunnan tukemat)</option>
                    </select></td>
                    <td><input name="myynti" type="text" class="form-control" numeric-integer-only="" select-on-click
                               ng-model="rivi.myynti"></td>
                    <td><input name="matkat" type="text" class="form-control" numeric-integer-only="" select-on-click
                               ng-model="rivi.matkat"></td>
                    <td><input name="asiakashinta" type="text" class="form-control" ng-currency="" numeric-only=""
                               noenter
                               select-on-click
                               ng-model="rivi.asiakashinta"></td>
                    <td><input name="keskipituus" type="text" class="form-control" numeric-km-only="" ng-currency=""
                               currency-symbol="km"
                               noenter
                               select-on-click
                               ng-model="rivi.keskipituus"></td>
                    <td><input name="lipputulot" type="text" class="form-control" ng-currency="" numeric-only=""
                               noenter
                               select-on-click
                               ng-model="rivi.lipputulot"></td>
                    <td><input name="rahoitus" type="text" class="form-control" ng-currency="" numeric-only="" noenter
                               select-on-click
                               ng-model="rivi.rahoitus"></td>
                    <td><a href="" ng-click="poistaKaupunkilippuRivi($index)"><span
                      class="glyphicon glyphicon-remove-sign"></span></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>
