<div class="header navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <img src="images/juku_logo.svg" class="logo" />

    <!-- Mobiilinavigaatio -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="toggleCollapse()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="header__content clearfix" ng-class="{'is-visible': !$root.isCollapsed}">
      <ul class="nav navbar-nav">


        <li ng-show="sallittu(user, 'view-hakemuskausi')" ng-class="{'is-active': isActive('/k/hakemuskaudenhallinta')}">
          <a href="#/k/hakemuskaudenhallinta" ng-href="#/k/hakemuskaudenhallinta">
            Hakemuskaudet
          </a>
        </li>
        <li ng-show="sallittu(user, 'view-oma-hakemus')" ng-class="{'is-active': isActive('/h/hakemukset')}">
          <a href="#/h/hakemukset" ng-href="#/h/hakemukset">
            Omat hakemukset
          </a>
        </li>
        <li ng-show="sallittu(user, 'view-kaikki-hakemukset')" ng-class="{'is-active': isActive('/k/hakemukset/AH0')}">
          <a href="#/k/hakemukset/AH0" ng-href="#/k/hakemukset/AH0">
            Kaikki hakemukset
          </a>
        </li>
      </ul>

      <juku-user-dropdown user="user"></juku-user-dropdown>
    </div>
  </div>
</div>
