.navbar
  border-radius: 0px
  a
    color: #fff

.navbar-nav
  font-weight: bold

.navbar-nav .is-active
  background-color: #ffffff
  border-radius: 6px 6px 0px 0px
  top: 8px
  height: 45px
  a
    padding-top 0.5em
    color: colors.text

.header li .dropdown-menu
  margin-top: 0.25em
  border-radius: 3px

// Bootstrap overwrites
.nav>li>a:focus, .nav>li>a:hover
  background: transparent

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover
  background: transparent

.navbar-toggle .icon-bar
  background: #fff

.header
  .container
    line-height: height.navbar
  .dropdown-toggle
    padding: 0
  .nav
    height: 100%
  .header__content
    height: height.navbar
  .dropdown
    height: height.navbar
  .dropdown-toggle
    line-height: normal
    vertical-align: middle
    display: inline-block


@media (max-width: 768px)
  .header__content
    display: none

.header
  .navbar__user
    font-weight normal
    .navbar__user__name + .navbar__user__org
      font-size 0.8em
      color #eee
