.kysynta
  .table
    //border: 1px solid #ddd
    tfoot
      font-weight: bold
  .yhteensa
    //float: right
  //.table-responsive
    //padding: 5px 5px
  .ekarivi
    background-color: ghostwhite
