/* Taustat */
body {
  background:  $body-bg;
  padding-top: 15px;

  #main-content {
    background: $content-bg;
  }
}

/* Otsikot */
h3, h4 {
  color: $heading-color-within-container;
  border-bottom: solid 5px $brand-primary;
}

/* Tumma varjo esim. pääsisältöalueelle */
.shadow {
  margin-top: 0px;
  box-shadow: 0 0 15px #999;
  padding: 0 15px;
}

/* Kuvaa ei löydy-'ikoni' */
.thumbnail.missing {
  color: $gray-lighter;
  text-align: center;
  font-size: 100px;
}

