#frontpage {
  #search {
    background: $gray-lighter;
    margin-bottom: 30px;

    input.form-control {
      height: 42px;
    }
    button {
      padding: 10px 12px;
    }
  }

  h3 {
    font-size: $font-size-h4; // Näytetään pienempänä muttei käytetä 'väärää' otsikkotasoa tätä varten
    margin-top: 0px;
  }

  h4 {
    font-size: $font-size-h5 + 1;
    border: none;
  }

  #latest {
    h4 {
      margin-bottom: 3px;
    }
    .details {
      color: $gray-light;
      font-size: $font-size-base - 1;
      @include vertical-separators($gray-light);
    }
  }
}
