/* Tyhjä tila */
.ws-none {
  margin: 0;
  padding: 0;
}
@mixin ws-vert($padding: 0px, $margin: 0px)
{
  margin: $margin 0;
  padding: $padding 0;
}

/* Reunukset komponentin molemmille puolille */
/*@mixin border-radius($radius)
{
  .border-top-radius($radius);
  .border-bottom-radius($radius);
}*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
  background-clip: padding-box;
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
  background-clip: padding-box;
}

/* Pystyerottimet listoihin */
@mixin vertical-separators($color)
{
  li {
    border-left: solid 1px $color;
    margin-left: -1px;

    &:first-of-type {
      border-left: none;
      margin-left: 0px;
    }
  }
}
