<div class="sidebar">
  <ul>
    <li ng-show="sallittu(user, 'view-hakemuskausi')">
      <a ui-sref-active="is-active" ui-sref="app.kasittelija.hakemuskaudenhallinta()" ng-click="uncollapse()">
        Hakemuskaudet
      </a>
    </li>
    <li ng-show="sallittu(user, 'view-oma-hakemus')">
      <a ui-sref-active="is-active" ui-sref="app.hakija.hakemukset.omat()" ng-click="uncollapse()">
        Omat hakemukset
      </a>
    </li>
    <li ng-show="sallittu(user, 'view-hakemus')">
      <a ui-sref-active="is-active" ui-sref="app.yhteinen.hakemukset.list({tyyppi: 'AH0'})" ng-click="uncollapse()">
        Kaikki hakemukset
      </a>
    </li>
  </ul>
  <ul>
    <li ng-show="sallittu(user, 'view-hakemus')">
      <a ui-sref-active="is-active" ui-sref="app.tunnusluku.syottaminen()" ng-click="uncollapse()">
        Tunnuslukujen syöttäminen
      </a>
    </li>
  </ul>
  <ul ng-show="sallittu(user, 'view-hakemus')">
    <li ng-show="sallittu(user, 'view-hakemus')">Tilastot</li>
    <li>
      <a ui-sref-active="is-active" ui-sref="app.tilastot.valtionavustuskuvaajat()" ng-click="uncollapse()">
        Valtionavustuskuvaajat
      </a>
    </li>
    <li>
      <a ui-sref-active="is-active" ui-sref="app.tilastot.tunnuslukukuvaajat()" ng-click="uncollapse()">
        Tunnuslukukuvaajat
      </a>
    </li>
    <li>
      <a ui-sref-active="is-active" ui-sref="app.tilastot.omakuvaaja()" ng-click="uncollapse()">
        Oma kuvaaja tunnusluvuista
      </a>
    </li>
  </ul>
  <ul>
    <li>
      <a ui-sref-active="is-active" ui-sref="app.kilpailutukset()" ng-click="uncollapse()">
        Kilpailutukset
      </a>
    </li>
  </ul>
  <ul>
    <li>
      <div class="navbar__user__name">
        {{user.etunimi}} {{user.sukunimi}}
      </div>
      <div class="navbar__user__org">
        {{$root.userOrganisaatio}}
      </div>
    </li>
    <li>
      <a ui-sref-active="is-active" ui-sref="app.yhteinen.asetukset" ng-click="uncollapse()">
        Asetukset
      </a>
    </li>
    <li><a ui-sref-active="is-active" ui-sref="app.yhteinen.kayttajatiedot" ng-click="uncollapse()">
      JUKUn käyttäjät
    </a></li>
    <li ng-hide="sallittu(user, 'view-hakemuskausi')"><a ui-sref-active="is-active" ui-sref="app.yhteinen.asiakastuki" ng-click="uncollapse()">
      Asiakastuki
    </a></li>
    <li>
      <a class="navbartxt" href="{{logoutUrl}}" ng-click="uncollapse()">
        Kirjaudu ulos
      </a>
    </li>
  </ul>
</div>
