<div class="row avustuskohde">
  <ng-form name="{{getName('form')}}">
    <juku-form-row ng-show="hakemustyyppi=='AH0' || (tyyppi!='AH0' && vertailuarvot().avustushakemusHaettavaAvustus>0)">
      <div class="col-md-12">
        <h5>{{name}}</h5>
      </div>
      <div class="col-md-4">
        <div class="form-group" show-errors="{showSuccess: true}">
          <label>Haettava valtionavustus</label>
          <div class="input-group">
            <input name="{{getName('haettavaavustus')}}" type="text" ng-currency="" numeric-only="" noenter
                   select-on-click
                   alvmuunnos="{prosentti: {{kohde.alv}}, alvmukana: {{alv}}}"
                   ng-readonly="isReadonly()" class="form-control"
                   ng-model-options="{ allowInvalid: true }"
                   ng-model="kohde.haettavaavustus"
                   ui-validate="{sallittuArvoHaettavaavustus: 'sallittuArvo($value)'}"/>
            <span ng-hide="isReadonly()" class="input-group-addon">alv {{ alv ? kohde.alv : 0 }}%</span>
          </div>

          <p class="help-block ng-invalid-sallittu-arvo-haettavaavustus">
            Arvon tulee olla välillä 0 - 999 999 999,99 € (sis. ALV).
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group" show-errors="{showSuccess: true}">
          <label>Kunnan oma rahoitusosuus</label>
          <div class="input-group">
            <input name="{{getName('omarahoitus')}}" type="text" ng-currency="" numeric-only="" noenter select-on-click
                   alvmuunnos="{prosentti: {{kohde.alv}}, alvmukana: {{alv}}}"
                   class="form-control"
                   ng-model-options="{ allowInvalid: true }"
                   ng-readonly="isReadonly()" ng-model="kohde.omarahoitus"
                   ui-validate="{omarahoitusRiittava: 'omarahoitusRiittava($value,kohde.haettavaavustus)',sallittuArvoOmarahoitus: 'sallittuArvo($value)'}"
                   ui-validate-watch=" 'kohde.haettavaavustus' "/>
            <span ng-hide="isReadonly()" class="input-group-addon">alv {{ alv ? kohde.alv : 0 }}%</span>
          </div>

          <p class="help-block ng-invalid-sallittu-arvo-omarahoitus">Arvon tulee olla välillä 0 - 999 999 999,99 € (sis.
            ALV).</p>

          <p class="help-block ng-invalid-omarahoitus-riittava">Oma rahoitusosuus tulee olla vähintään
            {{100-avustusprosentti}}% kokonaiskuluista.</p>

        </div>
      </div>
      <div class="col-md-4">
        <label>Yhteensä</label>

        <p class="form-control-static" ng-show="alv">{{yhteensa(kohde,alv) | currency:"&euro;"}}
          alv {{kohde.alv}} %</p>
        <p class="form-control-static" ng-hide="alv">{{yhteensa(kohde,alv) | currency:"&euro;"}}
          alv 0 %</p>
      </div>
    </juku-form-row>
    <juku-form-row ng-show="hakemustyyppi!='AH0' && vertailuarvot().avustushakemusHaettavaAvustus==0">
      <div class="col-md-12">
        <h5>{{name}}</h5>
      </div>
      <div class="col-md-12">
        <p>Ei haettu avustusta.</p>
      </div>
    </juku-form-row>
  </ng-form>
</div>
