.navigation
  line-height: 35px
  border-bottom: 1px solid #B3B3B3
  overflow: auto

  .tabs
    float: right
    height: 100%

  @media all and (max-width: 560px)
    .tabs
      float: none
      margin: 1em 0
    .tab
      display: block
      border-radius: 5px
      margin: 0
      margin-bottom: 0.5em
