<div class="container">
  <div ng-hide="sallittu('view-oma-hakemus')">
    <p>Ei omien hakemusten katseluoikeutta.</p>
  </div>

  <!-- Navigaatio -->
  <juku-form-row ng-show="sallittu('view-oma-hakemus')">
    <juku-navigation>
      <juku-link-prev href="#/h/hakemukset">
        Palaa hakemusten päänäkymään
      </juku-link-prev>

      <juku-tabs>
        <juku-tab
          href="#/h/hakemus/{{hakemus.vuosi}}/AH0/{{avustushakemusid}}/{{maksatushakemus1id}}/{{maksatushakemus2id}}"
          selected="onAvustushakemus()">
          Avustushakemus {{hakemus.vuosi}}
        </juku-tab>

        <juku-tab
          href="#/h/hakemus/{{hakemus.vuosi}}/MH1/{{avustushakemusid}}/{{maksatushakemus1id}}/{{maksatushakemus2id}}"
          selected="onMaksatushakemus1()">
          1. maksatushakemus {{hakemus.vuosi}}
        </juku-tab>

        <juku-tab
          href="#/h/hakemus/{{hakemus.vuosi}}/MH2/{{avustushakemusid}}/{{maksatushakemus1id}}/{{maksatushakemus2id}}"
          selected="onMaksatushakemus2()">
          2. maksatushakemus {{hakemus.vuosi}}
        </juku-tab>
      </juku-tabs>
    </juku-navigation>

    <juku-form name="hakemusForm" juku-poistumisvaroitus="">
      <h1>
        <span ng-switch on="tyyppi">
          <span ng-switch-when='MH1'>Joukkoliikenteen 1. maksatushakemus {{hakemus.vuosi}}</span>
          <span ng-switch-when='MH2'>Joukkoliikenteen 2. maksatushakemus {{hakemus.vuosi}}</span>
          <span ng-switch-default>Joukkoliikenteen valtionavustushakemus {{hakemus.vuosi}}</span>
        </span>
      </h1>

      <div class="row" ng-show="hasPaatos(hakemus.hakemustilatunnus)">
        <div class="col-md-12">
          <p>
            <a href="api/hakemus/{{hakemusid}}/paatos/pdf" target="_blank">
              <span class="glyphicon glyphicon-file"></span>
              <b>Avaa päätös (PDF)</b>
            </a>
          </p>

          <p>
            <a href="resources/OIKAISUVAATIMUSOSOITUS.docx" target="_blank">
              <span class="glyphicon glyphicon-file"></span>
              Avaa oikaisuvaatimusosoitus (DOCX)
            </a>
          </p>
        </div>
      </div>

      <juku-form-section>
        <h3>PERUSTIEDOT</h3>

        <juku-form-row>
          <h5>Hakija</h5>
          {{hakija}}
        </juku-form-row>
        <juku-form-row>
          <h5>Hakemuksen tila</h5>
          <hakemuksen-tila tila="{{hakemus.hakemustilatunnus}}" tyyppi="{{tyyppi}}"/>
        </juku-form-row>
        <juku-form-row ng-hide="hakemusKeskenerainen()">
          <h5>Käsittelijä</h5>
          {{hakemus.kasittelijanimi}}
        </juku-form-row>
        <juku-form-row ng-show="hakemusTaydennettavana() && taydennyspyyntoSeliteOlemassa()"
                       class="alert alert-warning">
          <strong>Täydennyspyyntöviesti käsittelijältä, määräpäivä: {{hakemus.taydennyspyynto.maarapvm |
            date:'dd.MM.yyyy'}}! </strong><br> {{hakemus.taydennyspyynto.selite}}
        </juku-form-row>
        <juku-form-row ng-show="paatosOlemassa() && (onMaksatushakemus1() || onMaksatushakemus2())">
          <h5>MYÖNNETTY AVUSTUS VUODELLE {{vuosi}}</h5>
          {{myonnettyAvustusPerVuosi() | currency:"&euro;"}} (sis. ALV)
          <juku-icon-link
            href="api/hakemus/{{avustushakemusid}}/paatos/pdf"
            title="Avaa päätös"
            target="_blank"
            icon="file">
            Avaa päätös (PDF)
          </juku-icon-link>
        </juku-form-row>
        <juku-form-row ng-show="paatosOlemassa() && onMaksatushakemus1()">
          <h5>MYÖNNETTY AVUSTUS AJALLE {{ajankohta}}{{vuosi}}</h5>
          {{myonnettyAvustusPerJakso() | currency:"&euro;"}} (sis. ALV)
          <juku-icon-link
            href="api/hakemus/{{hakemusid}}/paatos/pdf"
            ng-show="hasPaatos(hakemus.hakemustilatunnus)"
            title="Avaa päätös"
            target="_blank"
            icon="file">
            Avaa päätös (PDF)
          </juku-icon-link>
        </juku-form-row>
        <juku-form-row ng-show="maksatushakemus1PaatosOlemassa() && onMaksatushakemus2()">
          <h5>MYÖNNETTY AVUSTUS 1. MAKSATUSHAKEMUKSEN PERUSTEELLA</h5>
          {{maksatushakemus1PaatosMaksettu() | currency:"&euro;"}} (sis. ALV)
          <juku-icon-link
            href="api/hakemus/{{maksatushakemus1id}}/paatos/pdf"
            title="Avaa päätös"
            target="_blank"
            icon="file">
            Avaa päätös (PDF)
          </juku-icon-link>
          <h5>MYÖNNETTY AVUSTUS AJALLE {{ajankohta}}{{vuosi}}</h5>
          {{myonnettyAvustusPerJakso() | currency:"&euro;"}} (sis. ALV)
          <juku-icon-link
            href="api/hakemus/{{hakemusid}}/paatos/pdf"
            ng-show="hasPaatos(hakemus.hakemustilatunnus)"
            title="Avaa päätös"
            target="_blank"
            icon="file">
            Avaa päätös (PDF)
          </juku-icon-link>
        </juku-form-row>
        <juku-form-row
          ng-show="(paatosOlemassa() && (onMaksatushakemus1() || onMaksatushakemus2())) && haettuSummaYliMyonnetyn()"
          class="alert alert-danger">
          <strong>Virhe! </strong> Haettu avustussumma ({{sumHaettavaAvustus() | currency:"&euro;"}}) ylittää myönnetyn
          avustuksen. Voit hakea ensimmäisellä maksatushakemuksella enintään 50% vuodelle myönnetystä avustuksesta.
          Toisen maksatushakemuksen haettava avustussumma ei saa ylittää hakemusajalle myönnettyä summaa (vuodelle myönnetty
          avustussumma vähennettynä myönnetty avustus ensimmäisen maksatushakemuksen perusteella).
        </juku-form-row>
      </juku-form-section>
      <juku-form-section>

        <div class="row">
          <div class="col-md-12">
            <h3 ng-switch on="tyyppi">
              <span ng-switch-when='AH0'>VALTIONAVUSTUKSEN KOHDE JA HAETTAVA VALTIONAVUSTUKSEN MÄÄRÄ</span>
              <span ng-switch-default>HAETTAVAT MAKSATUKSET AJALLE {{ajankohta}}{{vuosi}}</span>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <juku-checkbox ng-model="alv">
                Haluan {{ hakemusKeskenerainen() ? "syöttää summat" : "katsoa arvoja" }} arvonlisäverollisina.
              </juku-checkbox>
            </div>
          </div>
        </div>

        <juku-avustusluokka-panel luokka="avustuskohdeluokka"
                                  name="{{avustuskohdeLuokat[avustuskohdeluokka.tunnus].nimi}}"
                                  hakemus="hakemus"
                                  ng-repeat="avustuskohdeluokka in avustuskohdeluokat">
          <juku-avustuskohde vuosi="vuosi"
                             vertailuarvot="haeVertailuarvot(avustuskohde.avustuskohdeluokkatunnus,avustuskohde.avustuskohdelajitunnus)"
                             hakemustyyppi="tyyppi" kohde="avustuskohde" alv="alv"
                             hakemus="hakemus"
                             name="{{avustuskohdeLuokat[avustuskohde.avustuskohdeluokkatunnus].avustuskohdelajit[avustuskohde.avustuskohdelajitunnus].nimi}}"
                             ng-repeat="avustuskohde in avustuskohdeluokka.avustuskohteet"/>
        </juku-avustusluokka-panel>

        <div class="row">
          <div class="col-md-9">
            <h4>JOUKKOLIIKENTEEN VALTIONAVUSTUSHAKEMUS YHTEENSÄ:</h4>
          </div>
          <div class="col-md-3">
            <div class="pull-right">
              <h4>{{sumHaettavaAvustus() | currency:"&euro;"}} (sis. alv)</h4>
            </div>
          </div>
        </div>
      </juku-form-section>
      <juku-form-section>
        <h3>LISÄTIETOJA AVUSTUSTEN KOHTEISTA JA HAKEMUKSEN ALLEKIRJOITTAJASTA</h3>
        <juku-ohje>

          <p>Liitä hakemukseesi lisätiedot kaikista hakemistasi avustuskohteista.</p>

          <h5>PSA:n mukaisen liikenteen hankinta:</h5>

          <p>Liitä ostosopimus uusista liikenteistä, josta ilmenee liikenteen
            aikataulu ja reitti.</p>
          <h5>Hintavelvotteiden korvaamien:</h5>

          <p>
            Erittele eri lipputyyppeihin haettava valtionavustus.
          </p>

          <h5>Liikenteen suunnittelu- ja kehittämishankkeet:</h5>

          <p>
            Liitä hankesuunnitelma tai työohjelma, joka sisältää ainakin hankkeen
            tavoitteet, sisällön, aikataulun,
            organisoinnin ja rahoituksen.
          </p>
          <section>
            <p>Liitä hakemukseen myös liite allekirjoitusoikeudesta.</p>
            <ol>
              <li>
                Lataa tiedosto: <a href="resources/JUKU_allekirjoitusoikeus.doc" target="_blank">JUKU_allekirjoitusoikeus.doc</a>
              </li>
              <li>
                Täytä allekirjoitusoikeuslomake.
              </li>
              <li>
                Tulosta lomake ja allekirjoituta se organisaationne joukkoliikenteen avustushakemuksen hyväksyjällä.
              </li>
              <li>
                Skannaa allekirjoitettu lomake ja lataa se liitteeksi tähän hakemukseen.
              </li>
            </ol>
          </section>
        </juku-ohje>
        <div class="row">
          <div class="col-md-12">
            <juku-liite-lataus>
            </juku-liite-lataus>
          </div>
        </div>
      </juku-form-section>
      <juku-form-section>
        <div class="row">
          <div class="col-md-12">
            <h3>HAKEMUKSEN PÄIVÄMÄÄRÄ JA HAKIJA</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h5>Päivämäärä</h5>

            <p ng-show="((hakemusKeskenerainen()) && (hakemus.muokkaaja!=null))">{{hakemus.muokkausaika |
              date:'dd.MM.yyyy'}}</p>

            <p ng-hide="(hakemusKeskenerainen())">{{hakemus.lahetysaika |
              date:'dd.MM.yyyy'}}</p>
          </div>
          <div class="col-md-6">
            <h5 ng-show="hakemusKeskenerainen()">Viimeisin muokkaaja</h5>
            <h5 ng-hide="hakemusKeskenerainen()">Hakija</h5>

            <p ng-show="hakemusKeskenerainen()">{{hakemus.muokkaaja}}</p>

            <p ng-hide="hakemusKeskenerainen()">{{hakemus.lahettaja}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-3">
            <div
              ng-show="(hakemusKeskenerainen() && sallittu('modify-oma-hakemus'))">
              <button data-ng-click="tallennaHakemus(0)" class="pull-right btn btn-primary">Tallenna tiedot
              </button>
            </div>
            <div
              ng-hide="(hakemusKeskenerainen() && sallittu('modify-oma-hakemus'))">
              <button data-ng-click="tallennaHakemus(0)" class="pull-right btn btn-primary" disabled>Tallenna
                tiedot
              </button>
            </div>
          </div>
          <div class="col-md-3">
            <div
              ng-show="(hakemusKeskenerainen() && sallittu('modify-oma-hakemus'))">
              <button data-ng-click="naytaHakemus(hakemus.hakemustilatunnus)" class="pull-right btn btn-primary"
                      noenter>
                Tallenna ja esikatsele hakemus
              </button>
            </div>
            <div
              ng-hide="(hakemusKeskenerainen() && sallittu('modify-oma-hakemus'))">
              <button data-ng-click="naytaHakemus(hakemus.hakemustilatunnus)" class="pull-right btn btn-primary"
                      noenter>
                Esikatsele hakemus
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label ng-show="hakemusKeskenerainen() && liitteetOlemassa()">
                <input type="checkbox" ng-model="allekirjoitusliitetty">
                <span>Olen liittänyt hakemukseen tarvittavat lisätiedot mukaanlukien liitteen
                  allekirjoitusoikeudesta.</span>
              </label>
              <label ng-hide="hakemusKeskenerainen() && liitteetOlemassa()">
                <input type="checkbox" ng-model="allekirjoitusliitetty" disabled>
                <span>Olen liittänyt hakemukseen tarvittavat lisätiedot mukaanlukien liitteen
                  allekirjoitusoikeudesta.</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div ng-show="sallittu('allekirjoita-oma-hakemus')">
              <button
                ng-show="(hakemusKeskenerainen() && allekirjoitusliitetty && liitteetOlemassa())"
                juku-varmistusdialogi varmistusotsake="Hakemuksen lähettäminen"
                varmistusteksti="Oletko varma, että haluat lähettää hakemuksen? Hakemuksen lähettämistä ei ole mahdollista peruuttaa ja hakemuksen sisältöä ei ole mahdollista muuttaa lähettämisen jälkeen. Lähetä hakemus painamalla Kyllä-painiketta. Huom! Liitteiden määrästä riippuen, hakemuksen lähettäminen asianhallintaan kestää 10-70 sekuntia."
                operaatio="tallennaHakemus(2)"
                class="pull-right btn btn-success">Tallenna ja lähetä hakemus
              </button>
              <button
                ng-hide="(hakemusKeskenerainen() && allekirjoitusliitetty && liitteetOlemassa())"
                class="pull-right btn btn-success" disabled>Tallenna ja lähetä hakemus
              </button>
            </div>
          </div>
        </div>
      </juku-form-section>
    </juku-form>
    <div class="row">
      <div class="col-md-12">
        <juku-link-prev href="#/h/hakemukset">
          Palaa hakemusten päänäkymään
        </juku-link-prev>
      </div>
    </div>
</div>
</div>
