<div class="container">
  <div ng-hide="sallittu('view-oma-hakemus')">
    <p>Ei omien hakemusten katseluoikeutta.</p>
  </div>
  <div ng-show="hakemukset.length === 0">
    <p>Ei hakemuksia, koska hakemuskautta ei ole vielä avattu.</p>
  </div>
  <div ng-show="hakemukset.length > 0 && sallittu('view-oma-hakemus')">
    <h3>AKTIIVISET JOUKKOLIIKENTEEN AVUSTUSHAKEMUKSET</h3>

    <div ng-repeat="hakemuskausi in hakemukset">
      <div class="well">
        <div class="row">
          <div class="col-md-3 text-center">
            <h1>{{hakemuskausi.vuosi}}</h1>
            <a href="api/hakemuskausi/{{hakemuskausi.vuosi}}/hakuohje" target="_blank">Valtioneuvoston asetus</a>
            <br>
            <br>
          </div>

          <div class="col-md-3 text-center">
            <hakemus-laatikko
              ng-click="valitseHakemus('AH0', hakemuskausi)"
              title="Avustushakemus"
              tila="avustushakemus"
              hakemuskausi="hakemuskausi" />
          </div>

          <div class="col-md-3 text-center">
            <hakemus-laatikko
              ng-click="valitseHakemus('MH1', hakemuskausi)"
              title="1. maksatushakemus"
              tila="maksatushakemus1"
              hakemuskausi="hakemuskausi" />
          </div>

          <div class="col-md-3 text-center">
            <hakemus-laatikko
              ng-click="valitseHakemus('MH2', hakemuskausi)"
              title="2. maksatushakemus"
              tila="maksatushakemus2"
              hakemuskausi="hakemuskausi" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

