<div class="container" focus-to-invalid>
  <div ng-hide="sallittu('view-oma-hakemus')">
    <p>Ei omien hakemusten katseluoikeutta.</p>
  </div>

  <div ng-show="sallittu('view-oma-hakemus')">

    <!-- Navigaatio -->
    <juku-navigation>
      <juku-link-prev ui-sref="app.hakija.hakemukset.list()">
        Palaa hakemusten päänäkymään
      </juku-link-prev>

      <juku-tabs>
        <juku-tab
          ng-repeat="tyyppi in constants.hakemustyypit"
          ui-sref="app.hakija.hakemukset.hakemus({
            vuosi: hakemus.vuosi,
            tyyppi: tyyppi,
            id: avustushakemusid,
            m1id: maksatushakemus1id,
            m2id: maksatushakemus2id
          })">
          {{ tyyppi | toApplicationName }}
        </juku-tab>
      </juku-tabs>
    </juku-navigation>

    <juku-form name="hakemusForm" juku-poistumisvaroitus="">
      <h1>Joukkoliikenteen {{tyyppi | toApplicationName}} {{hakemus.vuosi}}</h1>

      <div class="row" ng-show="hasPaatos(hakemus.hakemustilatunnus)">
        <div class="col-md-12">
          <p>
            <a href="{{haePaatosPdf()}}" target="_blank">
              <span class="glyphicon glyphicon-file"></span>
              <b>Avaa päätös (PDF)</b>
            </a>
            &nbsp;&nbsp;
            <a href="api/hakemus/{{hakemusid}}/paatos/pdf" target="_self"
               download="{{tyyppi}}_paatos_{{vuosi}}.pdf"><span class="glyphicon glyphicon-download-alt"></span> Lataa
              pdf</a>
          </p>

          <p>
            <a href="resources/OIKAISUVAATIMUSOSOITUS.docx" target="_blank">
              <span class="glyphicon glyphicon-file"></span>
              Avaa oikaisuvaatimusosoitus (DOCX)
            </a>
          </p>
        </div>
      </div>

      <juku-form-section>
        <h3>PERUSTIEDOT</h3>

        <juku-form-row>
          <h5>Hakija</h5>
          {{hakija}}
        </juku-form-row>
        <juku-form-row>
          <h5>Hakemuksen tila</h5>
          <hakemuksen-tila tila="{{hakemus.hakemustilatunnus}}" tyyppi="{{tyyppi}}"/>
        </juku-form-row>
        <juku-form-row ng-hide="hakemusKeskenerainen()">
          <h5>Käsittelijä</h5>
          {{hakemus.kasittelijanimi}}
        </juku-form-row>
        <juku-form-row ng-show="hakemusTaydennettavana() && taydennyspyyntoSeliteOlemassa()"
                       class="alert alert-warning">
          <strong>Täydennyspyyntöviesti käsittelijältä, määräpäivä: {{hakemus.taydennyspyynto.maarapvm |
            date:'dd.MM.yyyy'}}! </strong><br> {{hakemus.taydennyspyynto.selite}}
        </juku-form-row>
        <juku-form-row ng-show="avustushakemusPaatosOlemassa() && (onMaksatushakemus1() || onMaksatushakemus2())">
          <h5>MYÖNNETTY AVUSTUS VUODELLE {{vuosi}}</h5>
          {{myonnettyAvustusPerVuosi() | currency:"&euro;"}} (sis. ALV)
          <juku-icon-link
            href="{{haeAvustushakemusPaatosPdf()}}"
            title="Avaa päätös"
            target="_blank"
            icon="file">
            Avaa päätös (PDF)
          </juku-icon-link>
        </juku-form-row>
        <juku-form-row ng-show="avustushakemusPaatosOlemassa() && onMaksatushakemus1()">
          <h5>MYÖNNETTY AVUSTUS AJALLE {{ajankohta}}{{vuosi}}</h5>
          {{myonnettyAvustusPerJakso() | currency:"&euro;"}} (sis. ALV)
          <juku-icon-link
            href="{{haePaatosPdf()}}"
            ng-show="hasPaatos(hakemus.hakemustilatunnus)"
            title="Avaa päätös"
            target="_blank"
            icon="file">
            Avaa päätös (PDF)
          </juku-icon-link>
        </juku-form-row>
        <juku-form-row ng-show="maksatushakemus1PaatosOlemassa() && onMaksatushakemus2()">
          <h5>MYÖNNETTY AVUSTUS 1. MAKSATUSHAKEMUKSEN PERUSTEELLA</h5>
          {{maksatushakemus1PaatosMaksettu() | currency:"&euro;"}} (sis. ALV)
          <juku-icon-link
            href="{{haeMaksatushakemus1PaatosPdf()}}"
            title="Avaa päätös"
            target="_blank"
            icon="file">
            Avaa päätös (PDF)
          </juku-icon-link>
        </juku-form-row>
        <juku-form-row ng-show="maksatushakemus1PaatosOlemassa() && onMaksatushakemus2()">
          <h5>MYÖNNETTY AVUSTUS 2. MAKSATUSHAKEMUKSEN PERUSTEELLA</h5>
          {{myonnettyAvustusPerJakso() | currency:"&euro;"}} (sis. ALV)
          <juku-icon-link
            href="{{haePaatosPdf()}}"
            ng-show="hasPaatos(hakemus.hakemustilatunnus)"
            title="Avaa päätös"
            target="_blank"
            icon="file">
            Avaa päätös (PDF)
          </juku-icon-link>
        </juku-form-row>
        <juku-form-row
          ng-show="(avustushakemusPaatosOlemassa() && (onMaksatushakemus1() || onMaksatushakemus2())) && haettuSummaYliMyonnetyn()"
          class="alert alert-danger">
          <strong>Virhe! </strong> Haettu avustussumma ({{sumHaettavaAvustus() | currency:"&euro;"}}) ylittää myönnetyn
          avustuksen. Voit hakea ensimmäisellä maksatushakemuksella enintään 50% vuodelle myönnetystä avustuksesta.
          Toisen maksatushakemuksen haettava avustussumma ei saa ylittää hakemusajalle myönnettyä summaa (vuodelle
          myönnetty
          avustussumma vähennettynä myönnetty avustus ensimmäisen maksatushakemuksen perusteella).
        </juku-form-row>
      </juku-form-section>
      <juku-form-section>

        <div class="row">
          <div class="col-md-12">
            <h3 ng-switch on="tyyppi">
              <span ng-switch-when='AH0'>VALTIONAVUSTUKSEN KOHDE JA HAETTAVA VALTIONAVUSTUKSEN MÄÄRÄ</span>
              <span ng-switch-default>HAETTAVAT MAKSATUKSET AJALLE {{ajankohta}}{{vuosi}}</span>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <juku-checkbox ng-model="alv">
                Haluan {{ hakemusKeskenerainen() ? "syöttää summat" : "katsoa arvoja" }} arvonlisäverollisina.
              </juku-checkbox>
            </div>
          </div>
        </div>

        <juku-avustusluokka-panel luokka="avustuskohdeluokka"
                                  name="{{avustuskohdeLuokat[avustuskohdeluokka.tunnus].nimi}}"
                                  hakemus="hakemus"
                                  kohde="avustuskohdeluokka"
                                  ng-repeat="avustuskohdeluokka in avustuskohdeluokat">

          <juku-avustuskohde vuosi="vuosi"
                             vertailuarvot="haeVertailuarvot(avustuskohde.avustuskohdeluokkatunnus,avustuskohde.avustuskohdelajitunnus)"
                             hakemustyyppi="tyyppi"
                             kohde="avustuskohde"
                             alv="alv"
                             hakemus="hakemus"
                             name="{{avustuskohdeLuokat[avustuskohde.avustuskohdeluokkatunnus].avustuskohdelajit[avustuskohde.avustuskohdelajitunnus].nimi}}"
                             ng-repeat="avustuskohde in avustuskohdeluokka.avustuskohteet"/>

        </juku-avustusluokka-panel>

        <div class="row">
          <div class="col-md-9">
            <h4>HAETTAVA VALTIONAVUSTUS YHTEENSÄ:</h4>
          </div>
          <div class="col-md-3">
            <div class="pull-right">
              <h4>{{sumHaettavaAvustus() | currency:"&euro;"}} (sis. alv)</h4>
            </div>
          </div>
        </div>
      </juku-form-section>
      <juku-form-section ng-show="onAvustushakemus()">
        <h3>LISÄTIETOJA AVUSTUSTEN KOHTEISTA JA HAKEMUKSEN ALLEKIRJOITTAJASTA</h3>
        <juku-ohje>

          <p>Liitä hakemukseesi lisätiedot kaikista hakemistasi avustuskohteista.</p>

          <h5>PSA:n mukaisen liikenteen hankinta:</h5>

          <p>Liitä ostosopimus uusista liikenteistä, josta ilmenee liikenteen
            aikataulu ja reitti.</p>
          <h5>Hintavelvotteiden korvaamien:</h5>

          <p>
            Erittele eri lipputyyppeihin haettava valtionavustus.
          </p>

          <h5>Liikenteen suunnittelu- ja kehittämishankkeet:</h5>

          <p>
            Liitä hankesuunnitelma tai työohjelma, joka sisältää ainakin hankkeen
            tavoitteet, sisällön, aikataulun,
            organisoinnin ja rahoituksen.
          </p>
          <section>
            <p>Liitä hakemukseen myös liite allekirjoitusoikeudesta.</p>
            <ol>
              <li>
                Lataa tiedosto: <a href="resources/JUKU_allekirjoitusoikeus.doc" target="_blank">JUKU_allekirjoitusoikeus.doc</a>
              </li>
              <li>
                Täytä allekirjoitusoikeuslomake.
              </li>
              <li>
                Tulosta lomake ja allekirjoituta se organisaationne joukkoliikenteen avustushakemuksen hyväksyjällä.
              </li>
              <li>
                Skannaa allekirjoitettu lomake ja lataa se liitteeksi tähän hakemukseen.
              </li>
            </ol>
          </section>
        </juku-ohje>
      </juku-form-section>
      <juku-form-section ng-show="onMaksatushakemus1() || onMaksatushakemus2()">
        <h3>LISÄTIETOJA KUSTANNUKSISTA JA HAKEMUKSEN ALLEKIRJOITTAJASTA</h3>
        <juku-ohje>

          <p>Liitä hakemukseesi seuraavat tiedot:</p>

          <h5>Seurantalomakkeet:</h5>

          <p>Lataa seurantalomake: <a href="resources/JUKU_valtionavustusten_seurantalomake_2015.xlsx" target="_blank">Valtionavustuksen
            seurantalomake</a></p>
          <section>
            <ul>
              <li>
                Täytä lomakkeeseen tiedot PSA-liikenteestä ja hintavelvoitteiden korvaamisesta (Linja-, sopimus- tai
                yhteenvetotasolla).
              </li>
              <li>
                Huomaa, että valtionavustuksen seurantalomakeessa on neljä välilehteä: Paikallisliikenne,
                palveluliikenne,
                kaupunkilippu ja seutulippu.
              </li>
              <li>
                Toimivaltaisen viranomaisen ja seurantatietojen ajankohdan voit valita lomakkeen alasvetovalikoista.
              </li>
            </ul>
          </section>
          <h5>Kustannusten todentaminen:</h5>

          <p>
            Kirjanpidon ote tai vastaava allekirjoitettu talousselvitys, josta syntyneet maksatukseen
            haettavat kustannukset voidaan todentaa. Laskujäljennöksiä ei tule toimittaa
            maksatushakemuksen yhteydessä.
          </p>

          <h5>Todistus allekirjoitusoikeudesta:</h5>

          <p>Liitä hakemukseen myös liite allekirjoitusoikeudesta.</p>
          <section>
            <ol>
              <li>
                Lataa tiedosto: <a href="resources/JUKU_allekirjoitusoikeus.doc" target="_blank">JUKU_allekirjoitusoikeus.doc</a>
              </li>
              <li>
                Täytä allekirjoitusoikeuslomake.
              </li>
              <li>
                Tulosta lomake ja allekirjoituta se organisaationne joukkoliikenteen avustushakemuksen hyväksyjällä.
              </li>
              <li>
                Skannaa allekirjoitettu lomake ja lataa se liitteeksi tähän hakemukseen.
              </li>
            </ol>
          </section>
        </juku-ohje>
      </juku-form-section>
      <juku-form-section>
        <div class="row">
          <div class="col-md-12">
            <juku-liite-lataus>
            </juku-liite-lataus>
          </div>
        </div>
      </juku-form-section>
      <juku-form-section>
        <div class="row">
          <div class="col-md-12">
            <h3>HAKEMUKSEN PÄIVÄMÄÄRÄ JA HAKIJA</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h5>Päivämäärä</h5>

            <p ng-show="((hakemusKeskenerainen()) && (hakemus.muokkaaja!=null))">{{hakemus.muokkausaika |
              date:'dd.MM.yyyy'}}</p>

            <p ng-hide="(hakemusKeskenerainen())">{{hakemus.lahetysaika |
              date:'dd.MM.yyyy'}}</p>
          </div>
          <div class="col-md-6">
            <h5 ng-show="hakemusKeskenerainen()">Viimeisin muokkaaja</h5>
            <h5 ng-hide="hakemusKeskenerainen()">Hakija</h5>

            <p ng-show="hakemusKeskenerainen()">{{hakemus.muokkaaja}}</p>

            <p ng-hide="hakemusKeskenerainen()">{{hakemus.lahettaja}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">

            <juku-confirmation ng-model="allekirjoitusliitetty" ng-disabled="!hakemusKeskenerainen() || !liitteetOlemassa()">
              Olen liittänyt hakemukseen tarvittavat lisätiedot mukaanlukien liitteen allekirjoitusoikeudesta.
            </juku-confirmation>

            <juku-controls>
              <juku-link-prev ui-sref="app.hakija.hakemukset.list()">
                Palaa hakemusten päänäkymään
              </juku-link-prev>
              <juku-controls-buttons ng-show="sallittu('allekirjoita-oma-hakemus')">
                <button
                  ng-disabled="!hakemusKeskenerainen() || !sallittu('modify-oma-hakemus')"
                  data-ng-click="tallennaHakemus(0)"
                  class="btn btn-primary">
                    Tallenna tiedot
                </button>
                <button data-ng-click="naytaHakemus(hakemus.hakemustilatunnus)" class="btn btn-primary">
                  {{ hakemusKeskenerainen() && sallittu('modify-oma-hakemus') ? 'Tallenna ja esikatsele hakemus' : 'Avaa hakemus (PDF)' }}
                </button>
                <button
                  juku-varmistusdialogi varmistusotsake="Hakemuksen lähettäminen"
                  varmistusteksti="Oletko varma, että haluat lähettää hakemuksen? Hakemuksen lähettämistä ei ole mahdollista peruuttaa ja hakemuksen sisältöä ei ole mahdollista muuttaa lähettämisen jälkeen. Lähetä hakemus painamalla Kyllä-painiketta. Huom! Liitteiden määrästä riippuen, hakemuksen lähettäminen asianhallintaan kestää 10-70 sekuntia."
                  operaatio="tallennaHakemus(2)"
                  class="btn btn-success"
                  ng-disabled="!hakemusKeskenerainen() || !allekirjoitusliitetty || !liitteetOlemassa() || !edellinenHakemusPaatetty()">
                    Tallenna ja lähetä hakemus
                </button>
              </juku-controls-buttons>
            </juku-controls>
          </div>
        </div>
      </juku-form-section>
    </juku-form>
  </div>
</div>
