.seurantalomakepaikallisliikenne
  .table
    border: 1px solid #ddd
    th:first-child
      width: 17%
    th:last-child
      width: 4%
    th
      width: 10%
      font-weight: bold
    td
      vertical-align: middle
    tfoot
      font-weight: bold
   .yhteensa
      float: right
      margin-top:7px
  span.glyphicon-remove-sign
    font-size: 2em
    color:colors.red
