.seurantalomakepaikallisliikenne
  .table
    border: 1px solid #ddd
    th:first-child
      width: 60%
    th
      width: 5%
      font-weight: bold
    td
      vertical-align: middle
    tfoot
      font-weight: bold
  .yhteensa
    margin-left: 105px
  span.glyphicon-remove-sign
    font-size: 2em
    color:colors.red
