.seurantalomakepaikallisliikenne
  .table
    border: none
    th:first-child
      width: 17%
    th:last-child
      width: 4%
      border: none
    th
      width: 10%
      font-weight: bold
    td
      vertical-align: middle
    tfoot
      font-weight: bold
      tr:last-child
        td:first-child
          border: none
        td:last-child
          border: none
   .yhteensa
      float: right
      margin-top:7px
  span.glyphicon-remove-sign
    font-size: 2em
    color:colors.red
  .panel .panel-heading
    background-color:#ffffff
    border: 1px solid #ddd
  .panel .panel-heading .ng-scope
    border:0
    padding: 0px 0px
  .panel .panel-body
    border: 1px solid #ddd
    padding: 0px
  .table-responsive
    padding: 5px 15px
