<ng-form id="{{tyyppi + '-liikennointikorvaukset-form'}}" name="liikennointikorvauksetForm" class="liikennointikorvaukset">
  <juku-form-row>
    <h3>Maksettu liikennöintikorvaus</h3>
    <div class="table-responsive">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th class="col-md-3">Kuukausi</th>
            <th class="col-md-3">Korvaus €/kk (alv 0)</th>
            <th ng-if="tyyppi==='KOS'" class="col-md-3">Nousukorvaus €/kk (alv 0)</th>
          </tr>
        </thead>
        <tfoot ng-if="liikennointikorvaus.length > 0">
          <tr class="total">
            <td>
              <span class="yhteensa">Yhteensä:</span>
            </td>
            <td>{{liikennointikorvausSumma() | currency : '€/vuosi' : 2}}</td>
            <td ng-if="tyyppi==='KOS'">{{nousukorvausSumma() | currency : '€/vuosi' : 2}}</td>
          </tr>
        </tfoot>
        <tbody>
          <tr ng-repeat="rivi in liikennointikorvaus track by $index" ng-form>
            <td>{{kuukausiNimi(rivi.kuukausi)}}</td>
            <td>
              <form-group-compact label="Maksetty liikennöintikorvaus" errormessage="liikennointikorvausErrorMessage">
                <input id="{{tyyppi + '-liikennointikorvaus-'+$index}}" name="liikennointikorvaus" type="text"
                       numeric-only="" ng-currency=""
                       currency-symbol="€" noenter
                       select-on-click
                       ng-model="rivi.korvaus">
              </form-group-compact>
            </td>
            <td ng-if="tyyppi==='KOS'">
              <form-group-compact label="Nousukorvaus">
                <input id="{{tyyppi + '-nousukorvaus-'+$index}}" name="nousukorvaus" type="text"
                       numeric-only="" ng-currency=""
                       currency-symbol="€" noenter
                       select-on-click
                       ng-model="rivi.nousukorvaus">
              </form-group-compact>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </juku-form-row>
</ng-form>
