<ng-form id="{{tyyppi + '-liikennointikorvaukset-form'}}" name="liikennointikorvauksetForm"
         class="liikennointikorvaukset">
  <juku-form-row>
    <h3 ng-if="tyyppi!=='ME'">Maksettu liikennöintikorvaus</h3>
    <h3 ng-if="tyyppi==='ME'">Maksettu asiakashinnan nousukorvaus ja nousut</h3>
    <p ng-if="tyyppi==='ME'">Maksettava asiakashinnan nousukorvaus perustuu TVV:n ja liikenteenharjoittajan väliseen sopimukseen TVV:n lippujen kelpoisuudesta markkinaehtoisessa liikenteessä.</p>
    <div class="table-responsive">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th class="col-md-3">Kuukausi</th>
            <th class="col-md-3">Korvaus €/kk (alv 0)</th>
            <th ng-if="tyyppi==='KOS'" class="col-md-3">Nousukorvaus €/kk (alv 0)</th>
            <th ng-if="tyyppi==='ME'" class="col-md-3">Nousua / kk</th>
          </tr>
        </thead>
        <tfoot ng-if="liikennointikorvaus.length > 0">
          <tr class="total">
            <td>
              <span class="yhteensa">Yhteensä:</span>
            </td>
            <td>{{liikennointikorvausSumma() | currency : '€ / vuosi' : 2}}</td>
            <td ng-if="tyyppi==='KOS'">{{nousukorvausSumma() | currency : '€ / vuosi' : 2}}</td>
            <td ng-if="tyyppi==='ME'">{{nousutSumma() | currency : 'nousua / vuosi' : 0}}</td>
          </tr>
        </tfoot>
        <tbody>
          <tr ng-repeat="rivi in liikennointikorvaus track by $index" ng-form>
            <td>{{kuukausiNimi(rivi.kuukausi)}}</td>
            <td>
              <form-group-compact label="Maksetty liikennöintikorvaus" errormessage="korvausErrorMessage">
                <input id="{{tyyppi + '-liikennointikorvaus-'+$index}}" name="liikennointikorvaus" type="text"
                       numeric-only="" ng-currency="" max="9999999999.99"
                       currency-symbol="€" noenter placeholder="Korvaus (€)"
                       select-on-click
                       ng-model="rivi.korvaus">
              </form-group-compact>
            </td>
            <td ng-if="tyyppi==='KOS'">
              <form-group-compact label="Nousukorvaus" errormessage="korvausErrorMessage">
                <input id="{{tyyppi + '-nousukorvaus-'+$index}}" name="nousukorvaus" type="text"
                       numeric-only="" ng-currency="" max="9999999999.99"
                       currency-symbol="€" noenter placeholder="Nousukorvaus (€)"
                       select-on-click
                       ng-model="rivi.nousukorvaus">
              </form-group-compact>
            </td>
            <td ng-if="tyyppi==='ME'">
              <form-group-compact label="Nousua / kk" errormessage="nousutErrorMessage">
                <input id="{{tyyppi + '-nousut-'+$index}}" name="nousut" type="text"
                       integer-only maxlength="9"
                       placeholder="Nousua / kk"
                       select-on-click noenter
                       ng-model="rivi.nousut">
              </form-group-compact>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </juku-form-row>
</ng-form>
