.hakemus-summary
  .hakemus-summary__list
    list-style none
    padding 0
    text-align left
    display inline-block
    margin-top 0.25em
    .hakemus-summary__count
      width 3em
      display inline-block

    li
      padding 0.4em 0

