<div class="hakemus-summary">
  <div ng-show="!utils.hakemusKaynnissa(hakemus)" class="hakemus-summary__not-active">
    <span class="label hakemus-tila-eikaynnissa" ng-show="!utils.hakemusSuljettu(hakemus)">Ei käynnissä</span>

    <div ng-show="utils.hakemusSuljettu(hakemus)">
      {{utils.hakemuksiaTilassa(hakemus, "S")}} kpl <span class="label hakemus-tila-eikaynnissa">Suljettu</span>
    </div>
  </div>
  <ul class="hakemus-summary__list" ng-show="utils.hakemusKaynnissa(hakemus)">

    <li ng-repeat="tila in hakemuksenTilat">
      <span class="hakemus-summary__count">
        {{$parent.utils.hakemuksiaTilassa($parent.hakemus, tila.id)}}
        / {{$parent.utils.hakemuksiaYhteensa($parent.hakemus)}}
      </span>
      <hakemus-label tila="{{tila.id}}"/>
    </li>
  </ul>
  <div class="hakemus-summary__hakuajat" ng-click="stopPropagation($event)">
    <div ng-show="hakemuskausiSuljettu()">
      <p>Hakuaika:</p>
      {{hakemus.hakuaika.alkupvm | date:'d.M.yyyy'}} -
      {{hakemus.hakuaika.loppupvm | date:'d.M.yyyy'}}
    </div>

    <div ng-hide="editing">
      <a ng-hide="hakemuskausiSuljettu()" href="#" ng-click="toggleEditMode($event)"
         id="{{ 'test-muokkaa-hakuaikoja-' + testIdIndex }}">
        <p>Hakuaika:</p>
        <i class="glyphicon glyphicon-pencil hakemus-summary__edit"></i>
        {{hakemus.hakuaika.alkupvm | date:'d.M.yyyy'}} -
        {{hakemus.hakuaika.loppupvm | date:'d.M.yyyy'}}
      </a>
    </div>

    <div ng-show="editing" ng-form="hakuaikaForm">
      <p>Hakuaika:</p>

      <div class="input-group hakuajat_input juku-datepicker"
           tooltip="Alkamispäivämäärän tulee olla ennen loppumispäivämäärää."
           tooltip-trigger="mouseover"
           id="{{ 'test-alkupvm-datepicker-' + testIdIndex }}"
           tooltip-enable="hakuaikaForm.$error.validDateOrder">

        <input name="alkupvm"
               type="text"
               class="form-control"
               datepicker-popup="d.M.yyyy"
               ng-model="hakemus.hakuaika.alkupvm"
               datepicker-options="{{dateOptions}}"
               is-open="alkupvmOpen"
               ng-required="true"
               ui-validate="{validDateOrder: 'validDateOrder($value, hakemus.hakuaika.loppupvm, false)'}"
               ui-validate-watch=" 'changeFlag' "
               show-button-bar="false" noenter readonly/>

        <span class="input-group-btn">
          <button
            type="button"
            class="btn btn-default hakuajat_calendar"
            id="{{ 'test-alkupvm-datepicker-button-' + testIdIndex }}"
            ng-click="toggleCalendarAlkupvm($event)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </div>

      <div class="input-group hakuajat_input juku-datepicker"
           id="{{ 'test-loppupvm-datepicker-' + testIdIndex }}">

        <input name="loppupvm"
               type="text"
               class="form-control"
               datepicker-popup="d.M.yyyy"
               ng-model="hakemus.hakuaika.loppupvm"
               datepicker-options="{{dateOptions}}"
               is-open="loppupvmOpen"
               ng-required="true"
               ui-validate="{validDateOrder: 'validDateOrder(hakemus.hakuaika.alkupvm, $value, true)'}"
               ui-validate-watch="hakemus.hakuaika.alkupvm"
               show-button-bar="false" noenter readonly/>

        <span class="input-group-btn">
          <button
            type="button"
            class="btn btn-default hakuajat_calendar"
            id="{{ 'test-loppupvm-datepicker-button-' + testIdIndex }}"
            ng-click="toggleCalendarLoppupvm($event)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </div>

      <div class="hakemus-summary__warning" ng-if="inPast(hakemus.hakuaika.loppupvm)">
        Huomaa, että loppumispäivämäärä on menneisyydessä
      </div>

      <button
        ng-disabled="hakuaikaForm.$invalid"
        ng-click="save($event)"
        id="{{ 'test-alkupvm-tallenna-' + testIdIndex }}"
        class="btn btn-primary hakuajat__button">
        Tallenna hakuajat
      </button>
    </div>
  </div>
</div>
