<div class="hakemus-summary">
  <div ng-show="!utils.hakemusKaynnissa(hakemus)" class="hakemus-summary__not-active">
    <span class="label hakemus-tila-eikaynnissa" ng-show="!utils.hakemusSuljettu(hakemus)">Ei käynnissä</span>

    <div ng-show="utils.hakemusSuljettu(hakemus)">
      {{utils.hakemuksiaTilassa(hakemus, "S")}} kpl <span class="label hakemus-tila-eikaynnissa">Suljettu</span>
    </div>
  </div>
  <ul class="hakemus-summary__list" ng-show="utils.hakemusKaynnissa(hakemus)">

    <li ng-repeat="tila in hakemuksenTilat">
      <span class="hakemus-summary__count">
        {{$parent.utils.hakemuksiaTilassa($parent.hakemus, tila.id)}}
        / {{$parent.utils.hakemuksiaYhteensa($parent.hakemus)}}
      </span>
      <hakemus-label tila="{{tila.id}}"/>
    </li>
  </ul>
  <div ng-class="{hakemus_summary__hakuajat:true,edit_mode:editing}" ng-click="stopPropagation($event)">
    <div ng-if="hakemuskausiSuljettu()">
      <p>Hakuaika:</p>
      {{hakemus.hakuaika.alkupvm | date:'d.M.yyyy'}} -
      {{hakemus.hakuaika.loppupvm | date:'d.M.yyyy'}}
    </div>

    <div ng-if="!hakemuskausiSuljettu()">
      <div ng-if="!editing">
        <a href="#" ng-click="setEditMode($event)"
           id="{{ 'test-muokkaa-hakuaikoja-' + kausiId }}">
          <p>Hakuaika:</p>
          <i class="glyphicon glyphicon-pencil hakemus-summary__edit"></i>
          {{hakemus.hakuaika.alkupvm | date:'d.M.yyyy'}} -
          {{hakemus.hakuaika.loppupvm | date:'d.M.yyyy'}}
        </a>
      </div>

      <div class="hakemus-summary__hakuaika_edit" ng-if="editing" ng-form="hakuaikaForm">
        <a href="#" ng-click="cancelEdit()"><i
          class="glyphicon glyphicon-remove"></i></a>

        <p>Hakuaika:</p>

        <div class="input-group hakuajat_input juku-datepicker"
             tooltip="Alkamispäivämäärän tulee olla ennen loppumispäivämäärää."
             tooltip-trigger="mouseover"
             id="{{ 'test-alkupvm-datepicker-' + kausiId }}"
             tooltip-enable="hakuaikaForm.$error.validDateOrder">

          <input name="alkupvm"
                 type="text"
                 class="form-control"
                 datepicker-popup="d.M.yyyy"
                 ng-model="hakemus.hakuaika.alkupvm"
                 datepicker-options="{{dateOptions}}"
                 is-open="status.alkupvmOpen"
                 ng-required="true"
                 ui-validate="{validDateOrder: 'validDateOrder($value, hakemus.hakuaika.loppupvm, false)'}"
                 ui-validate-watch=" 'changeFlag' "
                 show-button-bar="false" noenter readonly/>

          <span class="input-group-btn">
            <button
              type="button"
              class="btn btn-default hakuajat_calendar"
              id="{{ 'test-alkupvm-datepicker-button-' + kausiId }}"
              ng-click="toggleCalendarAlkupvm($event)">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </div>

        <div class="input-group hakuajat_input juku-datepicker"
             id="{{ 'test-loppupvm-datepicker-' + kausiId }}">

          <input name="loppupvm"
                 type="text"
                 class="form-control"
                 datepicker-popup="d.M.yyyy"
                 ng-model="hakemus.hakuaika.loppupvm"
                 datepicker-options="{{dateOptions}}"
                 is-open="status.loppupvmOpen"
                 ng-required="true"
                 ui-validate="{validDateOrder: 'validDateOrder(hakemus.hakuaika.alkupvm, $value, true)'}"
                 ui-validate-watch="hakemus.hakuaika.alkupvm"
                 show-button-bar="false" noenter readonly/>

          <span class="input-group-btn">
            <button
              type="button"
              class="btn btn-default hakuajat_calendar"
              id="{{ 'test-loppupvm-datepicker-button-' + kausiId }}"
              ng-click="toggleCalendarLoppupvm($event)">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </div>

        <div class="hakemus-summary__warning" ng-if="inPast(hakemus.hakuaika.loppupvm)">
          Huomaa, että loppumispäivämäärä on menneisyydessä
        </div>

        <button
          ng-disabled="hakuaikaForm.$invalid"
          ng-click="save($event)"
          id="{{ 'test-alkupvm-tallenna-' + kausiId }}"
          class="btn btn-primary hakuajat__button">
          Tallenna hakuajat
        </button>
      </div>
    </div>
  </div>
</div>
