<ng-form id="{{tyyppi + '-liikenteenkysynta-form'}}" name="kysyntaForm" class="kysynta">
  <juku-form-row>
    <div class="table-responsive">
      <table class="table table-hover table-condensed">
        <tr>
          <th class="col-md-7 ekarivi">Nousijat keskimääräisenä talven arkipäivänä/lauantaina/sunnuntaina</th>
          <th class="col-md-1 ekarivi">Nousua/päivä</th>
          <th class="col-md-4 ekarivi">Vapaat kommentit</th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="tunnuslukutalvi in tunnusluvut_talvi track by $index" ng-form="">
            <th>{{tunnuslukutalvi.selite}}</th>
            <td>
              <form-group-compact label="Nousumäärä" errormessage="nousumaaraErrorMessage">
                <input id="{{tyyppi + '-nousumaara-'+$index}}" name="nousumaara" type="text"
                       numeric-km-only="" ng-currency=""
                       required
                       currency-symbol="" noenter
                       select-on-click
                       ng-model="tunnuslukutalvi.nousumaara">
              </form-group-compact>
            </td>
            <td>
              <form-group-compact label="Kommentit">
                <input id="{{tyyppi + '-nousumaara-kommentit-'+$index}}" name="nousumaara-kommentit" type="text"
                       noenter
                       select-on-click
                       ng-model="tunnuslukutalvi.kommentit">
              </form-group-compact>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </juku-form-row>
  <juku-form-row>
    <div class="table-responsive">
      <table class="table table-hover table-condensed">
        <tr>
          <th class="col-md-3 ekarivi">Nousijat kuukausittain</th>
          <th class="col-md-1 ekarivi">Nousua/kuukausi</th>
          <th class="col-md-8 ekarivi">Vapaat kommentit</th>
        </tr>
        </thead>
        <tfoot ng-if="tunnusluvut.length > 0">
          <tr>
            <td>
              <span class="yhteensa">Yhteensä:</span>
            </td>
            <td>{{nousuaSumma() | currency : '' : 0}}</td>
            <td>Nousua/vuosi</td>
          </tr>
        </tfoot>
        <tbody>
          <tr ng-repeat="tunnusluku in tunnusluvut" ng-form="">
            <th>{{tunnusluku.kuukausi}}</th>
            <td>
              <form-group-compact label="Nousua" errormessage="kokonaislukuErrorMessage">
                <input id="{{tyyppi + '-nousua-'+tunnusluku.kuukausi}}" name="nousua"
                       placeholder="Nousua/kuukausi" noenter
                       type="number" numeric-integer-only="" select-on-click
                       ng-readonly="isReadonly()"
                       ng-model="tunnusluku.nousua">
              </form-group-compact>
            </td>
            <td>
              <form-group-compact label="Kommentit">
                <input id="{{tyyppi +'-'+tunnusluku.kuukausi+'-kommentit'}}" name="{{tunnusluku.kuukausi}}-kommentit"
                       type="text"
                       noenter
                       select-on-click
                       ng-model="tunnusluku.kommentit">
              </form-group-compact>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </juku-form-row>
</ng-form>
