<ng-form id="maararahatarpeet-form" name="maararahatarpeetForm">
  <juku-form-row>
    <div class="col-md-6">
      <form-group label="Siirtymäajan sopimukset" errormessage="sasopimuksetErrorMessage">
        <input id="siirtymaaikasopimukset" name="siirtymaaikasopimukset" type="text" ng-currency="" numeric-only="" class="form-control"
               ng-model="hakemus.ely.siirtymaaikasopimukset"
               ng-init="hakemus.ely.siirtymaaikasopimukset = hakemus.ely.siirtymaaikasopimukset || 0"
               ng-disabled="isReadonly()"
               placeholder="Siirtymäajan sopimukset"
               ui-validate="{sallittuArvo: 'sallittuArvo($value)'}"
               required select-on-click/>
      </form-group>
    </div>
    <div class="col-md-6">
      <form-group label="Joukkoliikennetuki kunnille" errormessage="jltkunnilleErrorMessage">
        <input id="joukkoliikennetukikunnat" name="joukkoliikennetukikunnat" type="text" ng-currency="" numeric-only="" class="form-control"
               ng-model="hakemus.ely.joukkoliikennetukikunnat"
               ng-init="hakemus.ely.joukkoliikennetukikunnat = hakemus.ely.joukkoliikennetukikunnat || 0"
               ng-disabled="isReadonly()"
               placeholder="Joukkoliikennetuki kunnille"
               ui-validate="{sallittuArvo: 'sallittuArvo($value)'}"
               required select-on-click/>
      </form-group>
    </div>
  </juku-form-row>
  <hr>
  <juku-form-row>
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th class="col-md-3 ekarivi">Määrärahatarve</th>
              <th class="ekarivi">Sidotut</th>
              <th class="ekarivi">Uudet</th>
              <th class="ekarivi">Tulot</th>
              <th class="col-md-4 ekarivi">Kuvaus</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="maararahatarve in maararahatarpeet track by $index" ng-form>
              <td>{{haeNimi(maararahatarve.maararahatarvetyyppitunnus)}}</td>
              <td>
                <form-group-compact label="Sidotut" errormessage="arvoalueErrorMessage">
                  <input id="{{maararahatarve.maararahatarvetyyppitunnus + '-sidotut'}}" name="sidotut" type="text"
                         class="form-control" ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="maararahatarve.sidotut" ng-disabled="isReadonly()"
                         ui-validate="{sallittuArvo: 'sallittuArvo($value)'}"
                         placeholder="Sidotut">
                </form-group-compact>
              </td>
              <td>
                <form-group-compact label="Uudet" errormessage="arvoalueErrorMessage">
                  <input id="{{maararahatarve.maararahatarvetyyppitunnus + '-uudet'}}" name="uudet" type="text"
                         class="form-control" ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="maararahatarve.uudet" ng-disabled="isReadonly()"
                         ui-validate="{sallittuArvo: 'sallittuArvo($value)'}"
                         placeholder="Uudet">
                </form-group-compact>
              </td>
              <td>
                <form-group-compact ng-if="maararahatarve.hasOwnProperty('tulot')" label="Uudet" errormessage="arvoalueErrorMessage">
                  <input id="{{maararahatarve.maararahatarvetyyppitunnus + '-tulot'}}" name="tulot" type="text"
                         class="form-control" ng-currency="" numeric-only=""
                         noenter
                         select-on-click
                         ng-model="maararahatarve.tulot" ng-disabled="isReadonly()"
                         ui-validate="{sallittuArvo: 'sallittuArvo($value)'}"
                         placeholder="Tulot">
                </form-group-compact>
              </td>
              <td>
                <form-group-compact label="Kuvaus">
                  <input id="{{maararahatarve.maararahatarvetyyppitunnus +'-kuvaus'}}" name="kuvaus" type="text"
                         noenter
                         select-on-click
                         ng-model="maararahatarve.kuvaus"
                         ng-disabled="isReadonly()"
                         placeholder="Kuvaus">
                </form-group-compact>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </juku-form-row>
  <juku-form-row>
    <div class="col-md-12">
      <h4>MENOT YHTEENSÄ: <span id="menotyhteensa" uib-tooltip="Siirtymäajan sopimukset + Joukkoliikennetuki + Sidotut + Uudet - Tulot"
                                tooltip-placement="top"
                                tooltip-append-to-body="true">{{yhteensa() | currency}}</span></h4>
    </div>
  </juku-form-row>
  <juku-form-row></juku-form-row>
</ng-form>
