<div class="container">

    <div class="page-header">

        <h1 class="Mb-sm">Kilpailutukset
        <button
          ng-click="newKilpailutus()"
          class="btn btn-success btn-lg pull-right">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Lisää uusi kilpailutus
        </button>
        </h1>
    </div>


  <form style="margin-bottom: 2em;">
  	<div class="row">
	  	<form-group label="Toimivaltainen viranomainen" class="col-xs-12 col-sm-6 col-md-4">
		  	<ol id="organisaatio" ng-model="organisaatioId" ng-disabled="isReadonly()"
        	title="Näytä kaikki" class="form-control nya-bs-select" size="20" multiple style="z-index: 10;">
         	<li nya-bs-option="organisaatio in organisaatiot" data-value="organisaatio.id">
          	<a>{{ organisaatio.nimi }}</a>
          </li>
        </ol>
      </form-group>
      <form-group label="Toimivalta-alue" class="col-xs-12 col-sm-6 col-md-4">
        <ol id="organisaatiolajitunnus" ng-model="organisaatioId" ng-disabled="isReadonly()"
          title="Näytä kaikki" class="form-control nya-bs-select" size="20" multiple style="z-index: 10;">
          <li nya-bs-option="lajitunnus in organisaatiolajit.$order" data-value="lajitunnus">
            <a>{{ organisaatiolajit.$nimi(lajitunnus) }}</a>
          </li>
        </ol>
      </form-group>
      <form-group label="Kilpailutusalue" class="col-xs-12 col-sm-6 col-md-4">
        <ol id="organisaatio" ng-model="organisaatioId" ng-disabled="isReadonly()"
          title="Näytä kaikki" class="form-control nya-bs-select" size="20" multiple style="z-index: 10;">
          <li nya-bs-option="organisaatio in organisaatiot" data-value="organisaatio.id">
            <a>{{ organisaatio.nimi }}</a>
          </li>
        </ol>
      </form-group>
		</div>

    <div class="row">
      <div class="form-group col-xs-12 col-sm-6 col-md-4">
        <label for="kohdearvo">Kohteen arvioitu arvo (€)</label>
        <rzslider id="kohdearvo"
             rz-slider-model="kohdearvo.min"
             rz-slider-high="kohdearvo.max"
             rz-slider-options="kohdearvo.options"></rzslider>
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-4">
        <label for="kalustokoko">Kaluston määrä (kpl)</label>
        <rzslider id="kalustokoko"
             rz-slider-model="kalustokoko.min"
             rz-slider-high="kalustokoko.max"
             rz-slider-options="kalustokoko.options"></rzslider>
      </div>

      <div class="form-group col-xs-12 col-sm-6 col-md-4">
        <label>Aikajanalla näytettävä ajanjakso</label>
        <div class="checkbox">
          <label class="checkbox-inline">
            <input type="checkbox" id="kilpailutuskausi"> Kilpailutuskausi
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="liikennointikausi"> Liikennöintikausi
          </label>
        </div>
      </div>
    </div>
  </form>

  <div class="row" style="margin-top: 5em; padding-bottom: 1em;">
      <div class="col-md-2">
        <div style="width: 20px; height: 20px; background-color: #3385D6; float: left;">
          &nbsp;
        </div>
        <div style="margin-left: 2em;">Tarjousaika</div>
      </div>
      <div class="col-md-2">
        <div style="width: 20px; height: 20px; background-color: #C266EB; float: left;">
          &nbsp;
        </div>
        <div style="margin-left: 2em;"> Tarjousten käsittely ja hankintapäätös</div>
      </div>
      <div class="col-md-2">
        <div style="width: 20px; height: 20px; background-color: #FFA033; float: left;">
          &nbsp;
        </div>
        <div style="margin-left: 2em;"> Liikennöinnin valmistelu</div>
      </div>
      <div class="col-md-2">
        <div style="width: 20px; height: 20px; background-color: #33BB33; float: left;">
          &nbsp;
        </div>
        <div style="margin-left: 2em;"> Liikennöinti (sopimuskausi)</div>
      </div>
      <div class="col-md-2">
        <div style="width: 20px; height: 20px; background-color: #66CCD6; float: left;">
          &nbsp;
        </div>
        <div style="margin-left: 2em;"> Hankitut optiot</div>
      </div>
      <div class="col-md-2">
        <div style="width: 20px; height: 20px; background-color: #cfeff2; border: 1px dashed #66CCD6; float: left;">
          &nbsp;
        </div>
        <div style="margin-left: 2em;"> Optiot kokonaisuudessaan</div>
      </div>
  </div>
  <timeline
  	organisaatiot="organisaatiot"
  	kilpailutukset="kilpailutukset"
  	options="timelineOptions"
  	events="timelineEvents">
  </timeline>

</div>
