<div class="container">
	<h1>Kilpailutuksen (tai liikennöintisopimuksen) tiedot</h1>
  <ng-form name="kilpailutusForm" focus-to-invalid juku-poistumisvaroitus>
  	<h3>Kohde</h3>
		<div class="row">
			<div class="col-md-6">
        <form-group label="Organisaatio">
          <ol id="organisaatio" ng-model="kilpailutus.organisaatioid" ng-disabled="isReadonly()"
              title="Valitse toimivaltainen viranomainen" class="nya-bs-select" size="20" required>
            <li nya-bs-option="organisaatio in organisaatiot" data-value="organisaatio.id">
              <a>{{ organisaatio.nimi }}</a>
            </li>
          </ol>
          <!--p class="form-control-static">{{ organisaatio.nimi }}</p-->
        </form-group>
	    </div>
    </div>
    <div class="row">
	   	<div class="col-sm-4 col-md-6">
		   	<form-group label="Kohteen nimi" errormessage="kohdenimiErrorMessage">
	        <input id="kohdenimi" name="kohdenimi" type="text" required
           ng-model="kilpailutus.kohdenimi"
           ng-disabled="isReadonly()"
           placeholder="Ilmoita linja(t) tai reitit, joita sopimus koskee"/>
	      </form-group>
	    </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
      	<form-group label="Kohteen arvioitu arvo">
	        <input id="kohdearvo" name="kohdearvo" type="text"
                 placeholder="Arvo (€)"
                 ng-currency="" numeric-only="" max="9999999999.99"
                 noenter select-on-click
                 ng-model="kilpailutus.kohdearvo" ng-disabled="isReadonly()">
	      </form-group>
	    </div>
	    <div class="col-xs-12 col-sm-4 col-md-3">
	      <form-group label="Arvio kaluston määrästä">
          <input id="kalusto" name="kalusto"
                 placeholder="Esim. 8"
                 type="text" integer-only
                 ng-readonly="isReadonly()"
                 noenter select-on-click
                 ng-model="kilpailutus.kalusto"
                 class="cursor-auto">
        </form-group>
      </div>
      <div class="col-xs-12">
      	<form-group label="Lisätiedot">
	      	<textarea name="lisatiedot" ng-model="kilpailutus.selite"></textarea>
      	</form-group>
      </div>
    </div>
    <div class="row">
      <form-group label="Linkki hilmaan" class="col-md-6">
        <input id="hilmalinkki" name="hilmalinkki" type="text"
         ng-model="kilpailutus.hilmalinkki"
         ng-disabled="isReadonly()"
         placeholder="Linkki kilpailutuksen tietoihin hilma-järjestelmässä"/>
      </form-group>
      <form-group label="Linkki kilpailutuksen asiakirjoihin" class="col-md-6">
        <input id="asiakirjalinkki" name="asiakirjalinkki" type="text"
         ng-model="kilpailutus.asiakirjalinkki"
         ng-disabled="isReadonly()"
         placeholder="Linkki kilpailutuksen asiakirjoihin"/>
      </form-group>
    </div>
  	<h3>Kilpailutus</h3>
    <div class="row">
      <div class="col-sm-6 col-md-3">
      	<form-group label="Tarjouksen julkaisupäivä">
	        <input id="julkaisupvm" name="julkaisupvm" type="date"
           ng-model="kilpailutus.julkaisupvm"
           ng-disabled="isReadonly()"
           placeholder="pp.kk.vvvv"/>
	      </form-group>
	    </div>
	    <div class="col-sm-6 col-md-3">
      	<form-group label="Tarjousajan päättyminen">
	        <input id="tarjouspaattymispvm" name="tarjouspaattymispvm" type="date"
           ng-model="kilpailutus.tarjouspaattymispvm"
           ng-disabled="isReadonly()"
           placeholder="pp.kk.vvvv"/>
	      </form-group>
	    </div>
			<div class="col-sm-6 col-md-3">
      	<form-group label="Hankintapäätös">
	        <input id="hankintapaatospvm" name="hankintapaatospvm" type="date"
           ng-model="kilpailutus.hankintapaatospvm"
           ng-disabled="isReadonly()"
           placeholder="pp.kk.vvvv"/>
	      </form-group>
	    </div>
	  </div>
    <h3>Liikennöinti</h3>
	 	<div class="row">
			<div class="col-sm-6 col-md-3">
      	<form-group label="Liikennöinnin aloituspäivä" errormessage="liikennointialoituspvmErrorMessage">
	        <input id="liikennointialoituspvm" name="liikennointialoituspvm" type="date" required
           ng-model="kilpailutus.liikennointialoituspvm"
           ng-disabled="isReadonly()"
           placeholder="pp.kk.vvvv"/>
	      </form-group>
	    </div>
    	<div class="col-sm-6 col-md-3">
      	<form-group label="Liikennöinnin päättyminen" errormessage="liikennointipaattymispvmErrorMessage">
	        <input id="liikennointipaattymispvm" name="liikennointipaattymispvm" type="date" required
           ng-model="kilpailutus.liikennointipaattymispvm"
           ng-disabled="isReadonly()"
           placeholder="pp.kk.vvvv"/>
	      </form-group>
	    </div>
	  </div>
   	<h3>Optiot</h3>
    <div class="row">
      <div class="col-sm-4 col-md-3">
      	<form-group label="Optiovuodet">
	        <input id="optioselite" name="optioselite" type="text"
           ng-model="kilpailutus.optioselite"
           ng-disabled="isReadonly()"
           placeholder="Optiovuodet"/>
	      </form-group>
      </div>
      <div class="col-sm-4 col-md-3">
      	<form-group label="Hankitun option päättyminen">
	        <input id="hankittuoptiopaattymispvm" name="hankittuoptiopaattymispvm" type="date"
           ng-model="kilpailutus.hankittuoptiopaattymispvm"
           ng-disabled="isReadonly()"
           placeholder="pp.kk.vvvv"/>
	      </form-group>
      </div>
      <div class="col-sm-4 col-md-3">
      	<form-group label="Optioiden päättyminen">
	        <input id="optiopaattymispvm" name="optiopaattymispvm" type="date"
           ng-model="kilpailutus.optiopaattymispvm"
           ng-disabled="isReadonly()"
           placeholder="pp.kk.vvvv"/>
	      </form-group>
      </div>
    </div>
   	<h3>Tietoa kilpailutuksesta</h3>
    <div class="row">
    	<div class="col-md-9">
		   	<form-group label="Valittu liikennöitsijä">
	        <input id="liikennoitsijanimi" name="liikennoitsijanimi" type="text"
	         ng-model="kilpailutus.liikennoitsijanimi"
	         ng-disabled="isReadonly()"
	         placeholder="Liikennöitsijä"/>
	      </form-group>
	    </div>
	  </div>
	  <div class="row">
      <div class="col-sm-4 col-md-3">
      	<form-group label="Tarjousten lukumäärä">
          <input id="tarjousmaara" name="tarjousmaara"
                 placeholder="Esim. 18"
                 type="text" integer-only
                 ng-readonly="isReadonly()"
                 noenter select-on-click
                 ng-model="kilpailutus.tarjousmaara"
                 class="cursor-auto">
        </form-group>
	     </div>
	    <div class="col-sm-4 col-md-3">
	    	<form-group label="Voittaneen tarjouksen hinta">
	        <input id="tarjoushinta1" name="tarjoushinta1" type="text"
                 class="form-control" placeholder="Hinta (€)"
                 ng-currency="" numeric-only="" max="9999999999.99"
                 noenter select-on-click
                 ng-model="kilpailutus.tarjoushinta1" ng-disabled="isReadonly()">
	      </form-group>
	    </div>
	    <div class="col-sm-4 col-md-3">
	    	<form-group label="Toiseksi tulleen hinta">
	        <input id="tarjoushinta2" name="tarjoushinta2" type="text"
                 class="form-control" placeholder="Hinta (€)"
                 ng-currency="" numeric-only="" max="9999999999.99"
                 noenter select-on-click
                 ng-model="kilpailutus.tarjoushinta2" ng-disabled="isReadonly()">
	      </form-group>
	    </div>
    </div>
  </ng-form>

  <juku-controls>
    <juku-controls-buttons class="full-width">
      <button ng-show="!isNew"
      	juku-kilpailutus-poistodialogi kilpailutusid="kilpailutus.id"
        class="btn btn-danger Ms-0 pull-left">Poista kilpailutus</button>

      <button data-ng-click="save()" class="btn btn-success pull-right">Tallenna ja sulje lomake</button>
      <button data-ng-click="cancel()" class="btn btn-warning pull-right">Sulje lomake</button>
    </juku-controls-buttons>
  </juku-controls>
</div>
