.kilpailutus-legend
  .item
    width: 20px
    height: 20px
    float: left

  .caption
    margin-left: 2em;

  .tarjous
    background-color: #3385D6

  .hankinta
    background-color: #C266EB

  .valmistelu
    background-color: #FFA033

  .liikennointi
    background-color: #33BB33

  .hankitut-optiot
    background-color: #66CCD6

  .kaikki-optiot
    background-color: #cfeff2


