<div class="row avustuskohde">
  <ng-form name="{{getName()}}">
    <div class="col-md-12">
      <h5>{{name}}</h5>
    </div>
    <div ng-show="hakemustyyppi=='AH0' || (tyyppi!='AH0' && vertailuarvot().avustushakemusHaettavaAvustus>0)">
      <div class="col-md-6">
        <div class="form-group" show-errors="{showSuccess: true}">
          <label>Haettava valtionavustus
            <input name="{{getName('haettavaavustus')}}" type="text" ng-currency="" noenter select-on-click
                   ng-readonly="isReadonly()" class="form-control" tooltip-html-unsafe="{{haeTooltip('haettavaavustus')}}"
                   tooltip-trigger="focus"
                   tooltip-placement="top"
                   ng-model="kohde.haettavaavustus"
                   ui-validate="{sallittuArvoHaettavaavustus: 'sallittuArvo($value)'}"/>
          </label>

          <p class="help-block ng-invalid-sallittu-arvo-haettavaavustus">Arvon tulee olla välillä 0 - 999 999 999 €.</p>

        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" show-errors="{showSuccess: true}">
          <label>Kunnan oma rahoitusosuus
            <input name="{{getName('omarahoitus')}}" type="text" ng-currency="" noenter select-on-click
                   class="form-control" tooltip-html-unsafe="{{haeTooltip('omarahoitus')}}"
                   tooltip-trigger="focus"
                   tooltip-placement="top"
                   ng-readonly="isReadonly()" ng-model="kohde.omarahoitus"
                   ui-validate="{omarahoitusRiittava: 'omarahoitusRiittava($value,kohde.haettavaavustus)',sallittuArvoOmarahoitus: 'sallittuArvo($value)'}"
                   ui-validate-watch=" 'kohde.haettavaavustus' "/>
          </label>

          <p class="help-block ng-invalid-sallittu-arvo-omarahoitus">Arvon tulee olla välillä 0 - 999 999 999 €.</p>

          <p class="help-block ng-invalid-omarahoitus-riittava">Oma rahoitusosuus tulee olla vähintään
            {{100-avustusprosentti}}% kokonaiskuluista.</p>

        </div>
      </div>
    </div>
    <div ng-show="hakemustyyppi!='AH0' && vertailuarvot().avustushakemusHaettavaAvustus==0">
      <div class="col-md-12">
        <p>Ei haettu avustusta.</p>
      </div>
    </div>
  </ng-form>
</div>
