
<form name="{{lippuluokka + 'lippusuoritteet'}}">
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <tr>
        <th>Lipputyyppi</th>
        <th>Myynti (kpl)</th>
        <th>Matkat (kpl)</th>
        <th>Asiakashinta</th>
        <th>Lipuilla tehtyjen matkojen keskipituus</th>
        <th>Lipputulot yhteensä</th>
        <th>Valtion ja kuntien rahoitus yhteensä</th>
        <th>Toiminnot</th>
      </tr>
      </thead>
      <tfoot>
        <tr>
          <td>
            <button class="btn btn-primary" ng-click="lisaaKaupunkilippuRivi()">Lisää rivi</button>
            <span class="yhteensa">Yhteensä:</span>
          </td>
          <td>{{myyntiSumma() | currency : '' : 0}}</td>
          <td>{{matkatSumma() | currency : '' : 0}}</td>
          <td>{{asiakashintaSumma() | currency}}</td>
          <td>{{keskipituusSumma() | currency : 'km'}}</td>
          <td>{{lipputuloSumma() | currency}}</td>
          <td>{{rahoitusSumma() | currency}}</td>
          <td></td>
        </tr>
      </tfoot>
      <tbody>
        <tr ng-repeat="rivi in suoritteet track by $index">
          <td><select name="lipputyyppi" ng-model="rivi.lipputyyppi">
            <option value="30">30 päivän kausikortti</option>
            <option value="VL">Vuosilippu</option>
            <option value="SL">Sarjalippu (max. 3kk)</option>
            <option value="KL">Kaupunkilippu</option>
            <option value="NL">Nuorisolippu</option>
            <option value="M">Muut (kunnan tukemat)</option>
          </select></td>
          <td><input name="myynti" type="text" class="form-control" numeric-integer-only="" select-on-click
                     ng-model="rivi.myynti"></td>
          <td><input name="matkat" type="text" class="form-control" numeric-integer-only="" select-on-click
                     ng-model="rivi.matkat"></td>
          <td><input name="asiakashinta" type="text" class="form-control" ng-currency="" numeric-only=""
                     noenter
                     select-on-click
                     ng-model="rivi.asiakashinta"></td>
          <td><input name="keskipituus" type="text" class="form-control" numeric-km-only="" ng-currency=""
                     currency-symbol="km"
                     noenter
                     select-on-click
                     ng-model="rivi.keskipituus"></td>
          <td><input name="lipputulot" type="text" class="form-control" ng-currency="" numeric-only=""
                     noenter
                     select-on-click
                     ng-model="rivi.lipputulot"></td>
          <td><input name="rahoitus" type="text" class="form-control" ng-currency="" numeric-only="" noenter
                     select-on-click
                     ng-model="rivi.rahoitus"></td>
          <td><a href="" ng-click="poistaSuorite($index)"><span
            class="glyphicon glyphicon-remove-sign"></span>Poista</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>

