<form name="{{lippuluokka + 'lippusuoritteet'}}">
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <tr>
        <th class="col-md-2">{{kaupunkilippu ? "Kaupunkiliput" : "Seutulippu"}}</th>
        <th>Myynti (kpl)</th>
        <th>Matkat (kpl)</th>
        <th>Asiakashinta</th>
        <th>Lipuilla tehtyjen matkojen keskipituus</th>
        <th>Lipputulot yhteensä</th>
        <th>Valtion ja kuntien rahoitus yhteensä</th>
        <th>Toiminnot</th>
      </tr>
      </thead>
      <tfoot>
        <tr>
          <td>
            <span class="yhteensa">Yhteensä:</span>
          </td>
          <td>{{myyntiSumma() | currency : '' : 0}}</td>
          <td>{{matkatSumma() | currency : '' : 0}}</td>
          <td>{{asiakashintaSumma() | currency}}</td>
          <td>{{keskipituusSumma() | currency : 'km'}}</td>
          <td>{{lipputuloSumma() | currency}}</td>
          <td>{{rahoitusSumma() | currency}}</td>
          <td></td>
        </tr>
      </tfoot>
      <tbody>
        <tr ng-repeat="rivi in suoritteet track by $index" ng-form="suorite">
          <td ng-show="kaupunkilippu">
            <form-group-compact label="Lipputyyppi">
              <select name="lipputyyppi" ng-model="rivi.lipputyyppitunnus" ng-disabled="isReadonly()"
                      placeholder="Lipputyyppi" required>
                <option value="" selected disabled>Valitse lipputyyppi</option>
                <option ng-repeat="tyyppi in lipputyypit" value="{{tyyppi.tunnus}}">{{tyyppi.nimi}}
                </option>
              </select>
            </form-group-compact>
          </td>
          <td ng-hide="kaupunkilippu">
            <form-group-compact label="Seutulippualue" errormessage="seutulippualueErrorMessage">
              <input name="seutulippualue" type="text" noenter ng-minlength="2" select-on-click
                     ng-model="rivi.seutulippualue" ng-disabled="isReadonly()"
                     placeholder="Seutulippualue" required>
            </form-group-compact>
          </td>
          <td>
            <form-group-compact label="Myynti" errormessage="kokonaislukuErrorMessage">
              <input name="myynti" type="number" numeric-integer-only="" select-on-click
                     ng-model="rivi.myynti" ng-disabled="isReadonly()"
                     placeholder="Myynti">
            </form-group-compact>
          </td>
          <td>
            <form-group-compact label="Matkat" errormessage="kokonaislukuErrorMessage">
              <input name="matkat" type="number" numeric-integer-only="" select-on-click
                     ng-model="rivi.matkat" ng-disabled="isReadonly()"
                     placeholder="Matkat">
            </form-group-compact>
          </td>
          <td>
            <form-group-compact label="Asiakashinta" errormessage="asiakashintaErrorMessage">
              <input name="asiakashinta" type="text" class="form-control"
                     ng-currency="" numeric-only=""
                     noenter
                     select-on-click
                     ng-model="rivi.asiakashinta" ng-disabled="isReadonly()"
                     placeholder="Asiakashinta" required>
            </form-group-compact>
          </td>
          <td>
            <form-group-compact label="Keskipituus" errormessage="keskipituusErrorMessage">
              <input name="keskipituus" type="text" class="form-control" numeric-km-only="" ng-currency=""
                     currency-symbol="km"
                     noenter
                     select-on-click
                     ng-model="rivi.keskipituus" ng-disabled="isReadonly()"
                     placeholder="Keskipituus" required>
            </form-group-compact>
          </td>
          <td>
            <form-group-compact label="Lipputulot" errormessage="lipputulotErrorMessage">
              <input name="lipputulot" type="text" class="form-control" ng-currency="" numeric-only=""
                     noenter
                     select-on-click
                     ng-model="rivi.lipputulo" ng-disabled="isReadonly()"
                     placeholder="Lipputulot" required>
            </form-group-compact>
          </td>
          <td>
            <form-group-compact label="Rahoitus" errormessage="rahoitusErrorMessage">
              <input name="rahoitus" type="text" class="form-control" ng-currency="" numeric-only="" noenter
                     select-on-click
                     ng-model="rivi.julkinenrahoitus" ng-disabled="isReadonly()"
                     placeholder="Rahoitus" required>
            </form-group-compact>
          </td>
          <td><a href="" ng-click="poistaSuorite($index)"><span
            class="glyphicon glyphicon-remove-sign"></span>Poista</a>
          </td>
        </tr>
      </tbody>
    </table>
    <button ng-hide="isReadonly()" class="btn btn-primary" ng-click="lisaaSuorite()">Lisää rivi</button>
  </div>
</form>

