<div class="statistic-dropdown dropdown">
  <div class="dropdown-toggle__wrapper header__link">
    <a id="tunnusluvut" class="dropdown-toggle">
      Tilastot
    </a>
  </div>
  <div class="dropdown-menu-container">
    <ul class="dropdown-menu">
      <li>
        <a id="tunnusluvut-valtionavustuskuvaajat" ui-sref-active="is-active" ui-sref="app.tilastot.valtionavustuskuvaajat()">
          Valtionavustukset
        </a>
      </li>
      <li>
        <a id="tunnusluvut-tunnuslukukuvaajat" ui-sref-active="is-active" ui-sref="app.tilastot.tunnuslukukuvaajat()">
          Perustunnusluvut
        </a>
      </li>
      <li>
        <a id="tunnusluvut-omakuvaaja" ui-sref-active="is-active" ui-sref="app.tilastot.omakuvaaja()">
          Kaikki tunnusluvut
        </a>
      </li>
    </ul>
  </div>
</div>
