<ng-form id="{{tyyppi + '-liikenteentarjonta-form'}}" name="tarjontaForm" class="kysynta">
  <juku-form-row ng-if="tyyppi==='PSAB' || tyyppi==='PSAK'">
    <h3>Kalusto päästöluokittain</h3>
    <p>Sopimusten mukainen kalustomäärä päästöluokittain.</p>
    <div class="table-responsive">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th class="col-md-3">Päästöluokka</th>
            <th class="col-md-3">Linja-autojen lukumäärä</th>
          </tr>
        </thead>
        <tfoot ng-if="kalusto.length > 0">
          <tr>
            <td>
              <span class="yhteensa">Yhteensä:</span>
            </td>
            <td>{{linjaautotSumma() | currency : 'linja-autoa' : 0}}</td>
          </tr>
        </tfoot>
        <tbody>
          <tr ng-repeat="rivi in kalusto track by $index" ng-form>
            <td>{{rivi.paastoluokka}}</td>
            <td>
              <form-group-compact label="Linja-autojen lukumäärä" errormessage="kokonaislukuErrorMessage">
                <input id="{{tyyppi + '-linjaautot-'+$index}}" name="linjaautot" type="number" numeric-integer-only=""
                       required
                       currency-symbol="" noenter
                       select-on-click
                       ng-model="rivi.linjaautot">
              </form-group-compact>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </juku-form-row>
  <juku-form-row ng-if="tyyppi==='PSAB' || tyyppi==='SL' || tyyppi==='PSAK'">
    <h3 ng-if="tyyppi==='PSAB'">Maksetut liikennöintikorvaukset</h3>
    <h3 ng-if="tyyppi==='SL'">Maksetut liikennöintikorvaukset ja lipputuet</h3>
    <h3 ng-if="tyyppi==='PSAK'">Maksetut liikennöinti- ja sopimuskorvakset</h3>
    <div class="table-responsive">
      <table class="table table-hover table-condensed">
        <tr>
          <th class="col-md-3">Kuukausi</th>
          <th class="col-md-3">€/kk (alv 0)</th>
        </tr>
        </thead>
        <tfoot ng-if="jarjestamiskustannukset.length > 0">
          <tr>
            <td>
              <span class="yhteensa">Yhteensä:</span>
            </td>
            <td>{{liikennointikorvausSumma() | currency : '€/vuosi' : 2}}</td>
          </tr>
        </tfoot>
        <tbody>
          <tr ng-repeat="rivi in jarjestamiskustannukset track by $index" ng-form>
            <td>{{rivi.kuukausi}}</td>
            <td>
              <form-group-compact label="Maksetty liikennöintikorvaus" errormessage="liikennointikorvausErrorMessage">
                <input id="{{tyyppi + '-liikennointikorvaus-'+$index}}" name="liikennointikorvaus" type="text"
                       numeric-only="" ng-currency=""
                       required
                       currency-symbol="€" noenter
                       select-on-click
                       ng-model="rivi.maksettuliikennointikorvaus">
              </form-group-compact>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </juku-form-row>
  <juku-form-row ng-if="tyyppi==='PSAK' || tyyppi==='ME'">
    <div class="table-responsive">
      <h3 ng-if="tyyppi==='PSAK'">Maksetut liikennöinnin nousukorvaukset</h3>
      <h3 ng-if="tyyppi==='ME'">Maksetut asiakashinnan nousukorvaukset</h3>
      <table class="table table-hover table-condensed">
        <tr>
          <th class="col-md-3">Kuukausi</th>
          <th class="col-md-3">€/kk ilman ALV</th>
        </tr>
        </thead>
        <tfoot ng-if="nousukorvaukset.length > 0">
          <tr>
            <td>
              <span class="yhteensa">Yhteensä:</span>
            </td>
            <td>{{nousukorvausSumma() | currency : '€/vuosi' : 2}}</td>
          </tr>
        </tfoot>
        <tbody>
          <tr ng-repeat="rivi in nousukorvaukset track by $index" ng-form>
            <td>{{rivi.kuukausi}}</td>
            <td>
              <form-group-compact label="Nousukorvaus">
                <input id="{{tyyppi + '-nousukorvaus-'+$index}}" name="nousukorvaus" type="text"
                       numeric-only="" ng-currency=""
                       currency-symbol="€" noenter
                       select-on-click
                       ng-model="rivi.nousukorvaus">
              </form-group-compact>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </juku-form-row>
  <juku-form-row ng-if="tyyppi==='PSAB' || tyyppi==='PSAK'">
    <h3>Lipputulot</h3>
    <div class="table-responsive">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th class="col-md-3">Kuukausi</th>
            <th class="col-md-3">Kertalippu<br>(€/kk ilman ALV)</th>
            <th class="col-md-3">Arvolippu<br>(€/kk ilman ALV)</th>
            <th class="col-md-3">Kausilippu<br>(€/kk ilman ALV)</th>
          </tr>
        </thead>
        <tfoot ng-if="lipputulot.length > 0">
          <tr>
            <td>
              <span class="yhteensa">Yhteensä:</span>
            </td>
            <td>{{kertaliputSumma() | currency : '€/vuosi' : 2}}</td>
            <td>{{arvoliputSumma() | currency : '€/vuosi' : 2}}</td>
            <td>{{kausiliputSumma() | currency : '€/vuosi' : 2}}</td>
          </tr>
          <tr>
            <td colspan="">
              <span class="yhteensa">Kaikki lipputulot yhteensä:</span>
            </td>
            <td colspan="3">{{kaikkilipputulotSumma() | currency: '€/vuosi' : 2}}</td>
          </tr>
        </tfoot>
        <tbody>
          <tr ng-repeat="rivi in lipputulot track by $index" ng-form>
            <td>{{rivi.kuukausi}}</td>
            <td>
              <form-group-compact label="Kertalippu" errormessage="kertalippuErrorMessage">
                <input id="{{tyyppi + '-kertalippu-'+$index}}" name="kertalippu" type="text"
                       numeric-only="" ng-currency=""
                       required
                       currency-symbol="€" noenter
                       select-on-click
                       ng-model="rivi.kertalippu">
              </form-group-compact>
            </td>
            <td>
              <form-group-compact label="Arvolippu" errormessage="arvolippuErrorMessage">
                <input id="{{tyyppi + '-arvolippu-'+$index}}" name="arvolippu" type="text"
                       numeric-only="" ng-currency=""
                       required
                       currency-symbol="€" noenter
                       select-on-click
                       ng-model="rivi.arvolippu">
              </form-group-compact>
            </td>
            <td>
              <form-group-compact label="Kausilippu" errormessage="kausilippuErrorMessage">
                <input id="{{tyyppi + '-kausilippu-'+$index}}" name="kausilippu" type="text"
                       numeric-only="" ng-currency=""
                       required
                       currency-symbol="€" noenter
                       select-on-click
                       ng-model="rivi.kausilippu">
              </form-group-compact>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </juku-form-row>
  <juku-form-row ng-if="tyyppi==='SL'">
    <h3>Lipputulot</h3>
    <p>Lipputulot kuukausittain</p>
    <div class="table-responsive">
      <table class="table table-hover table-condensed">
        <tr>
          <th class="col-md-3">Kuukausi</th>
          <th class="col-md-3">Lipputulo<br>(€/kk ilman ALV)</th>
        </tr>
        </thead>
        <tfoot ng-if="lipputulot.length > 0">
          <tr>
            <td>
              <span class="yhteensa">Yhteensä:</span>
            </td>
            <td>{{lipputuloSumma() | currency : '€/vuosi' : 2}}</td>
          </tr>
        </tfoot>
        <tbody>
          <tr ng-repeat="rivi in lipputulot track by $index" ng-form>
            <th>{{rivi.kuukausi}}</th>
            <td>
              <form-group-compact label="Lipputulo" errormessage="lipputuloErrorMessage">
                <input id="{{tyyppi + '-lipputulo-sl'+$index}}" name="lipputulo" type="text"
                       numeric-only="" ng-currency=""
                       required
                       currency-symbol="€" noenter
                       select-on-click
                       ng-model="rivi.lipputulo">
              </form-group-compact>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </juku-form-row>
  <juku-form-row ng-if="tyyppi==='PSAB' || tyyppi==='PSAK'">
    <h3>Tarjouskilpailut</h3>
    <p ng-if="tyyppi==='PSAB'">Bruttoliikenteen tarjouskilpailut</p>
    <p ng-if="tyyppi==='PSAK'">Käyttöoikeussopimusliikenteen tarjouskilpailut</p>
    <div class="table-responsive">
      <table class="table table-hover table-condensed">
        <tr>
          <th class="col-md-4">Kohde</th>
          <th class="col-md-2">Saatujen tarjousten määrä</th>
          <th class="col-md-2">Voittaneen tarjouksen hinta</th>
          <th class="col-md-2">Toiseksi tulleen tarjouksen hinta</th>
          <th class="col-md-2">Toiminnot</th>
        </tr>
        </thead>
        <tbody>
          <tr ng-if="tarjouskohteet.length === 0">
            <td colspan="10" class="text-info">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Tämä taulukko on tyhjä, koska
              yhtään tarjouskohdetta ei ole lisätty.
            </td>
          </tr>
          <tr ng-repeat="rivi in tarjouskohteet track by $index" ng-form="tarjouskohteetForm">
            <td>
              <form-group-compact label="Kohde" errormessage="kohdeErrorMessage">
                <input id="{{tyyppi + '-tarjouskohteet-'+$index}}" name="kohde" type="text" noenter ng-minlength="2"
                       select-on-click
                       ng-model="rivi.kohde" ng-disabled="isReadonly()"
                       placeholder="Kohde" required>
              </form-group-compact>
            </td>
            <td>
              <form-group-compact label="Määrä" errormessage="kokonaislukuErrorMessage">
                <input id="{{tyyppi + '-tarjouskohteet-maara-'+$index}}" name="maara" type="number"
                       numeric-integer-only="" select-on-click
                       ng-model="rivi.maara" ng-disabled="isReadonly()"
                       placeholder="Saatujen tarjousten määrä">
              </form-group-compact>
            </td>
            <td>
              <form-group-compact label="Voittajan hinta" errormessage="voittajanhintaErrorMessage">
                <input id="{{tyyppi + '-tarjouskohteet-voittaja-'+$index}}" name="voittajanhinta" type="text"
                       class="form-control"
                       ng-currency="" numeric-only=""
                       noenter
                       select-on-click
                       ng-model="rivi.voittajanhinta" ng-disabled="isReadonly()"
                       placeholder="Voittaneen tarjouksen hinta" required>
              </form-group-compact>
            </td>
            <td>
              <form-group-compact label="Toiseksi tulleen hinta" errormessage="toiseksitulleenhintaErrorMessage">
                <input id="{{tyyppi + '-tarjouskohteet-toiseksitullut-'+$index}}" name="toiseksitulleenhinta"
                       type="text"
                       class="form-control"
                       ng-currency="" numeric-only=""
                       noenter
                       select-on-click
                       ng-model="rivi.toiseksitulleenhinta" ng-disabled="isReadonly()"
                       placeholder="Toiseksi tulleen tarjouksen hinta" required>
              </form-group-compact>
            </td>
            <td>
              <form-group-compact label="Kommentit">
                <input id="{{tyyppi +'-tarjouskohteet-kommentit'+$index}}" name="kommentit"
                       type="text"
                       noenter
                       select-on-click
                       ng-model="rivi.kommentit">
              </form-group-compact>
            </td>
            <td><a id="{{tyyppi +'-tarjouskohteet-poista-'+$index}}" href=""
                   ng-click="poistaTarjouskohde($index)"><span
              class="glyphicon glyphicon-remove-sign"></span>Poista</a>
            </td>
          </tr>
        </tbody>
      </table>
      <button id="{{tyyppi +'-tarjouskohteet-lisaa'}}" ng-hide="isReadonly()"
              class="btn btn-primary" ng-click="lisaaTarjouskohde()">Lisää uusi rivi
      </button>
    </div>
  </juku-form-row>
</ng-form>
