<ng-switch on="tila">
  <span ng-switch-when="K" class="label label-warning">Keskeneräinen</span>
  <span ng-switch-when="V" class="label label-danger">Vireillä</span>
  <span ng-switch-when="T" class="label label-success">Tarkastettu</span>
  <span ng-switch-when="T0" class="label label-info">Täydennettävänä</span>
  <span ng-switch-when="TV" class="label label-danger">Täydennetty</span>
  <span ng-switch-when="P" class="label label-success">Päätetty</span>
  <span ng-switch-when="M" class="label label-default">Maksettu</span>
  <span ng-switch-when="0" class="label label-default">Ei käynnissä</span>
  <span ng-switch-when="FEK" class="label label-default">Ei käynnissä</span>
  <span ng-switch-default class="label label-default">Unknown</span>
<ng-switch />
