<div class="col-md-12">
  <p>
    <a href="{{haePaatosPdf()}}" target="_blank">
      <span class="glyphicon glyphicon-file"></span>
      <b>Avaa päätös (PDF)</b>
    </a>
    &nbsp;&nbsp;
    <a href="api/hakemus/{{hakemusid}}/paatos/pdf" target="_self"
       download="{{tyyppi}}_paatos_{{vuosi}}.pdf"><span class="glyphicon glyphicon-download-alt"></span> Lataa
      pdf</a>
  </p>

  <p>
    <a href="resources/oikaisuvaatimusohje.pdf" target="_blank">
      <span class="glyphicon glyphicon-file"></span>
      Avaa oikaisuvaatimusohje (pdf)
    </a>
  </p>
</div>
