.user-dropdown
  a
    user-select: none
    &:hover
      text-decoration: none

  .dropdown-menu
    width: 100%
    min-width: 0
    margin: 0
    padding: 0
    border-radius: 0
    box-shadow: none
    border-top: 0
    li
      padding: 0
    li a
      padding: 0.5em 1em

  .dropdown
    min-width: 200px
    height: height.navbar
    position: relative
    text-align: right
    &:hover
      .dropdown-menu
        display: block

      .dropdown-toggle__wrapper
        background: #1F8AC8

  .dropdown-toggle__wrapper
    padding-left: 2em
    padding-right: 1em
    cursor: pointer
    border-left: 1px solid rgba(0, 0, 0, 0.15)
    border-right: 1px solid rgba(0, 0, 0, 0.15)
    &:before
      content: ''
      width: 12px
      height: 12px
      position: absolute
      left: 1em
      top: 50%
      margin-top: -6px
      background: url('../images/header_dropdown.svg')
      background-size: 100% 100%

  .dropdown-toggle
    line-height: normal
    vertical-align: middle
    display: inline-block

  .navbar__user
    font-weight: normal
    .navbar__user__name
      font-size: 0.9em
    .navbar__user__name + .navbar__user__org
      font-size: 0.7em
      color: #eee
