<div class="modal-header">Poista liikennöintisopimus / kilpailutus</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <p>Oletko varma, että haluat poistaa kyseisen liikennöintisopimuksen / kilpailutuksen?</p>
      <!-- <p><span class="label label-danger" style="white-space: normal; line-height: 2;">Tiedäthän, että toimintoa ei voi peruuttaa ja vastattuasi kysymykseen myöntävästi kyseinen liikennöintisopimus / kilpailutus poistuu aikajanalta ja järjestelmästä.</span></p> -->
      <p><span class="label label-danger" style="white-space: normal; line-height: 2;">Poiston jälkeen liikennöintisopimus / kilpailutus poistuu aikajanalta ja järjestelmästä. Toimintoa ei voi peruuttaa.</span></p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary pull-right" ng-click="ok()">Kyllä</button>
  <button class="btn btn-warning pull-left" ng-click="cancel()">Ei</button>
</div>
