<div class="modal-header">Poista liikennöintisopimus / kilpailutus</div>
<div class="modal-body">
  <p>Oletko varma, että haluat poistaa kyseisen liikennöintisopimuksen / kilpailutuksen?</p>

  <div class="alert alert-warning">
    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
    Poiston jälkeen liikennöintisopimus / kilpailutus poistuu aikajanalta ja järjestelmästä.
    Toimintoa ei voi peruuttaa.
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary pull-right" ng-click="ok()">Kyllä</button>
  <button class="btn btn-warning pull-left" ng-click="cancel()">Ei</button>
</div>
